
@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src: url('ITCAvantGardeStd-Md.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src:  url('ITCAvantGardeStd-Md.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEQwABAAAAAAeQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABD4AAAADQA
AAA0P2JPukZGVE0AAEQUAAAAGgAAABw3dv53R0RFRgAAPFQAAABAAAAASgUtA+pHUE9TAAA+SAAA
BZUAABO+N7hP+0dTVUIAADyUAAABsQAAA75do2j4T1MvMgAAAeAAAABWAAAAYHrJEMBjbWFwAAAE
sAAAAgQAAAKCdtKVTWdhc3AAADxMAAAACAAAAAj//wADZ2x5ZgAACLQAAC5oAABM8IYK5/JoZWFk
AAABbAAAADQAAAA2CXSEY2hoZWEAAAGgAAAAIAAAACQHsgQbaG10eAAAAjgAAAJ2AAAD+j30Laxs
b2NhAAAGtAAAAgAAAAIAQi9V2G1heHAAAAHAAAAAHgAAACABSABKbmFtZQAANxwAAANWAAAHDsZV
2B5wb3N0AAA6dAAAAdgAAAJx3FEv2HjaY2BkYGBgZHBMtm4Lj+e3+crAzfwCKMJwWVPBEkb/b/z3
haWJ+TqQy8HABBIFAD0PC9p42mNgZGBgevLvD8MJlnn/G/83sTQxAEVQwD8AynkI0njaY2BkYGD4
z+DOwM4AAkxAzMgAEnMA8xkAJK4BkwAAeNpjYGL8wviFgZWBhamLKYKBgcEbQjPGMRgxujMwMHGz
MYEBSwMDw3oHBgUvBihwdHFyZQAK/GZievLvD8MJ5uuMPEBhRpAckwLTEyClwMACAMQMDwcAAHja
bZNfSNNRFMe/59ytPyalKyubzXD+aU4tYTN7CKwNf6BrZElNIla+ZJQPIQRFG/TSYxrRQxi+RURF
f3zJngrfpCeRiKAgIiihEhJ6Kdb33jkwcfDh3N+9555zdr7nyiLcTw6TJtKC03Ib/ZpGNekzNQjp
F8TwDSmZxlHSqCO4pRm0SwS1EuCdCLK6B930ryfnScfSuoxsJztIL2m1a+tv7zLGXhvH2X1oNYpK
fYt1egKeiaJJ5+BpNTz5zu/jzPuSaz/3yrBGL2FAZtBjxvn9g+fHeJ5EwpxDi55BQutRJ+8Za4x1
TaHcPMRGvct6TqFcfpFpjNiaaT3m7xH2QaPI6yQa9BGSmqN9Rq4gJGH49THXV5HEApKyufBXt8Gz
a/OKvtzXUZ4/pX2CBjlCn1mEpRvrGSehIWwwEdYSYJwt8AtrkQUMM98H2l7m90q9Z38OLvWtkmyy
Pux3O23O7EJA7iAo11Fne2Z7b/d4Nihj2O/28sybR5B74zqALs1DnT5RvOC+x/u7eb/KNKPNpMhN
RNj7Dtf3VTCvC7+dFtVFLcgBp4m/MEctamknyTy1QkmHlbCuuLNWi+VQC6uZXsYh1/dV8GVpc0Ud
loOFwhv2v5L2Afnk+l/SYSV2xkZdnMR/UAtqnLTW6ToDn9SiyncWjb4M/e0MzXJ2SzNjZ8hqE2Xt
RQZJmnwm98kU6SdZXUSb6/8FrOVshc1X6hJBhkQc7zBM4hbqe9LRhXv0u+ibwE7MI0i2YrxwjfFE
K1BjPqLCxjUTfFt9aNbnfEM/qXWKb4z/0fo6rYeYrxMxucHZSPM9pBEjcfcuh9Apf/h//f8AMQG2
WAAAeNpjYGBgZoBgGQZGIMnAWAPkMYL5LIwJQDqEwYGBlUGEoY7hP6MhoxNjMGMiYwVjHeMkpuNM
J5nuMq9k3sN8QEFEQUpBTkFJQU3BQMFKwUVhjaKwopKimqKeEpMSmxK/kpCSqJKUkpyStpKHUoJS
quqp30z//wNNV2BYADTVkTGIMQFoai3Q1GNAU29ATRVWkFCQUVAAm2qJxVRBoKmScFNTgKYy/v//
//H/Q/8n/m/6X/w//X/gf9//Vv/Y/7H9/fFX96/0X4kHxx4cfnDowcEH+x5sfbD2wZIHtvev3z95
/9j9/ffe3Ht57+G9B/fu3bt978a9M/c23Jt5b9ptI9Y/kJChPmBkY4AbzcgEJJjQFQCjhoWVjZ2D
k4ubh5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC0sraxtbO3sHR
ydnF1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGhrb2ze/KMeYsXLVm2dPnK1avWrF2/bsPG
zVu3bNuxfc/uvfseFqWkZj6uWFiQ/bos62fHrG/Fv36nl7/7+OHG95yaayt2NSbnfT3z431u7ZOk
ptbpR4/dvHXv/u07O/8cPPni5bPnf/89qrz74GlLT3NvV/+EiX1TpzFMmTN39qGzVwovXLxUdfXy
OQApUdCPAAAAJgAmACYAJgA6AE4AgADGARIBZgF0AZIBrgHSAegB9gIEAhACIAJYAmgClgLWAvID
HgNOA2IDpgPSA+QD+AQMBCAENARqBMwE5gUmBVYFeAWOBaIF1AXsBfgGJgZABlAGagaCBqgG2Acm
B1IHoAeyB+AH9AgQCCwIQghaCGwIfAiOCKIIsAi+CPQJJAlOCYAJrgnQChYKPApQCnQKjAqYCtgK
/AsgC1ILhAuYC9wL8AwUDCgMRAxeDHQMigy8DMoM/A0gDSANNA1iDagN5A4MDh4OgA6SDt4PDg8o
DzgPRg+gD64P0A/qEBIQThBcEIAQnhCqENQQ5BEMESYRVBGOEegSHhJAEmISiBK8EuITHBM+E5AT
rhPME+4UEBQkFDgUUBRoFJIUxBTwFRwVTBWKFboV1BYSFkgWfha4FvIXEBdAF4YXxBgCGEQYlBjW
GSoZghnOGgQaOhp0Gq4awhrWGu4bBhtIG4YbsBvaHAgcRBxyHIwcxhzyHRwdSh14HZQdyh3qHfYe
EB4oHmIeth8QH2Afgh+kH8Yf/iAQICIgMCBKIFggfCCiIMIg2CEMITAhWCFmIXQhgiGQIZ4hsiHG
Idoh8CIOIiQiOiKkIrQixCLSIxQjTCN0I6gj4iQcJDwkVCRyJH4kjCSYJLglFCVIJZ4lwCXcJfgm
IiZQJnh42r18B3xb1dX4O/fZUuIty5I8Na3hJdmSNSzvveMVxyOJE285XpnOIIuQQKBsykogQAgE
AgE66NePUQoUSmgKFCi0BZrQhn6Ur1AItGX5+Tv3vifHzir9/f6/v23Jtt6955x77pn3nPe4UA6/
4AvyFMdzMm4hF8FFc1yOwqDglQalRgGGcFAo4YuvjwgPv3REuBYWH3npCHlqugK+x80Ib86AMP1b
bgYyBcLNcIRbicCOk1MIS85xSoVJoVSZ3MfHxsbIqemPiXL6wK5dOIJwi+EpKJ0dZ1K46Ou+lpY7
Wlvxik34HdjYuAQui7jJA1wSp+M4s9zkNdGX18VeLjl7yU34suIVuCG5Nnk0uT5ly4KtUZcs3JpY
lziKr0sXXhZ16YLnokajvjqOX9VDNU/gV81QdfXQEC6da5l5Gqb5DM6B/6i0oDHZwWSUqeK0vEYL
qjiZHJdgB6tLCy6nx51rJ1aLO9fjdUNH5SLSH5JntHhj4rL0xpr2rsbORT1kLKQ4PTM/wWuzXddd
zmcsi+ityHR501RGtToiPLGvrGKNoq9v4Zqa3PzCDG2WPiYy4/LG3qhluN5QTjtzmgjkNBfGxXF6
LpPLRu4gMqc6TmZCPKo4tdOTazHKAD90zfnURT9GqpVgAm3/jf39tTUDdb7Feb4lXigcwH8GamoH
avMy0n2+9Iy8ncJVi2CKVAJ+TsdCep5/SV6eYGcfDPTXQbqffkASp5Nxk3CXcpGuF5CuFOSSD/nk
kmvk1ijkE7KiiHgtVkqjKi6KyDW8yLxQTRESaVFaZSJ5pGxix/drdhv721ZdpvM6dG1k1b6Axm5K
3vkYmLJCwuQKmQZysxxt+9bVeHOL4dnPbq3aW1qztSO9xm2I6WysHR6qNuWlx0fvgt05hnClKlIl
15AUh9XoFMx3+hc7q3JxLxvgKe5OJldMqu5saaHixEScaxW+gDtxDdF0n6NwZ9UalZ0g/QB3du3c
vnTs9qrqfeT0hpw3Lt/9Zs6U44Hnhgd/8aA414Jz14hzlW62MKtbS3DBYOneuUOcKnyxPvtNOnVj
tjQVuJvgWjiJ9CgQiNyroVzTmLworVavxgo9sWuM23eYVytrYyfNO3aY1irJqavbi93u0iXfu7qj
1JNbvPh7Iv4cVAYrfMmFU9pdKhOKpMntckPPsWMDx47Bly8PHjs2+LI4VjfzY+44dxnlgRe15Xhb
d/Flr74qXuO4DyEWmug1hUFlgFjhE2gaFq+toLrL7WLzqNaO76LKClzVzB3wkchTDbigChwbhN8M
8DXf/pRjOpqKspGOvFFzFpxJ5cHl1JIUiItCUbATpbj/hYCag6KR6utoTs3saMpJ9VaXam3tbe4N
i0ryWyO1BbbS+n+drp/0xusKAmX/zFueZ41O9o1CwVelXd0l38bnOHXdjM5RfBtHetByuRQmt0Hx
r6uBkJ0D08niOjxIlBbpwX9dbm8R72WaITd5vEWowWp5FESDQeX5wJrijIMan7+MrOG9qSPO0UsB
PIWvQfXyt00p+V5dUXVnzVhFtm13b+FAwfEBBpuuNRlhZ1L5ogtFoZdreRVTRKuFGgkNNRKWDHAz
a0FRP7We1C53dq0fsJckLrxxtGCtIZ1s5OvzCquXFHtNvkpneraDWKtWmsdaht0xnoK0uP49OfaC
Rm8NNPh99V3F6Rn+ApHXYfiWiWsP4yI5zuA2uMGloOJgdilgVLgLVqxvahLu//veThIikJ69f4FJ
kSfxSHcWzkOeKHHf5R5GOSM6aNeQUrl1B2wUThnyy9fsuWnT4C3RUxFtzqKlnaUtOSvJqYHHrftX
DN29eSC3dFlxydK6eKQnEeG6mXxrqVWIhlnA1Eh6NeLei2wAyxXXGXVZPdftX7O3rrDM2VFS1tld
lN9DTv06W3nVmrX7l1UHlvcfg7KO7tLKzsWM7npcbyjClzG60bgZ6uEJ4b1LIV34OTm1bHoT2clR
+5SFdOhxXzScge2NW7RHMrmWqjpdZhF47XDGgPLsLzf9s2HTixtzU/OK4JrRsWsACv2p7nWFSwrx
J7lhdUP92nrihMa1axe5G+M0g6VDV1wxVDKkiWvMhIz8/M6CAuF74G5u9nibmig/kN5cpCOGctpg
KgbKYmqqNVRQrAyfyBNIm8ONglLXkl2dXYUFPciKK0/tX1Y10tMncqICOUFE3SR6yV+idjK/Oj4+
TvS7dgl9qKiE6f2v541B7f/V+GRXewkb1c+MAHDZM/9LbCSS8dSsigSVORu+FNbBNcICsJ+YuPfe
iRNM1nK4drQ5ByV4KDX0Owf+KYSx18GB3YNnw/NmgTtUFZqNsNYhzAVdhw5OnBg4IcpuFr4B8kbH
mdCXm3BDiogoGXIZUsuUk7mQKKAuF8omSLpHlxJf5HKUycla2bXL+3fGpiWlOJLJ+HF3R67O4EjI
KclzxsrVg1Pbl+g87pSkrJJxxgvFzGfkNPmc83JViEtDRYCa+jliL2O+i+4MxhBxMpVsVk7ReaFi
e8ziPnk9bhYPkBs0vrsLlt3a43z3gRuOf69OnytzNOS2bmpblBBTVbKQpGUtP7xu7xOWuu1NVVcK
D2RrM72RCZCpcy+50ZXnrpjYU3nX//z4mqk7TJbq1rrld1T5ToNtgXVz19S1P7/SO7Yi33kCcrL8
1ial2bFa5NcCfHsFZV9OtR4tOdpekwPC4XjFTsgehYydVfod2x59FCOr5EdXQKPwI9ypapxD9TEW
9TGN2kdJ8tBEyZCvJl7lcnrpOq0W6W9vLv5Z/d6Qt74nKz9eTjoti6r7e50JzhRVYm7PxhxtCZTq
/OSUzR4YcUblFliU692JCrL1VxFJJfqssEjh9b9EJNfXJ0UyWbDOnObDcI/RGphdwfgAqD+gYZVV
Ev4iQq7Zanr2kvv+uPJHk9Xb2v1R2xKmlqy77fZ1znZf0vuBK96/e+iRUUddS1pOFxxat+GQ3m0Q
eULXdxTXt5BTnlmdzMQr2O7RlXzwek/L009t3LZ9Z0HFNnJqU+9tR46RrdN/u37z+tpFjEaEAR8g
jHAKQRJr/K6GAxh2pgrvgo2cCrw+/E5AGnuM4TszVlENuzAcWCB8ieN+Nyw8T+MDXLebyTYHJspc
aaXIX7TScXKJFVT++Og9KdbKjol77pkYqK5SCM/CS4acY5OH3v/zvVMvkNj0ZOe+rTv3ed1NK5fX
rlp34t5Df9jBBekmayW6MbbBEB3dn8Lw9NQUFE9NCc+SU8JL4JtOhorZ8dzTot9GTimqp6ik4Oey
mdPwHH6OtgoUcXLUPqoc1HnFYcDrQr30uBXwnCo+s6Be7a7xh/FkOwn36Uz2heGII2XEkZOSFqGr
cUVqQ6IyM8AQr3fBtIizC2ncxPwTwwmuhWizFV1TEL1NOAmFNwgfIoSD0CNcJ1wD7cJDdE4dvr0Q
9OeUy3VTgDZ/endgdh18G16PENedhC7PpORN/OMTB//y53vG+X80/gNHP08KMVhdPX09WS3x6n5x
35TA4wTAcPAnsJOsHRO2US5O/5q4cHzuNM1WCNu/LBZ3q0TvgRsVI9NLETcz25Y/333fiZPCT97b
sP+jW2/92+0wDg/9/oTwsxMnDsKGew+vXvPAIVFGy/HNh1CZD1AiICmNiIIMQMpRVL00gkQhKX9j
cbfRkplhtHTVB6amhuptGq3Htoic0iRp+zzuwWRtgvAZ2Sp8kxCZl1qvi+eYr8tEWgeQViWXyjlR
z1Q08KB7SJMCPdV2NTCjqmF+R0PJ5xEpE0u0BPxAatzSqsH16x7veRcWnVjqFA7B8E0RRF5fNNSW
uqrsrtXQ4lJWtfT6nXHFVYWLewmRu0snjvYfOPX+HdeMGoljzyqbPiFX3V0xsvmO6dfMcf58VWaJ
Lgr5TtfeKMoW0066cpQwpYmftTvIhPLf3F5kz0239z6y7VeJk2aXMcXSOUhOZWhHi5sLSxTCx7BI
n9VgqVDGT+8WZcCI/j0E14y5h9el5WcTMas9xG3xSPZFyjwIrjkYkhk38MlpqQpnbVxGljlSnmgs
MGvh6h5LTVkmvz4kXJOhtZcpcuwueUiax5u8fc3E7nesvqTwypwkW0pcZAi/IMpoLbP1rVNntXmU
KalxfnuiSadU8qDQZZdnrLh0O9KGdhpeZ3ZajEdVJsUPj8DLR8jWQCBIfxXSX4djkqhEKOIwSqTG
Af0fCryaaaAVo5OqKRIRaW5cZIyMJBvAZK8JrC116gFVxqnVO+Ly8+IcBh28IjibJiylJVkjoj2L
kGwi+l8DUPUAMAj/u+Wtt7cIf0VBf5gsppExcFEoPHdKesTTcfjDm8LhrZc23XhD103Xbzo+ft11
OOFpUj79FKlA7ciZfhXn0ZjzRsnuAJvIA04LA+5vlx95cM9fuZnLn3sadkGf8A8IF+4QdkKW8IZE
VyvOW0D5Is5TfPHhznvv3fkhyOE94UaYEEzCV8E1wP+I+roQg3OMa9Fswh+F56FKyIBq4UfI4b3T
JwMNJDtAx6+b8cJWkeehaJEpz2Gr8C9YeGhNJ3+0Y5rMz1tCKVMwa1kP2cHEBW0EwmgRYWjcYiZR
fegQhB3rJELHt21sTB1sJFEib5F+JS677uiqo2vXrIaNMC7cBDHCp2JeNXMZfDHzOMNFKf9CiIAv
tjnZte1kKVzP61lOivnf3Z/qPuf1e0q2UFthnvmUTJBstBUGao1N7jmOQuOmxxEsBPF6rGIQMhFI
HivbcdvdG+tH1MIV0Le0oFOlICRW1V3cNkL00ydXePIe3Lj1UHnWSuHvUD2Vn5OalWl2Fq1BXBWI
a28wVkftTAE09bPxkAqC0Q+NeioCqWO+1Yfu2VgxkgSbxppbVwVaOofIqReWuFxwx65L7ylw9kAM
NE9MNjWvXifKOF3LMlxL4hzfz9ZBD1QscgYZc+3PRhNuHbj04KEt/XcmjKqW5TXkuUebSjqfWbr+
yNTmw2t7PQXgcbe3jUGJxJ9RZkt1In9kZ8AWgsgfZE4u87hkdCD/+m377pqqXxUnXAWBJS1eH+/1
NC8epZ5vxeQDm7cdLLOufFrIgqbVeb6WFrdnEnFoEUcn0h1HtdNsYCBdTCelAFEdarCDHOF3Co6Q
yYrx7DFLTUXHzrvv27KxdaVggkDIcG3DwN8bu5Z1OuxH12480txX5O+BZcgT9GmQxPISZhtcGA3x
LpUxik8BTNsUTXV1KdbiDG2MwhgbPTAAr7aYHeWmuJBWEqa0JOlbhBzGg1iyCunTcXbRY4sJjUut
EfPqs0RGCjsklqwqsW6uHLtavSk2PcNVuzpxoGrLXfdsKhvVCN8LLG5xu0ima1kTZhGCbmddlmdV
vTkxZajDl1N8aMv2Q4WOZcJnyCqvu7neU7KK7jGGFgSDQXE9TII0NATDOIThw01WVAQ0vXkbvY4R
naWh0WIgp55stzugoXSL8DakNqdnO9OLhV9T2adhysOzZ4BulwqjOJwdCJCpiYnpq6g0U386Mz2T
zT3PxjHfjFgVNEuQmdxoQXm3YmkgTF/tWxgXEZpoiAohGyYn26f/6iguSw2BNuBVVrOWJAbjp7Az
sQmG/eiWFNUjv91++qvN76ORHXz778KrEC98KMrzGfrY+IqAFD/h5/wO3A8xvlbR8JZ6Wa9H9Hdz
eWFSUMVlXOlTdvu6XAuSlHF5Hcs8poSAVldWq08YIfGGqw0pRN9o9vkXZBnj8rypXc3Cm2BrtWbl
Wqvxr8xKq5t40iuFt2bpwj3IptwQ8VNvR7FaUDIoJlVPZVG3QzVS0VBXT/SLs3wA6bVNdow0rU1d
AO21wm9E2/MZGUE4LJZWstghbjbkoRGP+S6Q3XWX8PVdgbE7xvAHFX7dww9/+NBD66FlbPzg+LgY
71TM+MlVCEdBdVSDFFF/DJJZSQHRrshlcUxcK/qrruq6NG/fpoZVatgw2NXicXu8za2jL5K/rJhc
emn11OHStO4X4S2oW+/zHvR4J0UcZsQxGsSBduC8Uo+gJDsQUI8s2nT7gc31Q4nC5aNtTRO8z9eM
IYZ+OvHFZell923YeX9J1nLhE2hYPdG8yO9bL/EVahCHKB8qj1dlMlJ22tfLbyb65h4SOCj8AceZ
Zj6Fh3BcFo31kelGGW67RivTqFkQFjxQwb/wJ5cFJ7B/OM1iTgdwZidosjT6mAiA1W329lIyzPtN
Fhf4m0urYVWj1u9JhRsNaZCWok2NlMtjohNS0uIXDRha/VkZDqPFlhhXklffHWMsRTrQV0JBMI+h
tsVFTwYVo319gZERNCW/+AW1HxiToX3LI3q0b5KHsdJcGCU6Ds2xW0HyqMAUd9tVgRuovEyfpBKT
UdNsh2Lh9w+guEA2kzvEQ5QIB30hYPiNDp0oXwu8Nn7rrXQSmpA+OMCJ8RCvx3Fnxxk/+8n4zvUd
U9vHHu/fsBaHD8Ilwh7YP30StgmXibaSROA8uh4l78K8nFearPLQX/zX9s2btv7khR2790AShD75
pPCN8MHLLzOaQlEuKE3Uh3sZMrik+7XVt9y2Wnj7xbdIjLAWrp1OFPUG4x+4E8fSXI7FFyqMNKIg
DnO5HRi6KOtgT0urcFkLHTuOH95HPuKM9LwVRYqeZoJcC/hbnU8/sRRCrtVdBPjL44L7vGaNzaw0
52vM3kFvWbfeX+ojH7WkOV40l2vDwyo9v8yxtpaX/XKJbiy0xPOrslKK470ZGTSRT1hcgBv43tq1
5JNv40Va6xH/ZYjfxCyeU03xalSUDJl4soh4i4jXTvFbTPWDvlK/vrsMcZs1GmNShM2ntpDbW0rL
fuUpCR3TLfllWXmrNeeXSU6DUhZVk/dito3Zw4NEAUuo9oOGndihl7Z6qEHHFB3gixRPYVpZVabX
mpzVbGlojo81xkHrymZjKpT3tPPGVLWG6ebKmYI5Z1OSHV85NjYGB3btmj5AlNMfszWVciaMpZ5l
ZwMmt51nRRQXq7hQrWV+C+MGOXR3uRZlxK1cuaRiZeyEqdHfUFtYY1mj6febVoXnlpcbGq+MG+iP
7iooaZxozi9uC5di1Fr0s9lsv2gOJOYb6CVVzGEa3C76L6rJ3KgEsyS1Bm6/rTS9pESfJh9ekKtv
KhWe76mp31xquGb1ymsiJiIqfQUNBNLglnZ/ebYnweKKTtYm1+bpdT0xi8rK27Pze6/fMJhd1lyQ
5xBtlYKrIPlklEvA/IwzW2VGq9zqpaehVq/G49R4NXJKk8Ys2VlqsEKbyvaVNXtaHdmLvW3F+wrb
PC0Oe4uwvH394rZ8f3tFs8PR5G4trmsqavW22bNaPC2ljfVFLe+Af/HiqcWLRZmJRuQlaA/iGQ/k
c8oEdNliAE7sT8S98sr648dVP7ly/7b9By65A37XaXV3Hj/emWvrhAhM0vXCF+I63ptpQfm8V9pX
lFCVKKUop/cKB28RDtIzwhk5KUO+e5n1NEnHZ6ADmoDJxdjSzksmEcXVAZiw5XqDRyFu+gnO0GEg
QeKHo4Yzi1ISNYfVWntCd/6WEUNJucsIwyHNhQWlBLIdj8fG2dTKPsu2jt71Tsi0PVNc8ma8hbiX
2zMTLDFhjWGxVn9qV4WnuW19pNHV4qoq8Wca7OrFC8K1eo9hRZGzoLN3TFgKxrTYLl2hX9cbkYtr
2EbWw1HyzZlzU8wm3H8ahOxB8s0V+EVz7tiZz/ko8hnatATOTU+6g3EzLkQzGzXTelewesiOubxz
42C4Ee5698SBu0+8dxCueuLpvZc//UR+VURFWnlDS1FkcpZRVi2fbF22aX1/8yry2fs47o/3HHjf
8+zeq5555qq9z85wzoye6oYOmcpja+/bHOi7dBnSngQPwyrkfxQ7f58bH2vccikURLFnNMGqcl1T
RffysnrjMY+jOClsQUSOPt1PPhR+7SleWV69rMSzH0yFnrgEjTJR52cyYOR6YA28ibYZrbISQyaN
qZgW/0zGkeaRkeYs9g7xTz31xBP4EuUwm9tCbHArtedKA02rsuHLQWEcbhX+/N8Xr0GFzOOziyu6
GKdDqWOlR5ugYSbEauczUO6VKKYeJz1ZnsvvK59k/BZe/0lCtkvXaNTzIbysUi4jMmW6oaP6oYGl
MRFWZWyQ73f+Cfl+5c+fueqK5ybD4p2pdbpwe0apNiq8O06VFPE4bL8VFkbr1TVsvX3kaniJnKDr
AZq5viTsIyfa2hj/8uBB6CC/FGMsGhPRaoBTLT9TyO1o29SGP3/OqcrBH+KDfPpvWwGYnK4qpxNh
ZM+8QWxEjTsQLdrXoGIrUFK/Hnj55YGX4UtYe+jQ4N13Dwq9g4M0RgEbdJGPRVtgcHuDR9umXK90
Bh4N0CW8fKBAbzSlNqdktNU0a41bYaKq5Pu+DJ0t11ZsLawqsfgNm9gak1CllyO8NGoJggWj2RqX
lZbXpPN7+WzoZ0laTDL0pjSbLSPRkJackJxEWkl3Tl59nsXeU2GrjUuAx0zWNENSZmGqRq0HfXx5
QXl2gT6qyFLQok+mrpfbT1bAUd7MfCQazv1/N50md13esIVeK5mpIsnod1Qs6lRgfEmFnR6KUi3A
yLMkkJx6uckUGMjoXZr2BPmD8KcOm9Pj6oEF0yeXDlVV/ECUVzJzHckQa7QahVjQdtEDBfr9bu9m
R1NjOuR6F69eA6/29eS32WIWffsVL/v2a7Fm+jR3HIoZfawiA8W7duHnP53RAU2LMfSYU2yjwaH6
TLHNC/YkWbjBnpMVpcsI9SzQKTSamLhIe6aXzzKnemVWo04Tp1ArVcvF8wqwcR+L56S0s8Lk/rh5
CWYtFTBVxWTNhraA1qgj6K7TeH42uffOKo1RZuuuq+/uqa5ZVp5ns/p9zX7SCGW90FdavrK3FGx5
eelpfh+Dp0LdH4A3JN3XyE1eq4m9f4M6v2pV1QhVfnjjySeeeJK+mP5ihkq+ZTmTDOnQ0NMcEyjl
LmAEgyIoukpSLDzbCUW37toldOAy7nI4Wn7/B5pg4YrWvEAWs2UJvxPeLG5p8YGL2mCEzWvZ+hfS
uEzkgQFMCy8o4W8iZAXDA75ZWU/MWMJkXWIdxTjdNyv2hebSWbHH9aC88wGUe4LrUXAFtIpPT79A
eWYloRfSB3K2PpC/7tmTz8g5xZY7XdJGMgymtDRbeoIhLSkhORlaITc/xUc1ZHlFWq1KA50v0eM7
pHWWFRHzdcZRqCzPLtSJSqM1IKWeGTvmuTQeM4r2Qk6jqigyW89yqWYrM94i+Of4xHkKbVar2ZFM
A7h6sdIWn1Pqd8YsVA9t2N5uW5RuzCphZ9GsRsW/wGpUUfOqVPSoa16lasGn+s/nVqvIf7EzsCCM
l88HA1V+Hgw56v88GN49DXNgHGYwFGfRgTmEyTsPzH0PjvX3jT88D9Lt19fVXT9nTXcwWMnzYAXD
ZNRddi7kcs4DC4lWh19Zma1LN1oz87X+DHP2PBRXVVpjopOqzdHRTLZEPHdL646dT7UUhsyD30Bj
knkQbxTjkyCstxksNT1LnAtLVIe5HpT6nnmgd0BWaemykhI7qHS6TJ1uHpZjJXa8mmUv8elVaq02
U8fiw5l/IbN2oz5GU9pNcKaShqmVHOPFhQTgakys5MJXEC7sEqZ3/OhVqbL25JOggRxWL9SxeiFa
nNBz7aSXxi1oJ2ll43xVRBpewQ9UC8L02U7RhoalxKpxm6gVtd30zPmqi2FbTU9Gps8xsLEqpapN
8fubzqk4KgYvD9Yc4QP+ddH/zq0YAor4nKqh8MNPdZ9LC+Rf312yeXbu2+eZi6I9d+5R6tmkua17
6rfg3EI298c4N3b+XF4U6TnTf3RkvK9//GgQwI9nZVnE/wjDrzyLAknE5lLxBYt6JSiP7MUv3Oc3
EdJf+NfE+JiehPF03VMv/p2udjqZf006y6YnMzn8b+eMo2ucOsBWhuOama6SmR/huFb+MRwXFoQn
rmdKFVwGjn4suIaZj3B8Iv8QgxsuzQjSPjUhUowTHhJ1gTDhpPWQSFZtCdaIae3N7WWx02yt+MNf
r2x55tEvq59++GGxXowe1Lep97bDx6Ei8NprgXelorFYd76f34eeJ2luRdF8jkE4U2OEl20Ov9af
rcsw2Ox+U67DmD2/7PjDKktMdHKNOSZKrOuxGiTKGa1BJlyoCknN6tmVyNtR7s5TjYS/URkMwn37
38DFvTob7vdx584Hd4zKZxDuDxnc5AvBBXFvzyme5opbfT7wx9nOB+HvY/CtF4Z/9g6cg+pBqz0/
uSBbl2ay2vOMHgfmI+fB+tic3QiRcD8i8SzlglyT5PBsnO9QqTwflpeYTgHNIYkJ/sbkmTUDir2B
22oefbTmkcdqHn2k5pGaR4/WPPJIzdFHax4NyscJpCkUKUrhzKgTmI1JsQXlsF1sCV0IYg6+EMSI
jwScG5a6qk7eF2h1buh2V508NCS8DcWu2o23wRvCs7nVU7eSZysusV+39J4TjrLNWdcvP/Tu9PPw
Y8N9azaAQ2jQH149hvLP6pf8r8Q+3ItUMKl4XqCKOcas44UqmeRxKqzM3oq4Xvv3uJBnF8DF8oQL
43JTAZ6D6yjiMl4UlyTGF0AHtiPjGFAcvQjKWyVzhvso4jzM1me6+Aol8boA2ldF23dBnDeIFpGu
k9VikacL2KlssBpLDbRUkb2Z6vqcqixfP8ujYD9DrFQ3VM1vaVAlwJmeovKp5e2dJtrSYG1fFBiq
t7m18bSh4RJ1krbf4x5M0sXfTED4JkFfl+qLimfwy2Y+JYvJFxi3OCj8XKlPczZ0Ro9PcUidlVYL
Pc0K5lCyMpXeOOTu3dRV3bV3uLpXWRxa5fLX22zLsnU5lRXeGoMGft613Jxhn2oPZEeOVy3bA+VF
a+EPwt/ziqA2Nz/VBM0VuXml+elsb1g9ltezeqz5u1RkqcBfvCrbROX+IpVZeE6Kg0Xc5v8AN27f
xXE3Uz24GO7Syxvm4CYMt+27rZspxMXRfyT584tRcGg2VhFr4R8xGlzfhYZzbf/FyYFe5pE9CRkG
a5bf6MnROS5K2l7mEqrxjcXrIn3fSPuT9p24JCnwxem6hunxxSi5Mxjni/uUyWjI4rzfiYazwn8x
+r84RU+zdKC01A5qLU0HLkrcK6VielCap8sUswO2lyF5JBv9tpvGsWYDbamUTkOtKpHkYEOmxs1K
hhp1aPCYglXxaNGdanhInuCUVVabVpSMmvZ0lw0lrdSMl1dOlpnu3lIxkrCyaNf65qXf1o63No7l
elvah+EkDMWsKG/JNZ0ubklY1jRU7Bsedpd5l/RlX3J/kbu/b23b8gloG1/T2OzN26Bf1OSzsN4F
HetdyP23eciZ2kGwo4FlIU1x8vDzZSGWkb2znQ6NPtbpEDuacEO07awMpDXmwMTm+9f25ha4Xaz5
IatzLfKR9SbwetaboLt4dwKzRBftUMj/VH/63C4FuE+yPyIu83fCRS3PRXHlfpL6+XlwpUr2RsRF
GC7jv1uXaGkuiu63R1hGfx6MV0j2JUTq8/hGWp/p32ANau5F0V5CNfc8SHdKucjMccT8R14/P3eq
CPxM8gmzfUD0/hATO+eckztVBPZL9ls68yQzD9IaNfLt7NypIhCFtrZvgtlanszmTu/j+BiptnFW
7lQRGB4AB7M7wTqH2BOwinyMESa1b3K312L1qjVelVzNkii52Ejv1KCvn+2gp5a46i+3pC0ZLyp7
ZVeny3F46+YHAO6Y6MmPUGd+MvzAUKCpY5iMlNakq7R6VWpeTapvWefqvQ/RRqJ9UJKoyRF+AU2T
axvr102KfSHEj36ARf3n63A41+7P73mALOu5dv68bRDkL3NNPLNbn5ERXs/O6zXn74qgenZ2Z0Ql
zcDO7o6AZ+jmBmGaLwoTd/tsmEU0IjsHZhEVhCBMwmAmXohOJhlngz0pysm5kO8RhUaCjfynsM3n
h33uDpzTK9KOWVeK36dJN+EepOa6Uhznotwzh/shEt5vJD4lXWBVkvSeje8KlOWBczHsY4LNczkz
7xMr0QT1gJ598AiH3WfQM3AM/nlsgGi2bRN+ODg4tnVrUBb+iPSUITVJ1FqAS6pnsnxWtBagFLMt
My86Lvh8VW37XbsW+c309+4Wj/DJ24aM5lGofMtkaw2QsoH2zRseMrj6m7dveNiAbtesHG9pfEF4
L26yuZ7F2rRXg9n7+PN3a9Azp/kdG8LvPtV/fv62DeCYeZmFa74wXCu16PPgfoUW/Pxgd1AZDMIU
bfj5YUqWex7Y8TN26lzIfwrKoNiz8g2jN/kC0IMWeh74F6kcnB/4O0wWiNgzgrxgkhDsGqH2drZz
JA+XfqZ7hB8U10v7nK7GPCiOSoNG7H4Ta5BndTqppFangG6yqHSsPPXOqbqRRNi0anGrx+v2tbaN
vsgfebfc7XG1DXs2HyrKrHwH3oJFk768php//iSTPbGv5RtGY/QcKqU1z1KqpA5oDqnPsjUGe9f0
c3rXaDcdoJZx8Et2NsZ53V7aBYc6QO9pCKmZ2rULQoU9v93ohn7hdM/Glf8IQBitO6nwLVbsM1LK
g5MUpu7KykBzcwBs2eMOaBZOe0d9wi2c2Esfkk1Oo12ysOqj+D2/Y6sQ6AEkcyAsSOVT2TFxhLAr
64bmg+++/UDf1TrY/u3oTZ/cTG5eP3Uz2UqPJEtLK+vfO3j3+61FZSUB4R8wefj+9VN3H5LiTSfG
byYum0bFomf3BF07u1N1NnhjDXtaCJ17b5oYbMpCnIIzdLja06YaM+U19nRvSNRuae++oujeSxu3
pyRsWrKpNSvj27axppbhQHPjBLwDfQtW1FUMfN60NCejKdPfllfSsHRnxaYHFxXmtrfbtxigeWJD
bd3UaFr+iiViPZ32sfNHOB9X/B92sitpQ5Tc9J83tOtR38Yfqv0P+9p5v3ReQe/x+xR+Sr7FfCP3
P+h4E8n9TxrfhF0ipd+tAQ6Kg3mjeLZxmJ1txMw93ZCURTrhmGQeYu4Rx+F55yPwP/wh9D0xczvQ
zdIq5jWiC3X0sOfh2tmG9J/X1V2HMGh/2VHylQjjTIeZxIk5jWbCWnGhwYYz8hUFwGq8YTPZRIW6
Q4vfLpWJF4+CvGK1Q2lyu8Q2U7mR3rYDlw1vqImzFK4zqRXxYak5SRGyusCU0u9rj42NVoRlqBNI
SIuwbr2zWb5Cpsq06uCOlku9Hr4dZMlJ0n0JZC18wBPW0ydaa8gXk/ZgEEnHjMEHuP/0fkFxLVV0
BDLgW0lGLtYDAdwish7ew5gyks5nTctSIrioXalJdixObg8bb6mdJB+rw8IzvGW06YP7M86pYXEr
89VQw3pxxL06TJpgN+bA4cwynTe7BdVsPUtMYPnMs5NU4P57xglrEWICxxlcUQvFbhmVlApAVD4f
LYuUhYXKeZIaH2tI0+cWpJPwkLDQMHnYwnBZvDGiINqbbhR7IxeTLfA2xkyKM710Z2IjeIydQHsS
0kwsHsVYaH7gSbgVpAftgkXqQUJfVIyOfsX9+Uevu7/gEfL9G4uu8uBL5DWtsf+CfEq9kNctWTXp
QQUu5D29tyjYg6TB/1/Ib3z8ez031jT7bxf+WdiW1VuyYkN7gfCPDt5zT//Nvxzc1zH0gJPvKLHd
P1V1SeuBzZMPm0s6/l/2V+CKSDdJ49TUeiAYk8WtMMmI3OSJ9TImGUhLc/Rw7JGQ9KTh5DRSY43K
moLH4FXhlX6/YQPkjQof1C6BuMGIKj2FZ+I+hN+I/UP0rlQTPCK0ig1E7Br/wpxr/MFve4LXOokK
OOnZACjrj9e3dJBT0j2xaUTFvS5dQwlPq+/B0cFrM4e517kpdv+7dK1LvJ+ecOMI897ZHnaE6sLX
ywj5fyXobCDh3DhudHac9OQKd/3yjkJ8UUzBcTOHYZThkovY5o7rkoYhTUtnGkm86JPZ8wBYLwTa
nIkjR0aOHCGnnuue3kMu6X5u7lhlcOxsY+DsnCNHAg/hFzl1aKlw89LXX18Ko0sP0bn3cd/Cfvic
9Rqz503Q/iUwgLO6ZqimGj6vHaqpGaoV4+U1+LaJPXdAzDVpp5L0WjN+Er8vY184Vs6lYIywa85z
LjxcGb1T9z961kWoNHh+fwttOEnpv3Fg4HxPwKjziU/A8EE+Dhm8fqA2D//xLfEJ33zHR2JkzPk/
LzPjzDMyAKPgHu5N1i8jdcolSd1xTz75BL2uxuuvStdZH83QnA4aDmYuxUEJogzS2v0OKO6iN3Wy
ew6A3d/+Bes5l5vm9BbyJq8L+eDGX7FoBvhgWytaaQxID0Qdi5tUak0Jsv4Fm5e9rO2OqoYlUY36
X2XWZhmj+d6wosy8wvBPoz6EjoYn5Oocy+p+SGhIlsfLGiAmOd3nTHB5O7obzMlUNpNn/glf83Yx
G2KVT4s114oK7FVIN1bLxbNHXoVbQU8Fjttrr+jolkFeSk3kQENl9VuQb8+oee/6cp390cxrRloW
hNjzCyJBffnOwaaHXrVVVfvhgWMHpwbFWCkGbPxydr8a61wXb/xU8CZeYZBus4M1geuuCTRe67lW
eHIEzKvABk+hh24UKmCZcAi6hfthY2WlcOX/T7tJn4fxOb+Z3fND41+DMQXEfEDyejGMV1a3dJMI
XnUZnPzm6cbQhZO3tFybW+j/4eBjX3/92A++vjNs8vs3T4aFktgQGA75TVTY2or8iuaTUPT++3cp
Xo8OG18TFvNrOeNV+sy/SDJfgr4McSqtnrldkzTmdYlxrjJ4mEkXOW5YNLrh4C17Byd3ryjsVACM
tTSvhJL28Ig6Z35bKXm8qeD1n79w+pbeLbcV6sN0m++dHr6x31y2ZlFFFyfV+8lN5J8oz7S3wa10
KVVmA48RIMY6cp2w7avpL+GWK1ASQ0Id8jLy4+nG8iUQSLguUX25munLzD7ypmTDqAEziA1d5M3V
I8KXgdXkv8nuaTX5iL5Wis+w2Ec8Yu4SanAvBDfNK5QYbhDP9J8gWviWEOHavwkC3D5UCStgWd1S
Xjgm/IAXn59yjFjBzp5tgvNyMOGnfZIX1bkL9faZZobJGL+exXsojXKrV0k7nj1eJRn7W+ehRcqD
W/gonvART/Prv/kc/qgrKhFuiM4Lh8RCvoA+S4fbxRN4F/fKQbOAYHvY3PSIRnmYoaCay7z2EHG7
zCZjFC8P9prxpK88u9uT2+kvX9lb513q8Ce686s6p9+DiPjYhIgkeQqoI20JNpXDWwgPg9KSqk4N
9ZRbszx5uM6mXn9ZYXFfXUNfib84zgrLfyaTxy5MlOtJcnRmVEyZM6v4ZJRWlRZa7CxPzy0W9Sd2
pgk289dw1AnLpUQ3lt7eK0WotAZIj/RphAqbI+NijXH66HRzW4Y+Ol6jjdVHJ+szKsz8ztqwxLTr
2oT7l91QURbbEKHOunQ59C7pHjNmij41k7uK6OBNTsvlS9EUu3MZhcrKEm5eow1BJuggeEUmXVhA
H6vxpdW9ROtMLzRqrPExaQlN9uikpOikkFBdmDo2TJsVb/UsScnJyE81ZCZIV2MSF2jDNMpwbQa8
kTqiTEhNSE5IdeSFhi+IJrwiNIy33JwaUMabbdbUbPZpiEIWxpsZT3I5K/rWbOZb5ehX8WWgz6Jy
u/Bl8MKDmft/XP4v4VOvy37bD8q/gEgPSewvubnkEvUgvm+WfP40SSBXiF4zC9xmVagqVIPZA1EL
qfCOMAz7eCEZTg1/Uvlxw3PkFz8pFfnkwXnxwXlKnOM2u8006yjASWa4HSe+K2jhT+SKTyo+aXie
PD/9XCmd55t5hWTzKtRbpSjBqLm8xWqSyXkltRRekv1m+6tvtK+9MjqUl0XtvTJSFiIPhzXCcrgX
DgndEGdRpWiFz4S/apP08SIt9D7Hn6LNY70SEAxHztzsiLpNsxdovj0w95ZHgAB+YaSXc/atj9Mn
ydSEKHdB2EnnheyiYczZcG8/P9Dnp1P+DyjySp542q1Uy24bNxQ9I0s2jCRGHkCKNkXBRZHVhPLY
MmBH2UiK47iwW8MWiq4KUBpKGngewgxlw9ugi3xCFkGALIIi+Yj+Qj+im2zyDznkMDWQNuhzCM4c
XvLecy95OAC+DL5HgPr5Fi88DnA7uONxAytB3+MlfBU89biJW8GvHrfQaRx6vIxbjTcer+Bg6QeP
V7Hd/MzjK/i8+ZPHa/i6+dbj6/iiNfD4BpZbqcc3cbv1kuxBc5Wj5y4TiwOEeOdxA2vBhsdLeBB8
43ETd4OfPW5hFvzm8TLuNp54vIJnjV88XsV86ZXHV7DRPPJ4DY+bLzy+jk7rmsc3cLX1o8c3EbYq
DFBgjguUSDDFDAYCr9kj7LBtMucPuOPwBtbZIqIeYvqOoIlPGKGir0bGr8A+cow5WzK2fSs3F0Ny
znqmbALHv3NWbqT51Vx95tdiUMwvymQ6M+K1iHZ2NkP77oRiY309Er24GGlxclEZnVViPx8X5bwo
ldGxFKKXpuLYelbiWFe6PKMVTGvIgm0CZ0wpd8XuEZWkq8swRAKHfGN/OBC9M5UbsafKmEwmFoe0
2zynWLAC64hjPV2kiiBixnZnttElwUP0sUtUU14SXtLVZPdqskiuR9vd3sP+bpe8jtaxkvSeJf2b
Yf7U9zv6PnLHeJngEf2EP0rpv10nhtLtRG2VFIC1Z2Q7pb0g14TWlAc3cms67BG2GHOLRMNHoi7k
6ETwiCR7d1CU2lrlZtTN1KkuzESmySiSHRltbW/9t9L+6kD3XMozpjvmKHE6U+zGaTJ2erWrT2kr
WFqtXONUmDvVJrRbZPU6pMrnnJtwPHbxBx9pvF4t/yievcLMkrFIKqGEKVWsM1WeimJC3Rpd5sok
Ra5SMbyY64kaazHwYqaZ0R67hEYkPKDwRi6dhEShS6pgETYV5ZO2l8jO7Dot9znKnWATl2L40dX9
UFStfsXiJiTU5UgcLEYqTfJQDItMDBSzrHQodmPR1/l0kSgT+jtos+b1UBN62ttsGPA+2mznrkm3
1zWhdP+FjHPGE2NmzPx+u31+fi6VjSfHRdY2jPlvorW5NfZ+2i2Szj8j+jRHO9VTlcqZydJ/Kqda
np86akoUVK79kyXc/IwDHSeL7P/5C70HX8ZTFQAAeNptzXeYzwUABvDP9+64Ya+GvTNz95NzF5W7
s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z+ed9nleEvNzJFXK/3Lnb
QIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiqmupqqOkRtdRWR1311Peo
BuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfBs57zvI46eUFnXXTVTXcv
6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbDImvc9q//LPOpI76wzsv6
mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxLDPK6wbIMkSPbG4a67E1v
e8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371vV+CAkFB822y2VbbHLRF
rkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP/uiczHB8fEp8vs3zDKUl
59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8Pw7iPrAAAAAH//wACeNod
y0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+uXSl6e5GboZ+ePU6//gA
5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43UNMTMipC/QP4Cf4Slhb9C
sabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl4PMTXcwLDEK7oy8IkEmS
WgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OKGMEEZjCPJWxhG1XUfd0O
a6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6glM00EQNZ/oTxgYwiAKz
45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczTuT/pds6pDrZwQ//kCh25
4i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9szRu9Z1r7+IuIWwrDzcdXr
pGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrbc9IR52htSnuhfkFtSms1
+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB42sVYbUyVZRi+3gMcka8j
IMi3qHypoVtWKvGjH6ZSWpmZaVZrg62t1o/Wj36y/lRb64c1TXSpDA7FhCJMsZYFhuFOysf6UGGe
VGRA1Mwky63urvd+D3DO4Mgr57jOted5n/d9vu77up7PAwNADHJwF4yXnn/1ZUQjkl8gAjPHeLHi
FfMbrDfmOfh0IMZYD8PI0rIuFOFu4gGsxQY8i3LsQhcuYcRwGnFGKkv3SiUuMEQggnGflMPLYPDt
S41b2E61/I5aBjdDA4PB1A3E8ftZ1DDUMrhlBHV81ks7DjE0MH2YoYXhuJxHh1xHAm0Aa3lYy8Na
HtbysJaHtTys5WEtDxpZ5mOGTxCFI9LEFjy0wS09LNHNt262d5GWt0gzUx1wopqlaxhqGdwMdQxt
Mkw7e6WCJS3PKtSfSsYueutCIrLJ7WKswEqsRglKUYZe9MELR6LbZC+hck4klpB9yKjclFGE/Sff
yTnpkW4fjkkfsUc8ckDqpC6Edn9lGAma2y/9YfPgml/6N+LSjFu6ETTnLys2EVb2bxCnw9Zar1zj
SDVTJ6SDo3UmbQzKVfklOA8TY5CjOzw/F1xyRs5MtEobBmWYGAyZkY3yHFeRsbcRa0QGH5e2271M
C7tnXHtg6tEb1pH1Z+BslCGugGNvo5aKdtcTu3zJeauPiZ6mKf/TRGn5/hbleqyxbHdES5/GneY8
0NRermc1clSOBluN/j/d5ALDz3eg3X4qPhA0129ucSebeS8/aNzNNaNTU+eIKeaFvbkiQ3bsDess
KZZVUu+/e1jPkBuODalmvN+7M8DeJmnUbwTPA17Vzile5nhlgBxZOcNIY9xlZ+cM3Ve5eou8m8H3
1JD6/DsMGk3fyxW5Yj1tlW6zZpJvTnwWkLdPdsoxPxWbrCdD86R2mqVLOuW0tXZNuw9dtla7MHvu
Fvfk05rtdfK6rgk65+VkQM4LxJ7xt92y21xVzXiKVo6aJyO2Y4eHBmnwX0d883jI7plnYhxbe9J4
zi7CM3bm46mqlfEfZjzl6euynl1uWw+56Bs5tldik9vp11TzLD+xH4Y0Hmql2n8ftHaWYPuL/xlZ
fhxPWTvEkYCSrxEHxt+qpErVqwoo02q9y7u+vabDXO9s2Fx3h1aFGbUrn9os1z7pS7lfWk9J8o68
HaS27mVySM7KvsA9+jZ/Dt7XeR/n3TSPMJBPRKCAiEIh4WTOYszm3XQJYlBMxGEZkYDlhEtv/Mm8
165ACu4hUnEvkYb7iAzedlciC6uIbN57V2M+774lWID7iUW8BZeytwcJB9YSkVhPzOLduAzReJiI
xSNEPB4j5mATkYjHiSRsJuZiCzEPTxLp2EpkYhuRg+1ELp4mFmIHkYfX8Qa9e4uIwk7CiffwPi2v
IpKxFx/Qwv1EPg4S6fiIiEQ9GmhPM5GIw2hhv58TSfiKyMPXhAOtRB5OEC60E8k4SSThWyIDHUQ6
ThH5vPH3ktE+oggXiAL8g3/pqYMM8G5ED00UsK9E/ccgm8znEEtUmyRVJVKViFLencr4LOV6qXId
rVzHKNexynWccp2lXMdjDTFPuc7GOiJHGU9TxtPxEDFfeU/GBiJD2Z+LR4kU1SBXNVigGmSqBgvx
BLFIlShUJYpUiTw8RcxWPQzVw6F6pKoeEXiGyKcqb9IvU5VI1cOpejhVjxjVI96nRzU+pOWmKtmq
Shoa0UQLTW0WqDaZqk0mvsBx9msqFKHaRKCNyME3RIoq5FSFMlWhpapQkSoUDw+Rrwq54CUSVKF0
2p6hswT0q5D+LFYNijkDZlGHUtq6hpymkMsyWmYyaHGXSc42k/0tZCSXTOwgU+ZILFSfi3UkLlPP
l9Pv/VTzIH0roU8tVMf0ZyP9aGVL5vjaRNtPkXnzn6OtOoK2qX3b/wPXBdcFAAAAAAEAAAAIAAAA
BAAOAAJpZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEAAgAIAAwAAf9WAAEAAHjaY2BgYGQAgmOp20+B
6B0di8NgNABPZAcgAAA=) format('woff'), url('ITCAvantGardeStd-Md.ttf')  format('truetype'), url('ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}


