/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)
=====================================
    #RESET
    #HTML5
    #BASE TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
    #IMAGES
    #CLEARFIX
===================================== */

/* SITE SPECIFIC (Custom CSS for The Client Site)
=====================================
    #SITE-SPECIFIC GENERAL STYLING
    #SITE-SPECIFIC TYPOGRAPHY
    #LAYOUT/GRID
    #SECTIONS
    #MEDIA QUERIES
    #@FONT-FACE
===================================== */

/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* HTML5 */
header, section, footer, aside, article, nav, figure {
  display: block;
}

/* BASE TYPOGRAPHY ==========================================================*/
/* BODY */
body {
  font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%; /* 1em = 16px */
  line-height: 1.5em;
  color: #333;
}

/* HEADINGS
  48, 36, 24, 21, 18, 16
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-size: 3em; /* 48px / 16px = 3em */
  line-height: 1em;
}

h2 {
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  line-height: 1.2em;
}

h4 {
  font-size: 1.3125em; /* 21px / 16px = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.4em;
}

h6 {
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.5em;
}


/* PARAGPRAHS */
p {
  margin-bottom: 1.25em;
}

/* LINKS */
a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #fff;
}

/* LISTS */
ul, ol {
  margin-bottom: .5em;
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin-bottom: 0;
}



/* IMAGES */
.scale-with-grid {
  max-width: 100%;
  height: auto;
}


/* CLEARFIX */
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  clear: both;
  *zoom: 1;
}



/* SITE SPECIFIC CSS ===================================================*/
body{
  background: #fff;
}

.container {
  position: relative;
  width: 62.5em; /* 940px / 16px = 58.75em */
  margin: 0 auto;
}







/*MAIN NAV=====================================*/
header {
text-align: left;
position:relative;
background: #363a3b;

}

.mainnav li{
text-transform: uppercase;
font-size: 0.8825em;
display: inline-block;
padding: 60px 70px 15px 0;
}

.mainnav li:nth-child(1){
padding-left: 50px;
}

.mainnav li:nth-child(4){
padding-left: 204px;}

.mainnav li:nth-child(5){
padding-right: 50px;
}

.mainnav li:nth-child(6){
padding-right: 0;
}

.logo {
background-repeat: no-repeat;
background-size: 32px 59px;
width: 130px;
height: 75px;
position: absolute;
top: 10px;
left: 420px;
}

/*SEARCH BAR----------------------------------------------------------*/

input[type="text"] {
    background-color: #605f5f;
    border: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 9px;
    font-weight:lighter;
    font-style: italic;
    color: #bebebe;
    width: 110px;
    padding: 6px 30px 6px 1px;
    border-radius: 10px;
    position: absolute;
    top:15px;
    right:65px;
    }

/*search icon*/
.button-search{
  position: absolute;
  top:17px;
  right: 75px;
}



/*SECTION01-----------------------------------------------------*/
.head-typo p {
  color: #333;/* #fff  able when insert Slideshow*/
  text-align: center;
  font-size: 3.9375em;
  font-weight: bolder ;
  text-transform: uppercase;
  padding-top: 187px;
}

.head-typo a{
  color: #333;/* #fff  able when insert Slideshow*/
  text-transform: uppercase;
  font-size: 1.875em;
  font-weight: bold;
  border:2px solid #333;
  padding: 6px 10px;
  margin-left: 400px;




}
