/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)
=====================================
    #RESET
    #HTML5
    #BASE TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
    #IMAGES
    #CLEARFIX
===================================== */

/* SITE SPECIFIC (Custom CSS for The Client Site)
=====================================
    #SITE-SPECIFIC GENERAL STYLING
    #SITE-SPECIFIC TYPOGRAPHY
    #LAYOUT/GRID
    #SECTIONS
    #MEDIA QUERIES
    #@FONT-FACE
===================================== */

/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* HTML5 */
header, section, footer, aside, article, nav, figure {
  display: block;
}

/* BASE TYPOGRAPHY ==========================================================*/
/* BODY */
body {
  font-family:'ITCAvantGardeStd-Bk',Avant Garde, Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%; /* 1em = 16px */
  line-height: 1.875em;
  color: #333;
}

/* HEADINGS
  48, 36, 24, 21, 18, 16
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-size: 3em; /* 48px / 16px = 3em */
  line-height: 1em;
}

h2 {
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  line-height: 1.2em;
}

h4 {
  font-size: 1.3125em; /* 21px / 16px = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.4em;
}

h6 {
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.5em;
}


/* PARAGPRAHS */
p {
  margin-bottom: 1.25em;
}

/* LINKS */
a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #fff;
}

/* LISTS */
ul, ol {
  margin-bottom: .5em;
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin-bottom: 0;
}



/* IMAGES */
.scale-with-grid {
  max-width: 100%;
  height: auto;
}


/* CLEARFIX */
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  clear: both;
  *zoom: 1;
}



/* SITE SPECIFIC CSS ===================================================*/
body{
  background: #fff;
}

.container {
  position: relative;
  width: 60em; /* 940px / 16px = 58.75em */
  margin: 0 auto;
}



/*slideshow=====================================*/

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 80%;
  width: auto;
  margin: 0 50px ;
  padding: 16px ;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
color: rgba(255,255,255,0.3);
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/



/* The dots/bullets/indicators */
.dots{
  position: absolute;
  top: 87%;
  margin-left: 45%;
}
.dot {
  cursor:pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






/*MAIN NAV=====================================*/
.mainnav {
position: fixed;
top: 0;
left: 0;
z-index: 10;
width: 100%;
text-align: center;
background: rgba(0, 0, 0, 0.7);
}

.mainnav ul {
  margin: auto;
  list-style: none;
}
.mainnav li{
font-family:'ITCAvantGardeStd-Md',Avant Garde, Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
text-transform: uppercase;
font-size: 0.8825em;
display: inline-block;
padding: 70px 50px 10px 0;
}

.mainnav li:nth-child(3){
padding-right: 250px;
}

.mainnav li:nth-child(6){
padding-right: 0px;
}

.logo {
background-repeat: no-repeat;
background-size: 32px 59px;
width: 150px;
height: 75px;
position: static;
margin: auto;
position: absolute;
top: 10px;
left: 380px;
}
.mainnav li a:hover {
  color: #ffb700;
  border-top: 1px solid #fff;
  border-bottom:  1px solid #fff;
  padding: 10px 0 5px 0;
}
.mainnav li a.active {
  color: #ffb700;
}
/*--------------------------------*/
a.nav-toggle {
  display: none;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 20px;
  right:25px;
}

a.nav-toggle:hover {
  background: transparent;
}

.nav-toggle:before, .nav-toggle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.nav-toggle:before {
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.nav-toggle:after {
  top: 12px;
  height: 4px;
  background: #fff;
}

.nav-toggle.active:before {
  border: 0;
  top: 12px;
  height: 4px;
  background: #fff;
  transform: rotate(45deg);
}
.nav-toggle.active:after {
  transform: rotate(-45deg);
}

/*--------------------------*/


/*SEARCHBAR------------------------------------------------*/
.mainnav input[type="text"] {
    background-color: #605f5f;
    border: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 9px;
    font-weight:lighter;
    font-style: italic;
    color: #bebebe;
    width: 110px;
    padding: 6px 30px 6px 1px;
    border-radius: 10px;
    position: absolute;
    top:15px;
    right:65px;
    }

/*search icon*/
.button-search{
  position: absolute;
  top:17px;
  right: 75px;
}
/*----------------------*/








/*========================================PAGES===========================================*/

/*<!--section1------------------------->*/
.section01{
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size:100%;
  background-position: bottom;
}
.head-typo{
  width: 900px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head-typo p {
  font-family:'ITCAvantGardeStd-Bold',Avant Garde, Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 3.9375em;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}

.head-typo a{
  font-family:'ITCAvantGardeStd-Bold',Avant Garde, Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875em;
  border:4px solid #fff;/* #fff  able when insert Slideshow*/
  padding: 10px 12px 0;
  margin-left: 35%;

}
.head-typo a:hover{
border: none;
}
/*----------01B--------------*/
.welcome{
  width: 45%;
 margin: auto;
}
.welcome p{

}
.welcome h3{
  font-family:'ITCAvantGardeStd-Md',Avant Garde, Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.5em;
  color: #b0b601;
  padding-top: 20px;
}
.line01{
  border-bottom: 1px solid #b1a69b;
  margin-right: 20%;
  margin-top: -10px;
  margin-bottom: 30px;
}

/*arrow*/
.welcome i{
  font-size: 4em;
  position: relative;
  margin-left: 45%;
}
.welcome i:hover{
  color: rgba(255, 255, 255, 0.5);

}

/*----------------------------*/









/*<!--FOOTER------------------------->*/

/*>>>>>>>>>Newsletter<<<<<<<<<<<<<<<<*/
.newsletter{
  background-color: #4aaaa5;
  padding:3% 10%;
}
.newsletter i{
  font-size: 1.5em;
  position: absolute;
  top:10%;
  right:33%;

}
.newsletter p, .newsletter .email, .newsletter a{
  display: inline;
}
.newsletter p{
  font-family: 'ITCAvantGardeStd-Md', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #fff;
  padding-right: 1.4em;
}
.newsletter a{
  padding: 8px 30px 8px 30px;
  color: #fff;
  font-size: 1.125em;
  text-transform: uppercase;
  background-color: #050505;
  border-radius: 7px;
  margin-left: 1.4em;
}
.newsletter a:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.newsletter input[type="text"] {
    background-color: #fff;
    border: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.125em;
    font-weight:lighter;
    color: #0a0a0a;
    width: 40%;
    padding: 6px 30px 6px 1px;
    border-radius: 7px;
    position: relative;
    display: inline-block;
    }

.footer {
  background-image: url(../images/bg6.png);
  background-repeat: no-repeat;
  background-color: #363636;
  background-size:100%;
  background-position: bottom;
  color: #fff;
  font-size: 1.375em;
  text-align: center;
  }
.footer h5{
  text-transform: uppercase;
  padding: 75px 0 25px 0;
}
.hours{
  margin:auto;
  width: 50%;
  border-bottom: 1px solid #b1a69b;

}
.location i{
font-size: 3em;
padding-bottom: 0.5em;
}
.social-icon i{
  margin-top: 0.75em;
  padding: 0 0.3em;
  font-size: 1.70em;
}
.location{
  padding: 2em 0;
  margin:auto;
  width: 80%;
  border-bottom: 1px solid #b1a69b;
}
.footer p{
  margin-bottom: 0.6em;

}
.location p:first-of-type{
  margin-bottom: 2.5em;
}

.copyright {
  font-size: 0.7125em;
  padding: 30px 0;

}







/*==============================MEDIAQUERIES=============================================== */

/* Tablet =====================================================*/
@media only screen and (min-width: 48em) and (max-width: 62em) {

body {
  font-size: 87.5%; /* 14px / 16px = 0.875 * 100 = 87.5% */
  }

.container {
  width: 92%;
  }

/*------------------------nav--------------------*/
.mainnav li{
margin: auto;
padding: 105px 72px 5px 0;
}

.mainnav li:nth-child(3){
padding-right: 72px;
}

.logo {
position: absolute;
top: 10px;
left: 40%;
}
/*-------------section01-------------------*/

.welcome {
width: 50%;
}
/*-------------footer-------------------*/
.newsletter p, .newsletter .email, .newsletter a{
  display: block;
  text-align: center;
  position: relative;
}
.newsletter a {
  margin: 2% 35%;
}
.newsletter i{
  top:10%;
  right:30%;

}
}


/* MOBILE =====================================================*/
 @media only screen and (max-width: 47.9999em) {
/* MOBILE =====================================================*/


body {
    font-size: 75%; /* 12px / 16px = 0.75 * 100 = 75% */
  }
  .container {
    width: 96%;
  }


/*-------------NAV-------------------*/
.logo {
width: 80px;
position: absolute;
top: 10px;
left: 10px;
}
.mainnav input[type="text"] {
  position: absolute;
  top:25px;
  right:80px;
  }
.button-search{
position: absolute;
top:30px;
right: 85px;
}

.mainnav ul {
 padding: 60px 0 3px 0;
 display: block;
 }

 .mainnav li {
   float: none;
   margin: 20px 0 0 0;
   padding: 0;
   text-align: center;
   display: none;
  }
 .mainnav li:nth-child(3){
   padding: 0;
 }
 .mainnav li a:hover {
   padding: 15px 50px 5px 50px;
 }

 a.nav-toggle {
   display: block;
 }




 /*-------------section01-------------------*/
 .section01{
   background-image: url(../images/bg1.png);
   background-repeat: no-repeat;
   background-color: rgba(251, 175, 93, 0.2);
   background-size:100%;
   background-position: bottom;
 }
  .head-typo {
    top: 60%;
    width: 80%;
    line-height: 4em;
    font-size: 80%;
    }
  .head-typo p{
    margin-bottom: 0.25em;
  }
  .head-typo a{
    margin-left: 27%;
    }
    .welcome {
    width: 60%;
    }

/*-------------footer-------------------*/

.newsletter p, .newsletter .email, .newsletter a{
  display: block;
  text-align: center;
  position: relative;
}
.newsletter a {
  margin: 2% 30%;
}
.newsletter i{
  top:10%;
  right:30%;

}
}

























/* @FONT-FACE */
/*--------------Book---------------*/

@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src: url('ITCAvantGardeStd-Bk.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src:  url('../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
}
/*--------------Book Bold----------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url('../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src:  url('../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.woff')format('woff'), url('../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
}
/*--------------Book obl----------- */
@font-face {
  font-family: 'ITCAvantGardeStd-BkObl';
  src: url('../fonts/ITCAvantGardeStd-BkObl/ITCAvantGardeStd-BkObl.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-BkObl';
  src:  url('../fonts/ITCAvantGardeStd-BkObl/ITCAvantGardeStd-BkObl.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-BkObl/ITCAvantGardeStd-BkObl.woff')format('woff'), url('../fonts/ITCAvantGardeStd-BkObl/ITCAvantGardeStd-BkObl.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-BkObl/ITCAvantGardeStd-BkObl.svg#ITCAvantGardeStd-BkObl') format('svg');
}
/*--------------Bold condense---------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-BoldCn';
  src: url('ITCAvantGardeStd-BoldCn.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-BoldCn';
  src:  url('ITCAvantGardeStd-BoldCn.otf')  format('opentype'),
	     url('ITCAvantGardeStd-BoldCn.woff')format('woff'), url('ITCAvantGardeStd-BoldCn.ttf')  format('truetype'), url('ITCAvantGardeStd-BoldCn.svg#ITCAvantGardeStd-BoldCn') format('svg');
}
/*--------------Demi---------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('../fonts/ITCAvantGardeStd-Demi/ITCAvantGardeStd-Demi.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src:  url('../fonts/ITCAvantGardeStd-Demi/ITCAvantGardeStd-Demi.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-Demi/ITCAvantGardeStd-Demi.woff')format('woff'), url('../fonts/ITCAvantGardeStd-Demi/ITCAvantGardeStd-Demi.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-Demi/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
}

/*--------------Demi condense---------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-DemiCn';
  src: url('../fonts/ITCAvantGardeStd-DemiCn/ITCAvantGardeStd-DemiCn.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-DemiCn';
  src:  url('../fonts/ITCAvantGardeStd-DemiCn/ITCAvantGardeStd-DemiCn.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-DemiCn/ITCAvantGardeStd-DemiCn.woff')format('woff'), url('../fonts/ITCAvantGardeStd-DemiCn/ITCAvantGardeStd-DemiCn.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-DemiCn/ITCAvantGardeStd-DemiCn.svg#ITCAvantGardeStd-DemiCn') format('svg');
}
/*--------------medium---------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src: url('../fonts/ITCAvantGardeStd-Md/ITCAvantGardeStd-Md.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src:  url('../fonts/ITCAvantGardeStd-Md/ITCAvantGardeStd-Md.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-Md/ITCAvantGardeStd-Md.woff')format('woff'), url('../fonts/ITCAvantGardeStd-Md/ITCAvantGardeStd-Md.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-Md/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
}
/*--------------medium condense---------------*/
@font-face {
  font-family: 'ITCAvantGardeStd-MdCn';
  src: url('../fonts/ITCAvantGardeStd-MdCn/ITCAvantGardeStd-MdCn.eot')format('embedded-opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStd-MdCn';
  src:  url('../fonts/ITCAvantGardeStd-MdCn/ITCAvantGardeStd-MdCn.otf')  format('opentype'),
	     url('../fonts/ITCAvantGardeStd-MdCn/ITCAvantGardeStd-MdCn.woff')format('woff'), url('../fonts/ITCAvantGardeStd-MdCn/ITCAvantGardeStd-MdCn.ttf')  format('truetype'), url('../fonts/ITCAvantGardeStd-MdCn/ITCAvantGardeStd-MdCn.svg#ITCAvantGardeStd-Md') format('svg');
}
