/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)
=====================================
    #RESET
    #HTML5
    #BASE TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
    #IMAGES
    #CLEARFIX
===================================== */

/* SITE SPECIFIC (Custom CSS for The Client Site)
=====================================
    #SITE-SPECIFIC GENERAL STYLING
    #SITE-SPECIFIC TYPOGRAPHY
    #LAYOUT/GRID
    #SECTIONS
    #MEDIA QUERIES
    #@FONT-FACE
===================================== */

/* @FONT-FACE */
@font-face {

}

/* RESET */
*{
  margin: 0;
  padding: 0;
}
/* LINKS */
a {
  color: #afb5b4;
  text-decoration: none;
}

a:hover, a:active, a:visited{
  color: #d7abac;
  text-decoration: underline;
}

a.active {

}

/* IMAGES */
.scale-with-grid {
  max-width: 100%;
  height: auto;
}


/* CLEARFIX */
.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  clear: both;
  *zoom: 1;
}

/* LAYOUT/GRID */
.heading h1{
  padding: 50px;
  text-align: center;
  color: #d7abac;
  font-size: 3.25em; /* 52px / 16px = 3.25em */
}

/* MANNAV */
.mainnav {
  background: #fff;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.mainnav a:hover {
  color: #d7abac;
}

.mainnav a.active {
  color: #d7abac;
}

.mainnav li {
display: inline-block;
border-left: 1px solid #999;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;
}

.mainnav li:first-child, .mainnav li:nth-child(3), .mainnav li:nth-child(4) {
  border-left: 0;
}

.mainnav ul {
  text-align: center;
}

.logo {
  position: relative;
  top: 80px;
  margin-top: -80px;
  z-index: 10;
}

/* HOMEPAGE */
.homepage01 {
  background: url("../image/homepage.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.homepage01:after {
  background: url("../image/navigation-background.png") -145px;
  content: "";
  width: 100%;
  height: 47px;
  position: absolute;
  bottom: -1px;
  overflow: hidden;
}
.homepage01 .col {
  padding: 300px;
  text-align: center;
  text-decoration-color: white;
}

.homepage01 h2 {
  color: #fff;
  font-size: 3.72em; /* 59.57px / 16px = 3.72em */
}

.homepage01 h1 {
  color: #fff;
  font-size: 4.92em; /* 78.76px / 16px = 4.92em */
  padding: 30px;
}

/* FLAVOR */
.flavor {
  background: none;
  width: 100%;
  height: 2000px;
  position: relative;
  padding-top: 150px;
}

.flavor:after {
  background: url("../image/Navigation-background-blue.png") -145px;
  content: " ";
  width: 100%;
  height: 233px;
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  left: 0;
}

.flavor-options ul{
  text-align: center;
}

.flavor-options li{
  display: inline-block;
  margin: 10px;
}

.flavor-options a.active {
  color: #d7abac;
  text-decoration: underline;
}

.fruit ul{
list-style: none;
}

.fruit .container li {
  text-align: center;
}

.fruit .container .row .col-xs-6 .col-ms-3 .col-ms-4 {
  display: inline-block;
  text-align: center;
}

.fruit .col-sm-3{
  width: 25%;
  float: left;
}
.fruit .col-sm-4 {
  width: 25%;
  float: left;
}
.fruit .col-sm-5 {
  width: 25%;
  float:left;
}
.fruit .col-sm-6 {
  width: 25%;
  float: right;
}

/* ABOUT */
.about {
  padding-top: 140px;
}

.about:after {
  background: url("../image/navigation-background-green.png") -145px;
  width: 100%;
  height: 47px;
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  left: 0;
}

.about-image {
  width: 100%;
}

.about .col-3{
width: 45%;
float: left;
margin: 20px;
}

.about .col-4 {
  width: 45%;
  float: right;
  margin: 20px;
}

.about p {
  padding: 5px;
  font-size: 0.875em; /* 14px / 16px = 0.875em */
}

/* LOCATION */
.location {
  padding-top: 150px;
}

.location:after {
  background: url("../image/navigation-background-pink.png") -145px;
  width: 100%;
  height: 47px;
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  left: 0;
}

/* GALLERY */


/* FOOTER */
.footer {
  background: #e3e3e3;
  padding: 20px;
}

.footer p {
  text-align: center;
}

.footer .social-media {
text-align: center;
}
