
@font-face {
  font-family: 'ITCAvantGardeStd-DemiCn';
  src: url('ITCAvantGardeStd-DemiCn.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-DemiCn';
  src:  url('ITCAvantGardeStd-DemiCn.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEE4ABAAAAAAdBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABA6AAAADQA
AAA0P2JPukZGVE0AAEEcAAAAGgAAABw3dv89R0RFRgAAObQAAABAAAAASgUtA+pHUE9TAAA7qAAA
BT8AABH6NjJbNEdTVUIAADn0AAABsQAAA75do2j4T1MvMgAAAeQAAABXAAAAYHsbEFRjbWFwAAAE
oAAAAgQAAAKCdtKVTWdhc3AAADmsAAAACAAAAAj//wADZ2x5ZgAACKQAACvBAABJgNKz0TRoZWFk
AAABbAAAADUAAAA2CNmFS2hoZWEAAAGkAAAAIAAAACQG9gNXaG10eAAAAjwAAAJkAAAD+t9JIBBs
b2NhAAAGpAAAAgAAAAIAzqjhhm1heHAAAAHEAAAAHgAAACABSABLbmFtZQAANGgAAANqAAAHWcBA
/yJwb3N0AAA31AAAAdgAAAJx3FEv2HjaY2BkYGBgZHCs7ykRiee3+crAzfwCKMJwWVNhEYz+H/ef
jfkl820GRQYOBiaQKABLJgw/AAAAeNpjYGRgYHry7w/DCeb//+P+xzK/ZACKoIB/ANU7CVB42mNg
ZGBg+M/gwcDOAAJMQMzIABJzAPMZACTHAZQAAHjaY2BinMwUwcDMwMLUBaQZGLwhNGMcgxGjOwMD
EzcbGxMIsDQwMKx3YFDwYoACRxcnVwYFBoXfTExP/v1hOMF8m+EXUJgRJMekz/QESCkwsAAAeEoO
7QB42m2Ty2tTQRTGvzNTa4uYmNg8bvpI87AtNhZaU6umKQ0tqdYGLbjoxrqwrov+Ay504664E9wK
Ki66ENyIW3cKCtaFiCspBqlt4wO8ZvxmSCRUL/w48zxz5vvmSg3ukwrpIAcwLydwWPU58voCBtUa
MviASVnFBMnIPfSoaRyVADwZYz+ARYmaN1x/jFwnOZJtMEoGSYGkbdut516bo4lUkdRBDKsIREVR
UhVk1BKm5TPK8gRFdYX9cyjBR0neoU11MD5CWW1hRl0iK5wPs3+VMcb9XaxrHRHmmVJxtOsRt0fJ
R+PLFudWMceaN+ydeH5ZqIMskK9IkaI8Q69rV3GEmoRcexdF1HGWNXTKQ0zYthbWwXHZbuyz604y
PkYX9x3k3KQ8gFa3efYLtLFmi8dzeySNy4yzPH++qT31OU0Cqs/UGT23poZxCRpf9yMsObTLffQ6
zai9G1vgndYw7sYWESEcY1016nYeCWp9hrUeklPMk2Pt3K8jmNMpMoJ+3nHA6f4f9LL5Rt1TzocW
4JsN6pBgfEl21JL5/deHvViPV8x750UL1gt6XaY/Uw3d/0GHEZWniDsfWkDdfOKdAoyvyK7sOH8K
zoc9OF22zQ/nRSvWC+sZo/WSUZjL17eoazeS7g1ZH5tvhr7RF596fyc/ne6WAC5KEN3MUWB/k9qH
1TqGnP4z2M/YqTfRiSpCJGZhriQZcNSQd7xFheuuacM7B5G14I5ZVjnsky/w9GvEbF59l//VMIbU
Db6D50ioNOL2jnat9VrNUrcQRuUm33+W67L8B7MYI8c5l5df8OD9AQd11YV42mNgYGBmgGAZBkYg
ycBYA+QxgvksjAlAOoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFO
QUlBTcFAwUrBRWGNorCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWR
MYgxAWhqLdDUY0BTb0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/
3/9W/9j/sf398Vf3r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7d
u33vxr0z9zbcm3lv2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxC
UkpaRlZOXkFRSVlFVU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAw
KDgkNCw8IjIqOiY2Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRm
Pq5YWJD9uizrZ8esb8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8
+eLls+d//z2qvPvgaUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8AAAAmACYAJgAm
ADoATgB+AM4BGgFeAWwBhgGgAcIB2AHmAfIB/gIOAjYCRAJsAqYCwgLuAyIDNAN8A64DwAPUA+gD
/AQQBEgEpAS+BPgFHAVABVQFaAWUBaoFtgXgBfgGBgYgBjYGWAZ+BsQG7gc0B0YHaAd6B5YHsAfG
B94H8AgACBIIJgg0CEIIdAigCMYI+gkoCUIJhAmqCb4J2gnyCf4KPApaCoAKrgriCvwLPgtSC3AL
hAugC7oLzgviDBgMJgxSDHIMcgyGDLYM+g02DV4NcA2+DdAOGg5KDmQOdA6ADtQO4g8GDyAPTA+E
D5IPug/UD+AQChAaEDwQVhCEEMIRFhFMEWwRjBGwEeQSChJEEmYSqBLEEuATABMgEzQTSBNgE3gT
ohPSE/wUJhRUFJAUvhTYFRAVOhVkFZIVwBXeFgQWSBaCFroW9hdCF4AX0hgqGG4YpBjaGRQZThli
GXYZjhmmGeIaGhpGGnIaohrgGxAbKhtgG4YbrBvWHAAcHBxQHHAcfByWHK4c6B0uHX4dzB3uHhAe
MB5mHngeih6YHq4euh7gHvwfHh80H2Yfjh+2H8Qf0h/gH+4f/CAQICQgOCBOIGwghCCaIQQhFCEk
ITQhbiGiIcoh/CI0InAikCKoIsQi0CLgIuwjDiNqI54j+iQaJDYkUiR8JKAkwHjavXx5QFtVuvj9
zoWEHUJIQlgC4UICCQTIQqBsYSlLC91YulH2QhdoS+mK1Fa72dbW1rrUOtZaqz63sT7buozP0WfH
0dEZq9VxnjNvrD7qrzN1fFo7ruXm951zbyB0UeeP3y8kIeSe853vfOfbv+/CBXL4gEvkRY7nFFww
F8ZFclyuyqji1Ua1TgXGUFCp4dL3j4lPvP6YuAcaH3v9MfLiaCXs4rzie14QR9/nvJApEs7LEW4K
AnuFjCAsJcepVYJKrRFcr6xdu5aMjJ4lyaMPbt+OIwinhlMgjI0TVA76Wrdw4eMLF+KVZPEsJEvj
uFwSSh7n4rkkjktTCm6BvlwO9nIo2Usj4MuMV2C7rkm3OLYxtrM/uqsfPy/RNWhbeqMXHFMtUZ19
Ch8zbpr+OD6m3zRjxk034bY5p/dZ+Dsfz03CPzQG0Ak2EFIUmhhDoM7Aa2IUSkTfBi6HARz2PJfT
pjDbeJczz+2Csuo6fk2gI8loC4pWGTXWkOQse1xLfdv0tiFSkGVyBAXrIoRIqzIp06ZvmsLHTwnv
rTLZskwROnWEKlgVEJGQU2ObsSqgsTFgfYM9P98SqVerQ6OUUXy4PrPcWr9IOYUL5MzeS3wG+YIL
5bSckcvkcpBauL7Dro1RCCkmtyZGS/EypSgAv7ZrEeUJ36pBAHN7XX17e31de1Nund1elwsNHQc6
2g+2N+fW5eJzjXhDK2wlk6Chs/PfOrsawJbntmW73WIZftPV0NjZ2Qg2tzsbX0QzGkK+5vDUBO9F
soRc5GI5gbMi7RxKndJMMaLEMZllVJQ6nlFTR5FRm/GT1mGHL9evWd7YPHdhx9oZpZXQu7etLHvO
XkgUCstSile1uLOK4KmzO2qXrb9xXsOgYUrtzPbeisLWuGWwyJxgLczMS7CKztuzp9s89PyK4BR3
hPER46IjPT2UfRhLc26vAerI35B2eLYREKPVaUwkKhrqZrW1Nqw+/AD520DBa38/VTRQCAqYAkF0
joBzCnBOGMfpXCXgNJld2mhNDBHonDWHj3zimyL+8PBD4rdsnQQYhk2IgwpxULp1lBI6wa00u81u
nfn72EHr9u1Zg3Fz9Sts27dbV8WRkdsX1NvtM9r27e+Y6cipb9mHMCzI7Fr4TsIVORrZDjncBTN/
85uuU6fguze73sSntC+99wHuNW4L3bMbpeG1pjlVW/7nf6RrAvcpRMAMRg8EI1y4ADOW4Pcz8ep/
yHMQ9n/0bdmyBcd7z3g/ggryD/q9EhyQBXy/OGrkIy5f5Jj8ZXkvwUXGfzqcqWLnqqI8pmY8VgyU
ybI2/O7GG3+3YdDTWlbW6vkMwga3bh0UL+E7rBNr8EHfJPxW4ttspBVqHYcKd6gaWXmOrOsbTcBr
mXjtU1wrFq+53CXI0CYhRSnkuSm7a2KUCqVRk/NbT7YrvZ0fgrLCzrb1kx33gnbt++UzbI78TcNl
RTct7J7tOTQgrZWKuH+L8NIpb5SABMQAGio5ZpPZQZmRMqYV5Zt9QF49OQyr2luWd1UWDy291WMk
G0ocOfnVxRkpefmZlvR0ktTdv6h5MFWzpKpr4+L8+qLyMndxRV9uVro9j9ErFRf+B+4vhAvnOKPL
6AKHih4n/gKX+L8QvnbyZPH8Q/v74JwY37cfNWc+wzUXcf0a58UjrkaNUSltmQqUmekeiRbmdhgQ
L0elTZ+9bO3AwhVBQyTfssRtK05cTUZ6nnLdsurm29cut1feW1NfRaTzQ/0B3yDcGC6ZSWkEjIM2
M2HVaXx0QB2Ss/X+wLhAfXLzmhsXdxfVWq2WQluO291eQEbOBQlBqm09ffuKqjZ5Fnt+gOIpdWWe
unqJ1oX4NoLrKBj+vKA2FsKjF266IP6JjHSPbiLrkMNSEJfLeB46pFK2pMckLWGg4km3WgJuG7jH
EMLz4MdVWenqk2tsJmcRbFnUuxWgJDfdOpybKuTaU4WcuNLWUk+Lh1ihafnyZts0rXqRp3/DjX2T
22Njphkg3ZWXbp00STwAjqpqR3ZlpUQbxPkbxIfRxiEgx7llDeaw6xhiZgkJhsPnWw8r9IFxlDRL
Fk5C0lhl0pwLFpRjhFlS6k8YIskdXJLtHEqemklfXx9c2rJF3ItCSCR5njAGpfqV/pUo19IoJtyo
I7zfES2eK6VxmiYcNGkW+Ey8C5aIMWB7t//uu/rfZWtauHbUJffI8JCb6A8dGsNe93QNdl0Jz50F
rkBNoAUWi3fTQT133d3/bte7Eg+h5YXfIJ2MXBraYMFpKiHuEiKRRqlAfGXZQt6KgEQQXJCylvBK
dVSkJyUnPSWXwFDA6pbZQwZjQl702peV1Vpnqlo9KTs+IycrK1hl7OhaNd882RRvd9yC3gHhrN5L
ZATXc3DluJ6DsYZk83ANNCjm8VNC86/QKMa4RbIvEv+45e/I4sbcA3OOvP32/ZtfN+dXutWuoMxS
Z8Oyhqnm0Lo8BWgzau4YWHvoF5t3iD+Yk815oeG2pMyKgzOb/vjwox88sdOzuNSqKsifP73zDo/z
+9SAuJbmG7Y/uW3XUQiHDJtDyA3NsM2R6AT4FoMyoETpp5pZjU5NNoTC47bh3w+eGc5O9ngefxz9
oITHV4BB/ISjdrQMafsFzonk4ih1UVnIrMcUnsBrHHa6EbPJ9zEPP5ad6rK7S1y3l7nnd7psOoMh
1pFd5YxLJab4PDKSnd1SUReSek9PgYuse1kd53Lq1OJ7Z3X64uJEvWTjLpJ0tN1aqhH8qKsUkF4q
RsInhmHruhtu3blhaBsZDli9f0bFAISvP3LqxRdee+TGp8Uvt9+M+0UDTJyIezCn8cNc4PETZQ9E
1HPqUP3kw7dOq3PUpkVlWDvISF/n0V+eIoOjYta0RvvG0gqKTxW+PYpwQikUIypLB3tVQdff8EFG
Bn614oMBHFeM43ay9cbHqYqh/syZMzjo+QHxWdkG4v4KcH+oS0GgaKREUdKZBZdR47dd4tqgTa06
cKDWmEAOQTzZvm7Xzn1bVm6Fc05z2egnhblTBjYPHnnzxLHT+yW4eFYkRMYTfQ32I6iEXw0NvY9P
MiK+B5mjCVAjj+V+JfkldFjZED13/D7AexH24/f0IFTUpDEV7zS50BppqKLHI1bBfpXenl00uy8A
hiDALFjVETj9o0JLXnx8xzyFXkGC+fwMQT+JhPrwimI2h62ldvBqPISyoV9ve29k9+uI17/BHPEu
cRvMFx/y0Xu/zwZT81Q1hAQc3U1pjAdCnsBrYdIe44FukRf4Y/0nbt5wov+utoM48jyJHU0gXaP3
kS5OnqOXziUeKE14nPOb832DX/fj4kr4DgfrRvEgkWfo2XjwbMJQ6/o8WY3syuIpRQkpwq7NW3bt
2LZ514Z9t9++D1bCU6dPH3v8/dPHQLxIDFTOKP7/ZOegpV4Osh0S0goqQT0uLVXPrvRUVXlWFg8N
FZUlGJISPGRkUsknpZPE/yWDXyYkeMoT4n1+bAXiE828ay5No5D1S5TsdGh5KhM6ZhLQjY3icQkT
5SmlllQYwJNROH3zLopyfswF2BuUY8uwZAuxt4MlPj4uzWbQpfUM8BbLaWjHXfyiK4akiF+m58Tq
Em2lXRA5+okuVa1XNY/zF0i84ZMmZBA8S9yUtC3cZNkTe/LK41IrbtvxoDa0MDnNmlBlIyMFlUtq
cqp04p+gD4ghzVOboh3dLcsCfEm+4uyokRxavxjGRHd0ZbSD+xbWK3tyJwWF6VQp6owgIcudAKs7
X05cw+farA6lNjJdlRdkzHYlbu5ZvvqvmwodkfEYtUQqI/gIfVZVVs+6NzMLCjJV8bqIaKWaD4/P
rXd0r18v7Q+1BNzL9CPz/VCCVfdug23byODAAMWWjinB80Bmx7gPTxbprmUC4aCiQv2VkqEE/cq4
+KG8ws8LUdWNfu9JSEzEs1WM/m1RXnGxu5fCQHtGoiVfxMFTFubff3vd3r2r3sYJ7xKbJId4+BaZ
z9kYOkwIhZP/fsPg8hXLVww9NTA4gOMvYMhDXwkkY/QDnIfmkgTKOkDNO9AAobCFAnn56IYlizc+
/NJNG2+GPdD8j3+Ij4krIUn8GH3sy7JvFET3LSGkeubZG9euvvFZMMBr4pPQIE5i9oD67xy8LslS
MKDZdgE6kXBK/AfoxPkQLV5GyV0z+sPAEhI8QMdXe52QL9E0EOlJNSLkf/nlbWua+WPNly9TmN4P
0Mf3SD6+Dn38P4uXF0LAmI9P4yQnZEgwdC7JK3ffdtvFt5r5gObLM6QxVXAzfCfRFPFHnlRWPdzz
SO/gSvy+UzzEeb3SOM67GS55T9C1Ainml8QwuLTBLl0jzRDKx7HYBGMky8emc3zchup+KtNG9A2f
IYVcFPM2VILTzxUzuZA3UexYREBFD57pAlPTzO7W2S1J8GqrJT4iODgi3tJKskffcWqaDuzaeXCO
3iGeh2fN6uKy8mK1idnnYlzjbWZrE5mEJcK4K6xBXSSkRBCUBVTCxX1xs5vbumfOSXl1QaJJrQyz
mhaQkRO1TQd33Hpg9lTQwbOJ+YXpeVPy6b4SEe5jiLvuCm9FR+0p+ieIO0xawbc29qxc1dXUSlYo
qrM1+taqt1qGD23dce+GBasyczteknwIiQ4jTB9JdBgHqDMVwzUoEVqRRUkx0wgv+JECzU1BrNVO
aTFTm31CdMKzphgMV4rVZrpOGq7zGuKs4RIQa6PkMTkkcyQ7wIEOph2QQc/k2oXsoKWRxc7JS/pX
9CzKyxXffgWycrNcF8vmZGZ05pof3nDTg00zqifNmYb0wDgYlORLPEspxnM5HRrqGFLmrM3Pfykt
a9YseKPHcLQVknPUPaKb7TufnX8CyyZQcWehj1aHiLldijGSXoMX7I6uqpVBAwqVJrUF9Mfnz5uf
VaKFNyawxX91ufIbpxsiogfyZx3YdesBc07slfwh+RfPIu11jDtQ+UpxABoz5kTgSaqK+yC+ZarZ
1KdCd0YTS0aesOgqszPniOtgkUMfH6cvEO9j51iL7yfG8lsuhwa9IlUt+v1k/dKlo9spp7Jxwd5C
7jgbF8nGJUp7dzlwg6qavh2huiCDns6ZMvriw8HQG2C1ECeVWcT1iXGbj34wtfnuvluGjjy6+g40
ux1//0F8C0LEryW5HMeHja/tk/0RanNeQbpnsO/lLetYyH3F1v0+lvVCYlueUR0clpDhbswU+sKj
Mq0x2r7wSPqLZOfGzTaoDIma+GJbM7odS3I1SbH6XHE/LM7RJeni7OIdfvQupPziW5stQ02SqrgN
Ujvu7puaYSPZWbEzn0RturTb6RIPjsvJaZwbRk/rCj+CMjPz/Y3LlixetmzxkmUrnY5ufKLcbjx6
dBO+NkL33JcWzuVkvVCJeoHqHtQLOjx5v+A7EZhioFJMWbG4K2XOzO62ZnNh5Aut5vi4uHhz64vk
Qm3TgVt3HMwQPC/CGZQzYfkywezDs5LxtU+eXX6K7Zrc3AfJs6jqySwPgZcn8LDmxdyYmVQBZaXr
7BOZV6JlDq4TIdMSQzKNSSJkF0RNcavjTQ6SXZJQaN0cXusRT9E5MUjD23BONvWTTWOOAPjnHai/
oDTbgCEMN/VBVbxRERWWGJGunFS9ZMasRco+yDEJAh8SpA6JDzEGFk5ua3gI9tUlx4WqI0JCA8OI
empdfXfr/PTsjKTgqPCQUEVIQAiJqa2takYcwpFKIjku+f5UVziYVz+joqKvvByVxNatVD8AV4S4
niTZTLfI1oG5BRRDFZzsgsSFd/VNTc+mgpUT1/wk7BHvXOhyQQ/ORZ6HozgXbRegK4sGGI4e6H5o
WW8bHU2yxQG4jZNtO0rmVT7BrTuXz2yeP7du+Y6eWTNx+GpYJ94Cu0bfgfXidsmXgFdx3gSfwKwM
+MXejQ3NN9x2/6aOVjBCxEsviRfFj06fZrwfgHzxCM6hNtct+QTzJt870NE+8NGLfyQa8TYYGNXQ
XB8OvhnH0ZjHpaZOE+/Q6M+9C7M+PrcQunt6xPt6WA7SmwRWlG/KDBo8ykSIiVBGgpZmdwrpN8Xg
NGOgjr8cYHUa4wKUIcHhIeEKReAsiDM6564rSUhZR0aaUqynwmPV0eHhyuAAnlctfTXT2LTtnaaw
BnBb3t3GcG/zKrhXyedSjlEltHV3k88vx0p6phLxaEQ8Epk2syMaOqb7Y6QkWzHQ7DAVzsq560oT
U9bNRVSgoQFRILc1bT/dHDaL5Fnf3dpktJ5qyFQtOZVplOBO4Z6Af0I9O38dy10JJqU5T2enUgnv
J2eXC1U1MdlpRnulsbZKa4H6hmmGRChqmA4GA61LeCdzryAdJ+jjKWvXroV/274dAxnT6IdsnUnI
Z/+NvhJ6IYGCS871OzSSLVfImQU08kqoaMupFqIam9tuCxkMq8nNsdvTrPxKUj81rItMmttk2b47
rLMz/LfLGtvbmkqy565SMPgon0RBvmAypxGohy+HLA4p4De6HPQvlIQxJwKtMK4Xo4OlG7Pik/MT
4si6gIKCZvHTDn1mt1O7fmHrusAbFEVpFhckwPE+RC9Xr89VxabqW9yOtWklWWV9mUVtq1d3WtBV
zMrNpHrJK3LziJEMI3+lov03o3OtNLtxSZqzZokVnRKjKl2aX33hw+b0g+nNk5uFlOaq5rQZM1Ob
q2enCLPF9VXt1VWdk+c1G414NaO+zjK7sjnF2FQ5O+1IWvNbkFNVlWuvqpJz17L/HMv2r/RLddM9
S4IAow9FHj8+ePx45EODw5vWrt50A3zcl5zc98Yb9B148QPIEEcl/drmnYm8+KB8rsiNGokjkScf
FI/cJR7BMS7v4/BrjPEsnEvWdJqYJPBlWfx1XV42SAUMRns8/GxQ0LF5sHdakLvQdUO1KyN7VkVp
k6KemJPjk2HmimK3LXta3U2ppT1ZuWuspGOyOyNzRVlpxpRwZ/mk6XUz0jKFhMzaJc4qmyfUmVs0
RcyElPxWjdWU3qfFc7hM1kIMOT+e+8OoyNXZA7G95PwAPmiMGu39io9EfyoMqWanORufdUIsdRJX
JrMCiy+c8zHpmKGB2+H+/z576P6zfz0CW048CwEnj0+aqpxkdnnKHeklAdOCF1XPWzO4oLqTfPnJ
ffef/ejwfZ94frVl6wvPb9v8ouhNT5tSWVVjzp02e6ijbcMsRncF3IF4X0SvxeDnr8vuupKhIEfi
yDkxtRCb7yoryS+KgTWJcXaekMBcfSK5IB5LDnfOf3iBW5X0KGTneeIiwuNKXBR+ItcJt8AZLpBq
VTW6NzqhlBaZhMSejp6ejtKe9p6edoh7/vnnnsOXxFu+vGcgzXrSANMCn3WJa+Ee8bd/vH5tJGAC
fbO5/B+hcKDDTs2jEt1SVAgYRluRidXIcyw+vwaVxT+dMJc5aosCFcompYIoVGkJ5bMfmVFToI64
Bql71PmZNcaY6XPU4XOj1LFhT8LADhIbnehh+0Ne2QEzyDvMntHIcIb4BHmHFVaQx+FlmE8+RX+Q
RtmsCsjS60o/AZ7fNNyEzy9cM1z4JA1Q3NRUUtzcXAzpbndGen4+yx3TOtT3SHXJHx0TUBVy5udd
tBoFn8HKW27pwqe4p6uLxvWQgzHoZyzfhnjl+Uo3Cg2yhZxGoRrTLf510ByvQi85eXaMaU75NKeq
KRJumlm3ND3eqI03pqa6hNJppSWu6KkR9LyiIR3KEK6ZnpfsjEjFGh/4q4o60U2QmmhINqemGCbp
dLH6ZqgvLqwtTM2cVd5ijoXnUlKFRGN6hUOTkBhbXF7iKIlXFGdPmlYosPwLxqd1cnyK+q/sY8s5
ct+G2f3Mv/LWoa+aTfWWTsUSEw45MyGHaOgpFvepVKmZOn1fF4SU56aGHif/Ix5wxcfGG4pg/ug7
rnizS1u4WeLVOO/TJA/1YASFxwSHpkPozzeLV61eAsW2hdXT4T9bnlswdTSWnB+NxTk13LPca1DJ
8MMzee1GqNy9G7+P8hq4TxEqzRv5VXfcjGRuqhNQt99r1ipTc8stFWZtaJYqBn0gvSoqQVvgCUxP
yXAKppBwnSpKGxbZJuHnghzujJQjpFV8wXVmdjVGFXWwZIoUt8B+EFD+g315PFqQZs6373SCa3dW
V++snVlcaEg2JJByqOvqOtjZVQdL+wrt9qtkHHRKwW0W2Duk9FD5nsze4Ywk4889z6GsVnu/IZ+j
fab1NTX1/UHl41C1TukAhmsaCEBetVobnjnGt7eLqxF1QTy4ABbCcfHvUxsaqiFu1RFSxXYTLFW0
qZ6lsL9F2IG4q1TfvhFWsB9XX8nU5xB2hHiwFXqAE//a44qPircbZe6Obg2UScYWGV04q641Lz5Z
G5+SmoacXu8pcaobA+jaAVyy9xteIe/LyXTQxH1NLFYyCl+D/YPpxv9MN/40aW8fPdCcmpjEhKFA
p81lslAzSZIFPRmQsPajCMSNi4fLXzpSYJFEJcKZvKXwFvOjBEk/KBGzCKKkmRNmdlyOsRw7Uux3
1MMaKwUJOTytBM1Zn5OZF00dr4LgirhcU7RUC8q0xaW0dw225Ndl2J30PFg9hf81q6dE+FdUiE5p
9iuqFH1sOudfWCFHaVLpx+ajdPvNTzlrGZkw30yF3jf/EJuvmlDRUevQvxfcfjBWD3dOm9ZxwwQw
m3c2Nu4cg3Mrg5N4BRzJlUUBpWdJlYofzPctGQVOs81gMVij8uIdFmtKxgT4KyoywiMSKqL1EeGM
h6R1dsv7jZ64kuxa+IFP6IXYngkAV0oexzisPzNYOi5lIqwrzSM7eafJD3YZZJWW2vCVBVpDklZn
MExY6GVPJr2W6clLshkMtiTmy3n/iYcezfJziLsAcuGS/rgEJfp2obAY2fUyBLDXzb+t33C3XBx6
9FGIg7lUbxm9BmJGvWRD/91fF45VlFEVytGsX73L7YhRQFVsuCrBUpRZZtTGpGsS1BExwSkZy7fs
Gh7aBhsCVu+fWbEiaMPqMEdgumBxpJn0WlWULixyluI3x8eKYo8MHJLrE4/yL0s21L+ihTrOLFe1
xNPItDL2/MvDNf0/Og/51Tfv/FnL2LzK4dnj8+7HedET5/ESm8pTN93QQVnUN/l+xp1UzqT5e9i6
6isgyGwjg/gQHdMeH4A9ErcQ7wcI5ROUM17K7DtUPO6zbOgFtsPRBP7Xco43DtdJmzCOWtmhB6id
pePKma0l3j/guCyUO96X3ZL3UTYUTLfQOcxGH/Lh772I40MQfwo3VJ4h41021CWhjBPG8B2V65bh
FCO1r25JC0gut7Rvu8qvevl6xX9s21b3dIa1A/4d7KyACWUDr7wycBqAVTDp3lgNjL8FLUeCfxUs
7WoBlwpjsAmFOzszPS0jyYLCnZOFnyYWy45WytIdHiHXqTxIO1o3i71O5Ywm1SdWz3RnTSNXVtCg
hB3Hz4RZSu3yBJg21JZXwnyFndw4zEMMZvx18WTHORHsa5ICvQrbRPmYx2DvZrDN14ENVxP8ioKi
SSJ8qqRVs21I+KsWDfOjfYC87h6ZTgnX25XMchOX66dK9ir44bKi9fV9fcv4ljWMSf1jK6qOHas6
9lT1sWPVT9WceKbm5MmaZ07UsPo27/2L9/+Q28goymocyypidCSrOaSqHLqqmWpL47WUl+F8VccN
mTu29VdWdKy27do8+O2XKVP2ge5zY/Xt5PCCI/P3PP5+/ZxDC/YeOy0Gg6dK/LLqpPhyKURKvh6r
ySGfMH/rWlU5yngTKnPdkuhfVZ0jFyXe+zkwkRATYG6V1MTVMFdLzOeDeZjR5ZowQWK8CWAhEXXK
9I7ha4I+s7OpSdKREuw9DN/462AsM8AE8K+yUP5asF+ReYBI9UGkRRDLPPoqhFQ5ylXCg1Tk/CqF
sqb0r4WH+6oWY+VwjYpVw1kxfKhYroYXlRqkWvjmgpK/lhTcCV/8PT5hmJbCGf0uwVcYB6u5LApr
zM31uZc61JVyGGam2WqXXe6xUSpKHK6lc7r7a6f0tK2Jg7AMyEk12ZMFqzY2JKw9x2rRxRD16tz8
nln7UsK6aheubmsgQeLrbk9xbllSIpBuCFiXlUe7UyitWQ0M4zBaCxR+uhpIrc31KoLqs2nnrl8V
hKkSO/7ra1K1eL01QymjXnfNP0i+pVTn+46tZ/rp9WSVeb0l75RN+/V3apF9USPLo59n69p/RqX1
anV6PRw47wSLxhTrjyCk91OxqGMlepyX6W/+GRSRpe166Dh7Qd/7Y+uP+7rS2bvY2lZWWfuptR1y
o/V4eog5wNfDZS56w555Y85wUtKP4NWDrrHHg66xm7nNNoPEn1rvJfINKcS41MUVsYrtWI6PNhuP
I2t2KNlJGUggQ4s16rE0XKCDiSr5Rnxlkdkd1BeycMY8M3RByvzZvV0L5qbgR21x9jxnrD5gdFe+
LdkSowiJisux5UPeGdLn1mu+fyArvaF3VlXVrLtv3XVPY01Nlrk2paVSD/MWJBYUZJR4NGkLMg7k
ZlC7Fus1wcNSbekn/XC/OjndEfDacFVcZqnJY9RoBXTEQ6NDU81zO1Z1NbeSAUVVjkbfWhM4wDeG
5AZa0kzZaWl6TWS4NiyyOeQXQ2Pl9MHmIUo3VudGuaZ17uSfqHQzRfJj1e4kNGtXV7xhO9Mi/+Ja
qN1/dK0g1CLXWCuEaX55LdQfdC3hJ9byKY8fW26f5FlfY8Ue2QELkNc8L+8v9adW9Qnojy3rpt75
NRZt8vnqNK/1BcvJ+cUWtX0PoWNLhWisf4QmDGMnjEMC1/Y9clbSxXIej3jfxnE2pNuVsUVtH5Fj
Czr6u7HY4iscHyrn56+ILWr7WlhsQSfIuXpfXfp/Mc430bsBXG4T8rzOraEp47GYmeoUs4mXcmVC
ymcPLUt2LcwxHl5UkpC+fMWiRQub3IJCo1/V3b94Eaktm20VEtOSkz2zMyor27tvv2/v2sE7LdoU
s/gqPPDQ/ZIfUMhq6ec5FT2Xq6vp10g0jBfYRywZ+TabzyPOzWSKe0LNnZz319Y+e3ka6R0m+0PX
qcDT07qyCq9FKbqqEg+TpZzNz4RL7e9V1X2UmKvgvi7Li3Qu3zG4huvDlUXlStAHJR/xaqxTJUbx
wT/P4Gf8GPyxc8iTjuHKpb7Dw5CsqDUjPzfLjNHJVauqpdOwssMImLA2u0/quqvLnHvlmh7qpF5j
GcbUPGfxvk+0JNUnA4AQeIRDb42Cto0n4bNnN5LU3bvFR7q6Fu/eLcUo33gvwPekcixGuTpE0fFu
VolzKxl68MDchoxli+vsVvp7SV3ufx/WZPX89gFtVg+pXFW7YuPRnILVNcs3Hc0WT30ivJSy9JO0
l1Il3me9AcgzKlb7uKo7wEzV+niHwHs0NrmyS+CCLy75KVhUbY/DOoaO+VWwlvniEaln4TuEFXtt
vCS1PA4ucVgKRa6E+LvxGLhI9t8ofvprQvWp3XGwa3yu0ASgz/viD6kXAffMTlfuRgilOSdfR0ID
StZ4VwI/V9Klct/MCKelFoj2zcQoNCXjtTNzjPbK7pl+CCnMZP0zRZEw3kDDH/5lWEZIopk20aQL
wdlRz/i10fByr8R5hl+kH4byTn1YxtJQ2w/No9IGfb1P2X69T7T7CmiOk/VBh3Oc2+WmXVQaWpA2
umDy0PbtZ8Rn3liTA6vFj1rXtP5l4Du5BodvROr/pNodN42TVEJtfX0fPqG+dH4JFJ8rnVcqzme0
FbwXedpfrJc6M6SsmtGV5/L1GOucZtwF+N/zQqovX74sHgTn8Lr9+9cNOwF6Rhc0l1dPm1Zb1kQG
afItR2Vc8QYse2OZUWUbEL+Djbes23tgWJI9Lgl9RS/6XgYuneZBfb4iM9J+907kjXmJ1HcVUph/
qCBe8a3uNHtwX2SJs3JNtnm4e2l/75qMrKGFTo2GH73d2eN0ubph0uuk02X7/oHMjK4c87JlRzdu
OrpoUaNxbqkOlcfc38299cAc3/7hS/5ejDUKfm4Hspp20CiFf6UROb+jvr5jaNHP7kfmcxobdzD8
pB6or9FPzfu5XVBpEn4/uxlKfFrC7mc2Rf1KQg11qJQX2MPyAlH+mQGZ8eXsQCdLMfmnB/b4Yhsi
9RPz93DBFMJ4R7FvDxMai8WdHfXT2tcvHmswPkHVDpF7kL6SYIx3IYEEQ25GEg9Lu/Q1JZGvpNQJ
lRlvIdGz+4c42gPKR4ByLBZwIzSH1G6oNAnIojB33x2CUhPrGBCKYtMMDqsi9dY94UV5rZnZsdbg
PL0B3m4T/zq9xVgdsSy0zAMVbQ+WFYf3h5AkKmDer8lyaEKdS++RkvTrh7Jf5/PpwPst6YdGPHMc
w0t7CJJwJ1/LtP+xWju91gczySXqQfIOVj2gnBIwNXLW9Ig6zb3l88il8vJbJrP8XiNZy73A/EdW
s32hh7qKSNN40sJdwpjTdw/DlfEkFcntfmGjwZaUxLuuFRsCV+i1c/9ES4unUwpSMOrWyHK+u7oq
QRtjTLVlF5hCgwrMuqQwjy4/I8mN+zhPhqAbcYse76nyj/MLrFfG85Yr/UDCRZO5cIyPlftX0GZQ
zyz6rrIH9t3teYDs2+7ZmI8vCc90nLCNfMaqSS5ZmJicsTYg11jXAL1RV3Adc01+aNOcrZ4a585v
XNWtjQ1dtY5v5vPu+9v3/2bh3U1djzj4+eWmh1f33X/Pmv7H08rnc/8v6vS4K+Ig6exeKQHBCSaX
SlAQpZAX7WZOnJFYaiIWqe4MMOkX6U2kwhhuXQ63w+vi2x15ySshr0e8UD8HIjpDp1D2Rxn6FC7I
PSgojMHwiWigXSjyNf4jv2v8Hy9bfNdUBLj35Pucka+3Tu9qJyPyfYE6vPahfI12yswYbCfgu+Z9
gPtQuu9XJ19rk+4VJlwSAdgy1qOMUI342o+QQSuDpyMJZ8Jxu8bGyXfdm6avai/FF12JAaS14Qdg
F1tLKa3mP65NHsbuuf8FvCzZUGYRWZ3d4YLsffuW7t1LRk72jr5PrL0n/ceqfWPHGsakOTl78bF0
Hz7IyFO94kjvU0/1QkLvU3RuPfc27CAhzFbTcp+WNiiY8i5AeQtAyzb6RkJaysoWLCgra0GsabPV
Whl/GuvR7hf5NdD3Mf5sYQ/cg5LmY/i/oU6j/TbJnBWtRwVX7XdP68+4NT9w4rfjt7yCANrmbc34
nGqpseAT+Il/Bkl/TrGmClarkGp9QbqD3wON81sam1pamiA3L8+e63aLDmjEP/HViF+5c+349VXf
EB0r7gNGjp3cBdaPIXdcpbJeK9ZlxcnX/y5fZ30aW/waNFCftHq/Adf4veRH4OYmcUMw+Xo0RDr3
QPRLYslZlt1TCnLmgNpYwe0oBnyjqsdApHQQauVEgHuiHlbPEdIjBpKPLVoa0RlV1xLVqFre5ZyW
qQtcETWlQfN21Gswq/kOo/ONHRubY5Oa1+wyecpN83Y3J8UyntR7v4UP+Uy0YSh+rBpnMrtQbumt
7FJ2m911x2vyqKOqgCezKm9sagx0JVQHt9d4yv8TnBlVRzcWJqT/MmtH78zwrCJPMGhu3tQ147E3
bJWT4b+ev2dVWxOuo4M8fh+7nyiG9W6M3TinMsq3OsHBLevW3zx/uPYG8e41MGMN5MEvxRFIEGeB
S3wTnOJb0D5tmnj4/5euJFyq95/8KuRhLb3zFIwptFlXK+Xgxm6AM7vkrn+86DDa+VWjMwOD+w4c
WV486emFT3377VNPf/uLkP477uoPCSSRAdAbcDo8dGDj5OkfQdHZs4ei3o0M7l8REvV7eksWl+79
Dr7nSzEipNU781iIOpYHdEgSoPa1LdHt9SZP6Vp2YPfG0gWW4Tl59VEAHVMqmyG/Lji0NNNV4yZP
N076/Su/+3xKf+nw3e7EkISBQ6ODt3elFK6oL2uU9FwivnWQL5FvI5n/4lBr0oy8Dcy0rzbx0xvP
ihmwcLUySxEQaFVUkidHGyfPg8bYPfG6rVqpV+sgOYJ8G8psgPzjMpIj3Uv/tnQhuYUMjxrIJ/TV
zUm5z4MkHMeHs3ug1DRWNmrUvMZIwsXQr/8BfxGPf/A5DPbUwnxoql8QIL4rHudZLfBNogUb+x8N
OMcCn71J++t+Uq6u1xdm9C4hVfxKumva9640u9UGkgToc5GqP8+9s1Z9qI8PUhAIVjzBr/zhW/hT
oqdUPBpmTgyGUgNvZrFELreNnIX3uXiMJEqlzkIqQv53OeW5Swj+DnTYS8CNBxcgHVyakBIRoPS1
7ZGzbWXZTfacpnxPy4JqV3MWrzCkVZsqZo9+DXFuQ1wgiQlPjU2LyXQUwJ0QmawzRCTyjmKTxe4C
O6lrdZUWFLZVT2krzOeVKULq/JPJSYZAPi4qPSKyJNta9F5YeEJkCl9sKzPnFrJ7Db3TYSm/i/3X
A6WcXo5mHdaS40krV4T2KNHbGpaGR6mNUYYIs9BgMUTqoxOiEiPiktInC/yN9cFxptsaxMcX7K2s
iJoRqku/uRVamucvTbFJvJXO7Ybv4Q+oXTyyF8WS7chYzJGikQQSJi8JZP9q7AIvXYB303Mb4m1m
t1GTGhOVoZ2aGaJWh0cHRZNAbXB0aGRQfIY23T4rs7IgSZOmZgMi9PFhCRBAL0cFJZjhD8KiaJ0Q
Gxcr2PKJIjA4MBT48MBgnk/bJ/RmCHq9XrAVBIQqotjXAXwq+38TXA5cJKnMrsr/QUdABvH9Zx3Y
k7H7oeJPfrA7MnY+WHz2WzuJWlC+u2xQ01q2u5z6r3avF74i6yVLmQWuNE2gJlBH7/j7QqyC58Ud
sI4XS+GVxeeqzk17jrzwXLlELwfOu+ibp8Y5rjRXGo1I8nFSNbux4gWxDH5N1tOJz5PnR98rp/Oc
3tMkko9CGVZL3IxSzKPlUCh5NVUcbhJ5as6vT81pWxcSzIcGrx8KCwxQhsAKsR0Ow2FxASj1JotG
FMWvTUgrCRca1xxHvRAte3fChJvVVAINTaB6V5/b/VJa1rf9+IA3RPf4nWuj75D1S+V7NCicmGtA
oX7KGIxdV0I4MZrwfwHLz05jAAAAeNqtVE1v20YQfZTFpEYKI8klSJvDpuhRWZm2HNjRSaIVx4XR
BrbQ+0pcSYT4IZBrGwZyyi/osSiKosfm1EP/QW7Jz2gPPfUX9NK3y61dpDDaFOWC5OPM7ryZ3TcE
8CD4EgGa63N853GA+8FDj1toByOP1/BJ8JXHbdwLfvE4RK+lPb6Be623Ht/E0doLj9ex2+57fAv3
2z94vIFPww89vo2PwrnHd7ARfu/xXXwc/kr2oL3Or29dJhYH2MJvHrfwQdD3eA37wWcetyGDnzwO
sQh+9/gGZOsbj2/i69bPHq9jtfbG41vYahuPN/Cs/drj2+iFkcd38CB86fFdPA5/RIwSK1ygQoo5
FjAQeMU7wh7HNjqXuOfwFjY5IqIBEq6dQBOfMELNtRo53wKHKDClt2Js+1TOl0DSZ1dmHALHl5y1
+9J8a84+83MRl6uLKp0vjHglor297Y599jpia3MzEoOknGhxclEbndfisJiW1aqslNGJFGKQZeLY
rqzFsa51dUYrmNaYBdsEzphS4Yo9IKpI15RhiASGWPIZcwYOx7EYnKnCiANVJeQziRguRUzXkKVl
nI9hmfEZMWO7M7vok2Cf7hFRQ3lFeEXXkD3iTLtraUMXyc1otz/YH476ZHbEjpe0j/Z1nlre9wx5
bZwvGOepO96rxJ8zhvBHLP2770RSuR1qrJLCsPaczEvaS/LOaM3IOXFzerwj7DDmDonGT0VT2PMT
waOTvPtxWWlrldtRP1dLXZqZzNJJJHsy2tnd+f/K/KdDP3DpLxhnyq/UaVHxNk63ieOws60kSpbZ
qNs4pRZO2SntFllNj9kJK/pm/J66+PE7fdDMln+X1kFpFulUpLVQwlQq0bmqlqKcUdtGV4UyaVmo
TIwvVnqmplrEXvA0M9ozl9CEhEc45Vu50yhc045JmbtUlE/aNpr1jLzeNa1zrktdip132vvPopoO
USxuRkJdTcTR6URladER4zIXsWKWte6IEXtEF/PTVJmO71ObNZtHzbjSdrxhwCfocpy7Id1eN4TS
/Tty+ownxsKY1ZNu9/z8XCobT07LvGsY879E63JrNMu1WyTd+pzoeo5upucqkwuTZ+8rp0aq1x01
ZYpLFTdKKVyYwh2QdVLEPOgi0UWtk3//B/tr0Gv+Yk3oAn8AsSVmFwAAeNptzXeYzwUABvDP9+64
Ya+GvTNz95NzF5W7s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z+ed9
nleEvNzJFXK/3LnbQIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiqmupq
qOkRtdRWR1311PeoBuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfBs57z
vI46eUFnXXTVTXcv6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbDImvc
9q//LPOpI76wzsv6mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxLDPK6
wbIMkSPbG4a67E1ve8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371vV+C
AkFB822y2VbbHLRFrkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP/uic
zHB8fEp8vs3zDKUl59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8Pw7iP
rAAAAAH//wACeNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+uXSl
6e5GboZ+ePU6//gA5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43UNMTM
ipC/QP4Cf4Slhb9Csabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl4PMT
XcwLDEK7oy8IkEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OKGMEE
ZjCPJWxhG1XUfd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6glM0
0EQNZ/oTxgYwiAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczTuT/p
ds6pDrZwQ//kCh254i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9szRu9Z
1r7+IuIWwrDzcdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrbc9IR
52htSnuhfkFtSms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB42sWY
229VRRTGv31OC6W0tNBSOYWWWwtCBBJQESSGGEFuQREUUB7wQWOi8cEQ/wB9UF8NJkaJBNIWQSog
pDSKyKXcElADCZZSyv0iHEi536Ljb9Y+bXqB0PYc4v6yzsyePbP2Wt+smdnrKJCUqWI9peCDt5d8
qAyl0SLn5J8E77/zkW9TeMezCGVEmcECBcFI65urkXoavKhpmq3FeldlalCj7gX5QWEwiPaIjrpl
anAfK6ootXr3no4jgd353wtoWunuqBypQCqRgFqjcmivVRlSjlS4uFZRrnG/ay1S6Rr0I33Wuata
r27axH01stWd0F53Tb00CwtXMqoMKUdCDXE0xNEQR0McDdI6ZD32VblTaIhjTwU61yLVyFZ3Cy+q
3RFqp3nPSnqXIeVIBbIK2eFuY/Mingb4W0X/0Ncq7nPRnKPeKoLpERqn8ZqgiZqk6arRUdXruCI5
tZ7NrPpei+FzODNwKoEqd9n97c67Q67RnXFxyl1uh5K6sLR1edadTVZXi5ar4JpSdLkb7oZSdrkG
cDqJ8ceQ68gRu/sLHOuyrushe82zYJ4S88lfGerpLrGqvNab4La7D24m4fenoC7UlmhJRttddzeF
c3oCXOnSyPst6rf0GC7W7Xl3KWktVx+2Jh69NtwZ+21hQ9sIcxfCSPG1LtiWTBzUI9sS9X3In67O
7XQr3OoH9D31f8xp6iPEs++1tt57O7/qm/Yddzmxi1xo0taWKd+ji+dDPKV77xKwhfKkO5loOdmJ
4elttB1wB6y81nTW+NLfWUv6w040zvawvJLYga88hlWf2jProrv4GGzsxE4exlqrlXooUf8BVFFu
cL/yy8lqZU3zyG1uj9vr0SGbLvtvnZR5WBPawel3+2HfKu3fb+W59nuvWwbw2tXy/RnGWm2rsX94
y91hd7hDth10BztnW1MPH7PNLfcS5WZwxtYr0c23c3OUJ56fszbOyU7x18FzwXagR+4xoW0tV2BS
c9rYtGO2O83utPfDfuva++HKgJ/T/W5/aJcvE898yxar+fit69g+4XaldI12+Tv/UTPdtKO49eFX
il/VrvoB/b5KlD+F1rilzU92d9iYiCb7zI/MpxRENAykkeMMZ08fATLIeEaShY4CWRoNemkMyNVY
kE++NE4Fegb007OgkPxpvAboOVBEJjVBA8mmJmqwngdDyasm8Z4pINBUECUznUZeNh101wzQQzNB
T/LV2crWKyBHr4LemgP66DWQp7mgr14HT+gNENN80F8LQbHeBIP0FhhC1rdIJfoCpOlLkK6l+hrL
vwH5+lbfYedyUKoVIKbVIKo1qsSqjaCPNqmaN/4M8vQbKNE2EGg7KNFOkEuuWIOdu0C+doM87QGF
2gti2gdKySaPwms9eJIsvAGm/9G/eB3RC4zNQYvHIDztbfloEXwVgxJDH5ubwOYjYuxHLbdPM96H
Ge/pxnt3472H8d7TeC803rP1Esg33vvrZTDA2O9r7BcY+0Vk5bPg1PPez7iOGdelmgeKjfHBxvgQ
Y3ygFoBuxnuG8Z5pvOcZ71n6RJ9juWc/MN6jxnvUeO9uvGcb7wXk7d9jm2e/v7Hfl9x/A5Z49mPG
fky/aCvv8nOQZexnaQcYYOz3M/ajxn7M2B9m7A8x9rON9xyy+eNEsOe9ABZjFvuC3eHYNwJm04nz
MVg2lrjOJKon8Y4p8JUPTzMZMxsuCuFgPvO0EA+H4uFnjPYejrL4Gm1+jsHL5cyO920iPlUyCxvx
ZLJ5MhUPtsP/TiybYf8yzLGImGuWzfsPi+3WyQAAAQAAAAgAAAAEAA4AAmlkZW9yb21uAAFsYXRu
AAgABgAAAAAAAQACAAgADAAB/1YAAQAAeNpjYGBgZACCY6nbT4HoHR2Ld8JoAFNCB+YAAA==) format('woff'), url('ITCAvantGardeStd-DemiCn.ttf')  format('truetype'), url('ITCAvantGardeStd-DemiCn.svg#ITCAvantGardeStd-DemiCn') format('svg');
  font-weight: normal;
  font-style: normal;
}


