
@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src: url('ITCAvantGardeStd-Bk.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src:  url('ITCAvantGardeStd-Bk.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEQUABAAAAAAePAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABDxAAAADQA
AAA0P2JPukZGVE0AAEP4AAAAGgAAABw3dv35R0RFRgAAPGAAAABAAAAASgUtA+pHUE9TAAA+VAAA
BW4AABL2MptMrkdTVUIAADygAAABsQAAA75do2j4T1MvMgAAAeAAAABVAAAAYHoED2JjbWFwAAAE
sAAAAgQAAAKCdtKVTWdhc3AAADxYAAAACAAAAAj//wADZ2x5ZgAACLQAAC6AAABNsLElcj9oZWFk
AAABbAAAADQAAAA2CUlK52hoZWEAAAGgAAAAIAAAACQHjAP0aG10eAAAAjgAAAJ1AAAD+jK2L+Zs
b2NhAAAGtAAAAgAAAAIAXcdxtG1heHAAAAHAAAAAHgAAACABSABMbmFtZQAANzQAAANJAAAHCCgJ
8wJwb3N0AAA6gAAAAdgAAAJx3FEv2HjaY2BkYGBgZHA0Dag0jue3+crAzfwCKMJwWa25BUb/r/33
kSWB+QSQy8HABBIFAEzYDK542mNgZGBgevLvD8MJlur/tf/rWBIYgCIo4B8Aw9gIhXjaY2BkYGD4
z+DJwM4AAkxAzMgAEnMA8xkAJOABlQAAeNpjYGJ8zajDwMrAwtTFFMHAwOANoRnjGIwY3RkYmLhZ
mcCApYGBYb0Dg4IXAxQ4uji5AimF30xMT/79YTjBfIKRH8hnBMkxSTE9AckxsAAAb/kN4wAAAHja
bZNLSJRRFMf/995hGiWLHpRZwzg4qTgIBk5hFIaPGkeStIIxihaCPUCKkB6k2aZFtAkK2lQuJMgw
WxcS4aYgauUmoaBF2IMeUhRBNv3upxMifvDj3O/ec+659/zPNT8UfGY3lMIGHTVnlbU7tAY67IzW
29dK6Z32mYc6AAl7SNdtVptMXEmznJi4jtuYmvHfCD2wZW4cgbUQhT1Q48fe38f6Pf6TVNItVYl9
Sky9Mi6uSvtcGRtVxkzxv18V9rYyYmy+KGzbOcuYWt0gPh9Y38t6pRpdD3u1qtEWq9y81BLbp7S9
r0J3Q0X2hApsi4rMdxVwjz5/Zuwu8nca6sAZLtkR9rlLzGmVB+NexUwx+Yb571dakzCT+23+cJZX
SrsxfC/AZXxHsPdUYRqUNuOqNFu5ywD7hxVxq8n5lvNIETPEGSZ0knyfsW3kb8nXnvo0QAGUBBrg
Q71T2GuuVCvNHZWYM+Ty9af2fo61LnNVdczVmFNKQJS5W9y12R5WONAnqSfMp4mvIj5m/6ralcMR
6pzUtqDui+Ae5X4FWkRntYAmbzWVe4EWK7DDMI1WyuuwEM5VG1ivxXzQwmtmD2pnUOtFCPVgvRbo
MB9N5p6hRQQ7BJ+C+ud1WIjvL2+9FvNBCztKjPw+1GZM1oS0KnSevMfw9z00Tv/me2ZIhWgSpl6t
c3RBO0zDKDyGLHTbj6oN6t+mQnqrzL1XGTp0wvaAB+qGJg/6Zj3mm67gdzF0Tuv0VQmIayDXb6vo
mZ+KuTfUi33dTd5gStV2UHE7wfusV7G/o/cNtO5QwlUpZXq1zGZ4cxn6Z5bNrNXxLsIK/wPiWbpH
AAAAeNpjYGBgZoBgGQZGIMnAWAPkMYL5LIwJQDqEwYGBlUGEoY7hP6MhoxNjMGMiYwVjHeMkpuNM
J5nuMq9k3sN8QEFEQUpBTkFJQU3BQMFKwUVhjaKwopKimqKeEpMSmxK/kpCSqJKUkpyStpKHUoJS
quqp30z//wNNV2BYADTVkTGIMQFoai3Q1GNAU29ATRVWkFCQUVAAm2qJxVRBoKmScFNTgKYy/v//
//H/Q/8n/m/6X/w//X/gf9//Vv/Y/7H9/fFX96/0X4kHxx4cfnDowcEH+x5sfbD2wZIHtvev3z95
/9j9/ffe3Ht57+G9B/fu3bt978a9M/c23Jt5b9ptI9Y/kJChPmBkY4AbzcgEJJjQFQCjhoWVjZ2D
k4ubh5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC0sraxtbO3sHR
ydnF1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGhrb2ze/KMeYsXLVm2dPnK1avWrF2/bsPG
zVu3bNuxfc/uvfseFqWkZj6uWFiQ/bos62fHrG/Fv36nl7/7+OHG95yaayt2NSbnfT3z431u7ZOk
ptbpR4/dvHXv/u07O/8cPPni5bPnf/89qrz74GlLT3NvV/+EiX1TpzFMmTN39qGzVwovXLxUdfXy
OQApUdCPAAAAJgAmACYAJgA6AE4AgADGARQBagF4AZQBsAHUAeoB+AIGAhICIgJcAmwClgLUAvAD
HANKA14DpgPWA+gD/AQQBCQEOARyBNYE8AUyBV4FgAWYBa4F4AX4BgQGMgZMBlwGeAaQBrgG6Ac+
B2wHuAfKB/oIDggqCEYIXAh0CIYIlgioCLwIygjYCRAJPgloCZwJ0AnuCjQKWgpuCpIKqgq2CvoL
HgtCC3ALpAu6C/oMDgwyDEYMYgx8DJIMqAzWDOQNEg08DTwNUA1+DcYOAg4qDjwOng6wDv4PLg9I
D1gPZg/CD9AP9BAQEDYQchCAEKIQwBDMEPgRCBEwEUoReBGwEgoSRBJmEogSrhLiEwgTQhNmE7YT
1hP2FBgUPBRQFGQUfBSUFMAU8hUiFVIVhhXGFfoWFBZUFowWxBcAFzwXWheKF9IYEBhOGJAY4Bki
GXgZ0BogGlwamBrWGxYbKhs+G1Ybbhu0G/AcHBxIHHgcthzmHQAdOh1mHZIdwB3uHgoePB5cHmge
gh6aHtYfLB+CH84f8CASIDQgdiCIIJogqCDAIM4g9CEUITQhSiF8IZ4hxiHUIeIh8CH+IgwiICI0
IkgiXiJ8IpIiqCMQIyAjMCM+I4AjtiPeJBAkSCSCJKQkvCTaJOYk9CUAJR4leCWsJggmKiZGJmIm
jCa0Jth42r18B3hbRRLwm322FXfLsizbsq0uucpFzU1ytyW597jESew0kjhOj9NII43QE+AghIQ0
CC0kdI5ejnIcnQNyBLi7/Bx3FwIhlCv4+Z/dJ7mkwX3f//22Jdt6uzOzs1N35j0ukMMv+J48zfFc
EBfMhXGRHJcj1Uh5mUamkIImFKQy+P4/9wr3v3avcB203vvaveTp4QrYwY0IH4yAMPwhNwIZAuFG
OMLNQWCPkFMIS8JxMqlOKpPrbI/U1taSU8OfEv3w1QsW4AjCTYanQT06Tie10NfNTucOpxOvpAgf
QwobF8ulkDRymFNyKqRSonPo6MthYS+LhL0kOnyZ8ApsUNmSVyY7VFsCt0VtCdyeaE9cia+rA6+N
ujrwt9KVUiAn8Mu61PoafuEv69KlHHDNIy/AN3wal4UY5Mmg0JlBpw2SxyTzilh5TJAEV2AGkyUZ
LLl2m9XMm4w2q91hgwpPA3EHVZoyy6Wx2Wrt/t660vppfF1AQ67NI1fadJqbJlfwaR2h00rs+SWW
OFOcIjTUsaVyYdj06ZMGaoorvNZEszIhLCRjvWdaWAfdhkBOOfId+Qv5jgvl5JyGy+RykDuIzZIb
GxOk0xod8pjYXLvVqA2C8z610I+RbBnoQDm92j19urt6uqOkrwR/oJj+Qz90lOTmlJTk5JbsFeYU
wq3EA/j5DTgWckpLZ5SWCuoJH5SVEcVwIm4TfvGcDWl7gZzlEjkzl4e8skgUElME8gr54TATk9We
i/yKIBIFL/IvUOFCMo0yHCRh3CMNDZsOW29L7W/tW3tcpU6E/ptmxuWatLcegwxHYGiwPDiOr7AV
9NzXUArQXOL0wmv/PpK7p6l+bduOFk2KU1PZ31+pz0tTSG+Hh4pMYYrYKEVIPK+xmNOcgvSYoTWn
sLWUijPXCk9zNzL5YtJ1oyhWTNS5LuEs3IzrCKf7HQHIPIXcSGzWaLi5b9vW/lsPHiFnW/P+ds2O
v+W310PMvj2QxObpcV6vOE9mYysz2WKj5TFE37d1S/+tB+4Rzrbmf3nt1V/lt9ULX++7U/iriG8X
7IPXkRYplWCHgnJNoXOgxJocChN4QxYkLF+hHAx1hA4kDQ0lLgglpzbXZucVZNdu3lKXk+/Iqd0s
wkFZICb4CWUD6bbIdSiXOpvFBo0ffeT+6CP46WN8d38sjk0feZR7khuk63egxjxZU148+NRT4jWO
+x4iwUmvSTVyDUTiupwe8dpcfH+CW8DmIfwn6hdQhQWucuQOOCHyUwEWqISyFuHZGbz75yc4pqeG
kXMkAXkTy5lwptTq4i25ySCXojjotGZeJmUSapOi+qBsGEx57oJ418I6W3O9Lrm00q5rmeYumROa
YCjSe6Z8DQHOqXZdqG1Zo/Bj5WxbfKTB0Qku4ce6vt4miFBkZekU/UjTABLWhjShBdNIkROo3jd/
RfZUDyeKa3EgYZFIUzzHWWwOO35TxZHo8C/UHEkEMkEjd3xfG5fKt1/VQhp4p2vhzHWE2Aq+h9nl
Z9xqR0F1x/SWRaU1G6fn9zrPVSNMus5ghJlB5cpFLFTiJcm8nOmhyThqJYzpYBP/wOUeaCJlbVlN
g7PMJYmhV1+Rf4Umg7TwvSXV7VMbcgzVlc5cu5PYijv1M5tm26JsTnPszA1Z6YVN1e095cVTS+rT
LeUVyONJuJ4YXG8IlUCNTWMDi5SKgUEjheXCTXBFW3298BtI3FFMEob/Ub7jLTjO+KBAvU3CecgW
Ge63xM6oZgSPkqvTSkybYabwp7Qy78D2XQt7bw1vCZ3ldM+9wttRUEFOVX9q/k3fnN0r51Q2z6up
nd8gRXqSkBc6JtdJ1BpEwihgaiEdCmarRA5Adu8unckx7bpdCzZWFZVK+26feUVl+UJy6iNrwtUL
B26bXDFjyvQXoWb23NrWGdOR5kaE+CPCDmI0o03TNMJh4Q+dYBceIqfKhnvJHmaTspGGKNwPBadD
q8RsJaMB7Y2CmSaTCxxmGG8hef/f2qC2xccX5aU4qwnZPnPWNgJVrpS8pmpLbnV1rqVa311e1t21
pZvkg3dgfq21OSZ2XkXf5qv6K+YqYprNkFtVNau6SlgCpT1TNvb2inqAnCB6pEdK/ZVGVwxBzDwi
Z6gvkZhEdjAKXABRvbv0qbZp198scqW/rnbW3Iq0hkI/V6r6umaIXGmZaeik8Jl+kgSf30QNlTEt
ra8nCQsWCK2orETU/Qlj0AI8XtdQX1LMRrUxQ4D2BHlnIgGMxwZ5OMgNOfCj0AFHhBBQn2p46smG
U2xNOdw8tDs7fPBQgug3HRrCXjuqb6o+H54jE2yB8sAchNVBB5VRYJ5TIo/ScfA3yCMNZ+A4gw43
SNRNZIwkSK6zOlxg8XkS/EH6wVxPjHn5ETKod9lagkkTBG9vnbI+Oi0xSasLInXP5HfZCmNV+oKm
kqLg6KhJfXNXdyTb7YmJ6lL9XGq/CJeAOvAv9Kv5nBtxMtEwE9GFykUbBaaxrcKoAkUoKHZUg0WR
MYi/HHYbixDIfXG5D9S075xmP3n4mrfNlTXqaI2G5NSa69e01CVG2+tCABJltoXHll378uM7634j
XJWtshZFaCBHlT9jf7LXXTJvm3vf/zl6XclAuSFEn1jt8fQdrCkSwBQSH72+f+2NL9+05eXS98Ga
WZE+OT41c73PBjyHeiFBK0AtO9piXRaEwmNtnWBrhNyu9vhdO995B6OtxHcqYIlwLe6aF+ck4Jxo
LplLQ1so9Qkjmq0gtII6Xm7JddCFov3ipfRvB/1b531pWm5jv7k4fhLpV1cWrFqYpyrSxSe75m3J
09ZBul5XSU7pMgfmWiJsrhTZSqssguz+KVJTZ8wLjQLhJeGfEZqujNKoSCobKSgbAu456ofB4osZ
KPMx2OJHFYKQQ53GJ5cd/OzTQ2uPmTpDTa6u3A0PPrjB3utSvdq16rO79n1+VWtMeo7q4Y1XPayx
65AfdG0HcG3BnGxsZUE6ugxcEV3Eyd9N6Xzh8et3XnOzu34HOTXYt+++18ju4Qf3btve0MLkFmHA
KYQRSiGgaPteXrhdeAKqhKfATU55hBGP8C/P6PgXGc5x470wJJwAvfApHfuzV3hY9EGmke94K66b
Rq86ylTfWpHHaMEZ+/2s4IN6ddm109Yef3jtorYmmXADvENUWa8uOfDFnw8sfI7os9XWB7duP1pe
0l1RXzpr+cmDhz5Z7KeHtProx1gHQ3cLBt6aO5qbYWZLi7CbnBIeB89wIjRz/vHcHaIvR45Jvc1U
WvDzoJFzcAg/T8BB0hgJKgBVEurUYhToJ6ie2qRwKCYWvXecw5UTEkA6SWSVNj0vJBxxhE7Jykw0
RaiK06NkfJgtE1IStUUk0BdzIY3NzHcxnGAJRpsu7WqGzC7hDWibLbyAEG6HWcL1wrUwVbiLzqnB
tydE/07naOQ1LYByPDzTM7oOnvr/MHHdwegOdTT8vbVuKUSDdGk9Ef5sE77AGTvJAIaxNw0vIDf5
+LVX3D8Z8DgJMES8E45DY6PgIY04/hYyF8cPDtMIkuAenuPTcQ/DuLjRaFw+PvCOottq+su+A59/
dvDA5y1HN2x84MGNGx6EQbjnk5P7D3x68gBsevhRII8+wuxfOb7RoDqSeWSqBMkQQ0UhHXABVAHF
4NKoK3+pvl2nT0/T6ts9K1palndmx6lU8dld5JQ8IXHanL6ExFjhJNktvKuKKjOayqJUzCfmoMzN
Q3rjuFQapxvkVLGDJho8SSwwc6tgnklBtR8jNvSUVETRMvDzUmKavXOWt+/qd3x28NBn8pS4GKdw
BIbuk0BYS8XgZP3yzmNXQm95aCeZPlhUHu9tLMuvCuBDLJUl86727vvis73Wrkp1rInMuGuNNVVp
k09rumrz0eGdOaHVpCze6tFFsD2kvMhHXih92osxI43MJDIdP2qUkC3lL+wqyswjZlVtwRNd78at
Ts0zadPmLyWnjMqB4hZXmiZI+CeUGx1NaQ2xyuGZonwYUZ7PIR/saClHszcqz+YAmxHXnUwUOqM/
U0kOFLfU2DKpJ7uwM96WaQoOUGpchmTY1KWvcKYGNCvm59eHhGqlDrleqbArtZHrZk3f9FZTRVOR
zqKVhfEwKUxjLE3pXSBPr8tdWZ0nU8fGhcknhYWEKJWpdk3P2mUiXehF4VVmw3HNOptGrpM+8xg8
/zjZ7fH4aXejvbTgmCQqIdIYjGaSAT2Pi9hQE2KZappwP90tJEoaU9lYIZNGkWbQWsp6ZxQbTJNQ
mdL1eltcolaTqLAZDPChkF67yJSXl9xclkvhh/jsJvpqDViU6EbALHza8cOPHQKG+cNbyUoaRQON
NPntPh3j6Tj84XWhcOIPbffsdx063Pp205134oRryRL2SiSdw3fjPNQtMstnk2RsIg84LVg4M/W5
53q/5kamvv82XIn6/gmYhNuETVAqPOfDR4pw3iTKG3Ge9L9nup59pusMBMAXwkK4QVALPzMeIQ74
h6jHwRjJYzyMJhU+FXaj30uFecIOeJ8cGj7osZFZHjp+zYgLFot8D0SeY+gshcU//vjAhlL+cMnP
f+LOy3MCKVO2Cs+2QJk/0QGuGmEUiTAUNgvLOqrvv/+HF0t5Q8nPXeLedcIKGBF5i/TLcNmdD9Q+
0LRxI34+IOykpxtiHjayCb7HWI3iopR/L4TB92tz2bXNpB2u48NY/or54t5v4s7yYVuz1nPMHp0l
M0gqF8VpqaXW2cb7UxvIk4kYpNhNYpgyw6ta6rnytjtXNi6PFdohY2ZV5ezYaCJTXFHZswpThS8H
i8ruWTp0sM6ySDgH1t4Kd6HJbE7Jd68V4zU34tvoj/NRS5MAXcFoCiEHMURiltDt1S6pWrbvzpU1
i1VwZHVXz8rlPTOXkFNvzM8vhb1rVh0oLxyEcOhZvfaRKzeKOnoWfVcq9TnnxwX4j4Q5SxcQSZ1y
59RNd+5f1XubsjZugbOj1Lm60zP7sY4F9y4eOjivt7TCWTitdyV4/fzpY/SqLuSPE+gZD7UtJgwP
kDt91arBxrW37RlqXiYXJsOSGT3OYt5V9MRq6hUH8yvvXr5yf2324leENOhYX1za1V3kWiPyRYV4
WpB2BcZVnEGTjEyxOyyi2xSPZ1BpAzVmkCCaFiGW31jnmp5QZ3BXtHVudh0YWt5gzhCksC9gVVPb
in/1zoUCW3tmRseVVSsO12auCPIsJPOZLKAcQTTaMZloLyw2q0UeEZAEVIDbGhqekUWlymVLl8Ln
hRn3FQIJj83WGAoFDaPROKJAXqQiJ8yiVxeTIkusgm6XE84THV9oYmWBCulrTBlwTL9O2RZvspc2
X5m8sGbNnr2rapfHCR3L+ruLCkhOwdyuNSRB0G+tM2X01WYoTcunVRZWHVyx6oDHNih8jxxzuboa
XDUrmU1Dghy4L4pRKVLQcA1jFYYPN1vq9sbNcw4VWDwmc2ebOZ2cemWKxU68pWuEz0DVbXHYsuqF
t5hM4upuGj0/tFnkGPHhbK+XrJ09e3gTlWq6/pF/j5i5w2xcDBuXhDyI4CVaiY15WWmPNyBKVZAa
OSkkwKamc/uHz+iynEZVIJIX7KkmMaOxBnw9Fr84LIE0fvF6v+sWhiGyQxDQ4naePC28B8nCX8S1
+uhj491eX4yFn/MrcD8y2OdymulQ9+sQhWWMFxHsbzs6K2MQY0xV3LTcKfYIuSwmv7vHplV6U3Tu
RmNMmJdXpdTrnVI9SWjLtjoj0vTyIru2xyt8CCl9mZl5Sns2/pnemJ0HoIrPaRQ+4Mb2IpVyBemI
kbjAj97IcLurIO6K6mUDnvaOlh6SUKS3FQJcPV94C3TdswGmtgrvcKKufcfki55XXuKk0rT3ynV7
9667cq9n1SOr8Af1f+ndd//j8OFl0L169ROrV4s2xko2MZuGNkaBnBl3SJEEoomRBMUoEKa7yn3b
+l23r2peFgt3L57VWVzkcj62+k3y5cJ1Dyxaerg2Z8Gb8Am0bioufszlXM1otDIapZya2YNLSD3a
S1HqvbHLWlbefsfq+kXJQtvqni6Xky92ds9cjEKV8OZAdu3BZasOVdrnC99B5xqXs7uruGSTn6dQ
wHjB9tbukNPgAlmZvUZS30oSJvcHeKZ1C38S86GzcBOOTaV5AbOfCurjAxSx485l0H7TH0pnMsAm
jyU13UrAYler7AkK4OfUuQfBQ8oyzLg3Tk95NUyvTqmyws60LIteb4oKDk5Itmg8fZ0NVkdhWka2
PKaosKo1sYriR/8KOf6ch9oUCz1RlC6eO9ezfDlakjfeoBaE+ruzKCcJ1PaIlhQJoiFITCxTH+Ko
UsxxLx/wtE1u7aFKNw3lhFw9H3KEk6KcQDbnxzeMcKgt43XUscPwB3Uf1D9wP52FJqQUnvP5dD4U
x50fb7z82/pdG5wbd9Y95Vm3FodXwg5hGfx2+EvYJgz5YqoTOM8Xb2AGz8t0Jonk6Ue6tm6b/PAz
XTdcDzEQ9Pbbwn+E0598ItI0YkU/ncB8uYMhgzU97zQcebBJ+MObfyRRQh08PJwg6j89K74Zx9Kc
j8UZcow4wiFN+AssEj6FLDscKSwSphTSsQvRi24hXzPvQ0UgCdh5FP6KLaQfOMFqsrkAf1lgi90U
m6/R2xVGe/vcdo1tLvm6MC3/BWuPLKyl4PmilMKNzw/oayVNrlfWMzq+HgkCFznD4gLcuK+bmsiZ
n+NEGusR7wwRL1q6XIpPIafYxbNIxGfHAB9/GXX17XNtGkRoNyoKVSaLwkiOF65/xdUkqdUPPL+x
MKXoeUdbRHSn44X8NBG2hztGIqCKZkCgYCd8OqPExCx4cgA7y/oxzuwyur2mAlN8TEmKrjFIHRkf
HRytjYHi0jqdni8vMaSBno8ICg6IVTDbMWfEwT1ClBNt+Jza2lq4f3BweAfRD3/KcJdxetynp9jZ
AS3F2KwYf+DwWDF8F89kMHiQQE1Z/wxjb3nJVTkNad2Vk1s9ltLIZuVMq35e1LaanJ760L6++FW1
3Rt7M5TFVcE+ecP84zt6to5bQ09FxNjJii5Szrylxmah/6KOGE1joQlii1XArc80pdeYc2MzJTUS
h7amQvjjkuLuZR497Bjo3B7VENHu8nQTkg43uira8l2R0eZCeZxOVl+oVparWpprXTklfdctmJpf
A72e4hzGkwSuhehJN/6mZ2M0azNJTA56nGpysFzNoZDExkgUBv/hqjYI/ltfWltX0pDamJvblNrk
qq9zNaY25FoahZ5p66f2bpzaUp+TU5/aUFzbVNiY2pSb05jaWHy7q+EElEyZUlo2ZQrlQywiR3fL
9leuk4wrL9CVi4E4SXhB+t77Te+8E/3sngc6jj/acRSeK9aWFn/2WXGJrhgMwquQT60bXcfXI00o
pwd8e4uSKhelFeX1gLD/FmE/jrGNSEkKxjVWmgUC20sJZjoqoOfpEp8bsYjba4YswLQNJdh/WkJz
uSwIksSq0FMTzhO+wlYF6uT4u+TKrISe4mV9/dvB01pbXksgy/Lb6MiUGFmmPXVpS/dAQqQ6Tv6i
l0DFicQs4hwsyE3OjA7zhkiNBbqpTuu+BYsXN9aX2QyWuPbgSUkqu9rUqs4tbO2dIXRArD4hIqRb
761Uzwhz4Rp2kvlwKzk9dtaK2ZztT24IcJPT6/GL5uPRI9/zEeRbtGnxNBeFUc+GK1GMHi7SQpm/
8kgPw3jH+HgYboR9n36+d99nnx6AG55/6dprXnreYQtryHZ39paFxqdrkgPtkiVNnauX9dXPI99+
vveukyfvuvOL9Fevue6Vl6+/5lXh33k5Mxs6pvBRSoe+bcbKuTM2TBblDQ7AUtyDCBrDUgs/dghq
k/gdo1VMJGCpxdDlmdpX1Z56riyvVhMWEllkyK0mfxdeLPX0Vbqn1pTfBWne0oREpUJlrBDjA64b
JsOHXCC1zDKHRaJASaHvpvmu+fNdCQOugQG0Is8++/TT+PLXuTYQE2ym5z4yWtihZ83VQhNsFn5+
+vL1q4AJvLZwpZfjdiA9AaDHoDT0QVNiMvPpKPsyFNVcV5DNOp7l179AWf6c8ObjsRl2baNBTQID
guySIJDIs4zz7Q8OLSCK8PiomLBJF2H+yklyq7FWFZqVVpEcHtapiE8MewauuZug8IZHJUQ20TX1
k+3wGnmVrgloJvuasJu86nIxHubDPdBBfoe2KoZejQnSGmmVQzLOBHS0DLXgzzd5jXn4QxxQSP9t
KYKUvLzUlPx8Bid75P+gvoXiTtAjWdHjMyWXUnc2yf3xx+6P4V/QdeyY++hRt7DD7Rb3Qw8p4EUZ
V4i0Ofxn4jqrQ4zSIgG8wol7CoxppszCpJS6stqSa6DHmn2oMF2fU2h2mfKqXMUl11JYSaCGeoSV
Qq3CBbUyGuzqfKf/uC++WlKSC+z6tOycLH1CqkmTpNISJ2kyW6ryjVmTS1vT4uBopjnXpHGYM+IS
jAA4Pq8ky6mKKDUVNRToxTXsIZPhMB/J/Caa0D1nlGfJtq32DWLO7yYS9O1yFnlKYxRiqdIiagOG
n5VeTarX0+ypzlg0I/sJ8p5wsj/NunQA+OEvZy2ur3uAnZ1eTaLFGq9CSmXNRSz0YId+n+pbk+5p
zIDEQteK5fBu/9S8pnRZwc9f8Kqf/yzWXF/lngA7o41Vc8A+OIifPz+SAvOQeiXHjSvamQm6JtEk
0qKdA1ITgkI06ZmpwTKVgk8P1kTHAcRJFeGGzDw+Q6O1BoSr4zRxsdGK2MhpYpwKKdxJ8VyVdmjo
bCcLuzB9qYBtViYnaWgTVqNNCKU7Pnbe6Y/pGeKgtCne2t7+66ZZKqZVAZTlZlcRN1T19VdUTe8r
h6zKCktOVYUvT+a6oBE+8NkAhUTnMOnY+18HqPq751NTAB+IJuDpZ5keZ+LEd1n+FIS6rKAnPDqQ
SSzACAapX3RlRCs8XQLl2+64Q+jEZazIzCw6+SlNtnBF15whfWxZwsfC77Kbm9OhmNpjCvs/bP3B
nMbPAw3ogidKt31Uul8s7IIfGBqIFz45UmBKM2UUEUVKMxV0H+cowuHGUZnPNzl9Mh9AZZ13oswT
XIuUoyGihJ6GgWxsFYG/ThfwQ/Lhnj2VlJayF9lSh9supx3GKpkCFn1D+hg/RrkQfmmFUSdp6J4V
jaQSjtUQDWJsJqEBVgSR+Ctglpgguc8/YTTmIsN19fXE6DDEJUODy9pKi3Qh21t616WYjBpdENy/
YEFDfpfNkOBIKmwsKYwOCYwK6Ju7erKpLk2nLtWzc2tW2+J/y2pbEROqW/QIbEKFS/lN3NnxVS5y
95bs9WMwnr0YDFT7CTBUZ5TfToChY/bAD2MvgyE9jw7MKXSOCWAeOtoytKLloQmQdmxubt48bk3X
MliJE2D5w2jUYXYGb8mdABZy1ekFurzcpAy1OrXQZM1WZ01AsTTXFB2VbME3pi8int2+dUdPpNoX
lkyA30VjlAkQt4rxih/WqwxWLD1jHA/Lbwt83tTvTCfA3gVpRUXtRc40UGi0ijiNZgKeh4vS8XJa
elGGzqzRKOK09JzmJ2TWEKuJIO06GKvCYaolwfgxmACsF/4MScJfQSXcKHx58zPfjVblTpyAROjn
xLw6hdUZ8zgu8EKb6Wt0cPiO586rPtKAC+6XS0LUmWhNY5IVAenBWml8XHRshD5l10sXKUqGdhof
C08/38q2R3x8y3mVSmnnKtEWsloj/4rog8dXGwFFfFzFUXgEJXx0gfwrTLxH5792kfko3uPnH6ce
bnR+KRNtnF/B5h/B+dET5/OiaI8D8ZQo2GNAjjCp5n00HGI0yM6jwidq4yn5lkXDo1AOiWKGe/4H
fP8j/6IYO9NTMp7yoPmRM3Tlw4n8i77zbto3FY88GxtH19q840zCt2yca6uDjhs5guNc/H4cF+KH
J66pOdy/FBy936+bI2fx/Qf+LgY31DfDT39zv0g1TrhrHX5ROjhfzSScemSZv9ZMi3Y2ZsrHas6f
vTS188WjX3nvePNNse4Mu8Ez2Lfv3teh2QPcCOcRfvLXn8Ua9l5+O3oj5fiKpOECAzFWo4TX1ClO
XV6WOlOlSilKsZg1ORPLlneheYhMshilUWLvHqthIg9pDTPxMlVMamkvrGQ+icJ4kWomvCuK5Sj8
134ZPm7dhfAfR2G9GPw6UWxH4R9m8FWXgQ/ill+kGFsjysDF0Bzf0tKyZTye7QxP2mXxnL85F0H5
B3VaobhJ6pSitJxsdc7FsN84tlUBPvyHfHxUX46TPlG9EO8PVHQvhumYT/XQTlppnxJ8w+SeNSKK
fYmzLS+/bHnlFcsrL+fi20vWl1+2voR/+HnzMdIWhnFyMmdEIJjN+WN0ZLnPpgaDr8chGESLS5YU
tXXluz8/MNhW2Da5yPvF/kHhdzCrpHvjAzb4vXBbafvGB8hTzauyd/XsP2ltWJ5zy5SDfxreC6cz
HtlQuQJ2C7LUx9ZfJZ4RnyMWjA+SWNR2maooFeJLVUanMbt6meoouZ+ZnVF8z/4KfMi8S+Hbzuzw
5fCl+G2ziG8v4tNfHp9PyC+FEqKPtq5Y0frQ5dHeMBqjiHh3s3UafmGlPqG7FOqnRat5ObzX+O2/
WOtF/k5ip73+ai817r6K70ZqFsZVfXmHzx6M9VBI6bkFPW2f0EYhj4fxXRQtC5taWBuFobl2xfJu
s7+JYluMknVRJMl3E5nwrkpaajSVSlUUftXIWWIl5zD+yaHwrXbHxFDcDCaKBPkk2nx6SuZvFkMS
qmKUqt7c3sXTvR2b+t1zIrID2vLKO3LMvSlJjqa6EoMzKjoE3ujo0qVmLGlfaAlbUNW1BmrrdsAn
wml3FTQ5q9L0UNhYVF6jUSaXMt07S2ag7tGar/HXVH2pDly+8juPasLlqr9wkGqCH3fk/4Abt/AX
cFOtuCxuNd1qH27yLcOd+uvWzXTj8uiHffHAZSnYJiqIn4b3GQ3WX0PDhc7h8uTABhV1FLlJ6Wrm
KMzarMuTNlsM/pl3D/DRd9q3P2m/iks+Pb48XXcxbb4sJVcxbfbRwMcxGsxc/q+i4YJUginQ5Un6
ZFxqocnWaC5P3UMXphrifgZUkVTOxNk4J6vc014j8bTVJBfJ9vVKKWysEqmIDfQfG7IaIS3q03pk
QJWgDMoqcyYudNdptkyuWZRUKV/trRos1e4b2l1cWbJzqKH1Z/3qKe1rnK7O3iE4B7dJBxp6ClL+
U9CaGj1Y219Tvm6ds8nePi1r1YFtK4e2tnYugCmr1ndMLi5db+vuLcsQeyRSWI+E/ZdyGmaiaHlC
wgrIrHWCJTXumEnB45Oa6DiW1Jjm7oD9K30tFe1lSi3tqZDVKa+PSDs/p2mL2L1w6MC83pIKKEpo
yaStFrb2eWJcwPog+DDWB6H9xU4IZph+qRuiDW3TxTsi4DrRPY/ijfy1eKlR+iW8DWeU314Cb8ho
LCr2fXzL8Bp+xXpFg/RLqP8mOu1LYF/MjFGAD/dp35qNv4zdr+i/hP46DwS6L4F8gT9uJCOv4fu7
rC9pXM7m9j7k8yWjPUq03itl563jcja392qf3fedvZKRAzguD3l5fs7m9gaP2Wjy7WjO9k98/8ZX
bzkvZ3N7p/rtlb/2IvYn9JO/i53PILE5jCZHrMIhl8SK93aJNwig1mCgAKM3LKDKlJ66297VUFfx
+xsWOLLuWbH8MMAdS7KnJEckWoR/rnh6+eqOqUNkkdthT1DHJxiKHeayGR0DV+0nv9m47jZi0iYl
OoQXoHvNus6O9eDrFxJ7Lt7nYui+XbTr4kLHMaEPA2ou4icu1ppB3h5zELzYo4F7Rns04i/VpcES
v/M6NaZiJn5BtwYcEBXQDzfyF+DShO88uJ00rrsArkpUMB9clAkKN/HS9IqJ3nmgzz7YQrXoQuhb
fSI0Cv99Bt90yfvrLkzwzu9jWawWdyND7cvBsy5EO2ucpxZ9NcV92sezpEuuzp/cnYdzN0vtLsCy
yaegtPf3a2IiwX79oOcxPEJid1E0uj+CHz9yk+B584S33O518+b5+fEZ0uTkZJyS07H7+mJHszpf
LRBkYlZn4EWXA/+tK+vZe2WTK7W+omfvutYC4fOfMvK6V8Fs/NUzRJxTWtctu9uQ19NwFf4SFkFL
4uqeaT8JDyjXdE+jusD6SlAmZayqdJHOEgN1E+O7S4Rnzog25iItJt/5fIIfbuRl4FI3MAHulz6b
dBG4C0bzDbEP5luEm3BxuCafmR8P+qYxE3YR4H/0x5ci7NOMZuUloPvN+HjwX/nN3UWAv8ckgog9
LsgPJg3+Lhdqi0c7XQzo8sa6XfhWumSxH2sru2dEzapitFvvYh1ZcrEly6O7snjN7XeuqF+qgvuH
ertcJUXFT618k3/oW2950ZFlQ/ur7RU/wifQtcbl7G0tLlvDzsZZ/81pRlvkOOp8ax2lMIiucxyJ
T7C1+XvsEsb12NGuP6AndfBbdk7HOWwO2q0nl7DzSVLbcu21kCDs/LYtD2YLH85qu0L4ygMmnCND
WD+L/VAyyegkXY/H421v94LXUmeBOuEvztpiYZvoV84FlJGzKA0sI/KdgE7sLHMCPRCNiVX77hfi
dZAonKLH1ymHph/408eHBg6oYPDnvCMQcB+5Z9PGI2S3eEba1trad+LggZOzG9paPcIfYf0jj2/Y
dOxhf+xajrGgkculUTb1/pZR729kd+OaeR9+eg/maORqHYtbgwLKhcTAoSZnf2ydvrBmcs+VCdpN
zYV9JRmyu9a2bkoK0edPti5vnoyRa1f3ihXdnWvgLNwSNDC5fsl/p84rtDWnWXsq61uMhXVe3dCh
Tnd8jlXT1nMFbu6mw1tWFZQtmcn5ek/PwTl+D8atzv+lA19Gu7ckuv+1ET+uZWh569G8/6kfn7e1
tFzFaFWMnIX7yT8wx8z+9R15IqG/ujFPuEUk8Rcb9EDX3HyVaJvFM5Ld7IwkavwpiU9JfCcl/TR6
m3BUsns0ZhP75Pnb8HfU+E55g4/8CQ3zQr1I42jj/KOUFEKjM9iLcRSDMdYB52PBuEY4YRm1eUfz
/A1x5O8ii1mNPIvQPmZ6/59FruMjCDtWcojdLjKdjd1ihDIrMUqCJBGBsHDF+qagEHmkbUAfG54c
pspWxkgCm4c2hmq09prYkNDQiBzlpPDgYF4CQqFQozM55B5JhSQ6Pl0dDy8UVk7RZPNOgIDkSXEx
2igTu6eIzIMv0I7TPkTRYkOOz0r7gkw6ZhaO+Qe7L1JcX424JvIP375crl8DuCayEE6QE8yW0BTN
l1o2lRl7p6vKw2a1VMwnJ7KyMp1WEdZZDLELWEzL/DUUeGj8Ku7dg6QG1mBezWrxcIniG8jPL7jx
cRdkvsA9O5ILAwgVbZ3GEkHE7h55kK+GCzFZSXEKozJap9ZaCpJUcplWpjSEZ0fY0xMyaFsYN5ks
h/cxbpKO9QCORUfw8Fi9UjzszhofhdK1zCKT4Rs+ytcrhT6oGBSSWcfSHt2GL7L+hswdKfgaO59+
lJxh1Uebv1zHHsaAksNuvve3Sinw/7edjcc2b72npWjPT2XdOfPcczZMKfmpmHfcd8Xu3/3hhnnH
LHyxOfP4cs/mKQ+sX/hkmrmY+3/V90HvoykgBto/BzoEoTPapLogItHZox2MORqS2xrpkT4bmKn0
JKYH1KSGmWfBHXBKeHy2Vb0UGhcLH1Y3g3pxeC6730bHfQ/vir1N9E5bHTwoNIvNTewa/8q4a/z+
n3v91zpJGnfK97wDlOs7q5z15JTvPl8nXnvddw2l2VlVVU/S/NdGHuRe5+aw+/p915rF5wTQ/UqD
eaM99gjVgq/7ql31z+KLQmcDCVeB4zyj43xP5aiorqwvxBfF5B838iB4GC6JiG38uGbfMCpnI/NJ
kOiL2XMOWH8G2pzW48drjh0jp94oG95F5pe9MX6szD92tHFRnNN2DL9qjuMXOXV/ubCx7PXXy+DK
8vvp3B0QAjPhr3QPZSwEZ4r1b8goLu4pLoa/lnQVl2RkljA7TJsL5rDnKYh5p82CWi++1tdzI/Rn
kH3h9fiR7wKmke8QbgzmnSkoyyW07irem36Rx3iIqMc+C7zEoz1oz0g8ezhHdV+e78keLvy/7zr6
b2kp/uu+4EEffxauKPo1D/rIvdSDP4DTc13c26x/x9fBpxe79mJZxx5wGrz+e9911tczdVxHDwcj
a3EQiPJH+wg2QXmp8IzvfohJI+eIWXyeAkhwkZgFayT0IQU68Q4Vh9hkQg/YHRYbvqzsoQvEnFS4
wtmqBUe88Gfg478i2twec68sqtlZuUybGNAdX9IZX5pcOKOkciHZ6e6v7rUVVxV3W2pT1B3R2uKK
vD7819HfnFPA7uP5F3zGmzGWo6dICububai7DqnP6kjYHUN2Xo7Glh7vPmmoWNvayhcpKsN7yl1l
H0FpTqbn7/trdNbbVZsG2yNyMorCQbt5aGrNQx/q2lqK4NXTj2xa3MNqHpDCt7L76Wgvn5Q6cxRv
XsdLNb5bAeGKuiP31OUfMd0rnFwEyYsgBZ4WboUrBNY9gU72ethusQgr/n/ZScLpR77nV6DPlNO6
FGi0ScBMpc+tRdnVsXKTzXcLD16zaHL5FcMNQcELbj0w6Cw4NvOhf/8bpv1nT8jgzlsWhASRqACY
HfBuaPiidRWNX0DRF1/cGfVeZMjAwrCIt4IYvsyRfxHgizA/xthaZrKP7+Ckca1FPPOU+Zvg6Orm
Jrj7B267dsPU2Ru7inukAIua61tI9bTQiBZHaU81ecNR+NYLL567fsbQLeXaMO2Oo8OFexeleVe3
NcxkOGnT05XkR5ThSBbfWEBu0PAY6tFObw0EdgAMfwPP/2aSXRIQmDPJSl4cLkb23h53ozJ2i6//
XjlyO3mC/IXZLWq0NGJjGXlikVc44V1M9pA9Pw/zPH1V0vFxON6E48PZ/X/BYKMPVpChAhDT8FmI
F87Bd8Ly/wpn4egsCyyEhbbSAOE+YQ8v9sh+REygYs9pwXk5NLF3/4KuXarPUD/SR5r4AXaPA0qi
xOSQUSY7ZKTpb+V310VeszlkEoZqL/ID//0BTidn2YVlutSsJL6fPhOIu5b8AO9j3prFucTuVJaH
kLHtomlIbCDGeIEOsdsmGQyo6ETib3kjP/SWZrUX6M21KSU9U6rsXblqRb5NVdEy/FeIUCpjEsOT
+XhFdpYyOx+z0GMQ50h0kKLylOz8Ilyip6egLCUjZUpFdW9ZoS4uO3rys5KosMQwTYA6PjO6Kje7
5Kuk+EJSZqnMtJewfYoY6YDp/GZ2N5DEl8VGo5b7g1HaAkiP/2ksCtPDI2O1Mn1EproqNSFCGZMc
rY+ITzYWavgVttD49J3Nwq6Om8ptUkdYnHl7ByxunjxHlSr6z2zuZhIPv+OSWB+yaFdYfdAkpj7J
Qbh+FfjusmcXaJKdzCuSJ+EV+I8qtzUpy+zUa7Li1JYeqVFu5APkk6ShkRGTVJlxKktLZLwpPNmp
15rj1IqajMhEZZQygEQHRgVGTgoPC1JlwMvKflm8PtWQMCMkRE5IWEBwQAAxbFP2B0glUfpUozLL
Fhg6KYpAKAlGP8qDAflj4ywkhuiYT5WgGcGXhj5fy2bBl8YBe7MOPlElCGfyTdl7jlf9C8IcRDo7
5/ac1dFX4PtKtnYbF4wwlojeMhNsBnmgPFCBWQORCmnwR2Ea7OMFDXw++7T1dNFr5Pe3WUSe2cfP
k+Ecm8FmoNlGEU5Kg3048WNBC5+RJTix8A3y+vB7FtYjPfIuieOlqL8yUYplFhmPTiNIwovCTOLe
c77znuvqW8KD+LBJN98aKgkICkNrioQg1F5I1SiM0cIJ4QNlQlySSAvNEbagb2Knm+APQ/w3X0p1
NGOBojs9/lswv/LiF3xOlzXuTszhL8na2aP3cW5hz6q5EBqNV8bDuvMikN6gt2T/X11WbpJ42q1U
y24TMRS9k04oFaLiIYF4CHmBWA1Op02llrBJ0lJABao2QqyQnMRJRpkZRxO3VbeIBZ+ABOoOIfgI
foGPYMOGf+DYc6ESD/GMNcmZa997zrWPQ0SXg4cUUPm5T4eMAzoXXGJcodmgxXiGrgTPGId0NnjP
uEr1yj3Gx+hs5S3jWdqcecR4jlbC84xP0IXwKeN5uhp+ZHyKLlbbjE9TWB0xPkPnqi/AHoRzeHvp
lTgcUESfGFdoPlhkPEM3g7uMQ7oWvGZcpVHwgfExulZ5wniWnlfeMZ6jycwrxidoMdxiPE+3w0PG
p6hePcn4NB2vPmZ8hqJqRm0yNKEDKiihIY3IkqA3eGJaxViC5i+47vEiLWDEQE3qI7dLGngHFabI
1ZThV9AdyqmH2QK13bfyc32SmHOZKYag7a+cU/+m8auxeo/XUttMDopkOLLijYhXV5ci912PxOLC
QiyafdPVYudganU2FXfynikmplBW96UQzTQV2y5zKrb1VBd7iBJkddCwE7AHSblvdgOoAF3ZhgUS
1KIxFnfaormncis2VNEHk+2LFuJO55B20YFLpG093E0VQAzFbmdWqAGCNRRZByopjwiP6Eqy6yVZ
LBfilUZzrbXeAK+n9awgve5If7PMD3MfIPeWP8YjgVvIE3yUkn8b3gyF34kyKmEAF8/ANkbcgGuA
aIqD6/o1dTwxLaPmMog6t0TZyNaOwBFJPI22KbSLyqW4kamxNnYg06Qby7qMl1eW/621Xx3ohpc8
gtwe3hLvM4XHek/2vV/d6jFiBq2VzrXehbl3bYK4Q86vHbh8grkB3nu+fvsbj5er5ffm2TB2lPRE
MhVK2EL1daaKsTAD+NbqIlc2MblKRedgogeqp0WbzYwwqt32grog3ITxul5OAqLIizJowklRLNpd
Ijezzl7WiDrDJl5i9M3V/dJU6X6F5gYg1EVXbO52VZrkkeiYTLQVVE51JNZxC3Q+3E2UjfgOOtW4
HmqATHebLQreoBrGvh/S73VJKP3/QoY5y8Q0snZyo1bb39+XytWTPZPVLGr+TbUatsbdT7dF0udn
QD/nqKV6qFI5sln6p3Yq7fmzo4ZFCZtvMGDUljHj//P/8xlQ51ErAAAAeNptzXeYzwUABvDP9+64
Ya+GvTNz95NzF5W7s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z+ed9
nleEvNzJFXK/3LnbQIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiqmupq
qOkRtdRWR1311PeoBuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfBs57z
vI46eUFnXXTVTXcv6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbDImvc
9q//LPOpI76wzsv6mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxLDPK6
wbIMkSPbG4a67E1ve8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371vV+C
AkFB822y2VbbHLRFrkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP/uic
zHB8fEp8vs3zDKUl59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8Pw7iP
rAAAAAH//wACeNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+uXSl
6e5GboZ+ePU6//gA5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43UNMTM
ipC/QP4Cf4Slhb9Csabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl4PMT
XcwLDEK7oy8IkEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OKGMEE
ZjCPJWxhG1XUfd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6glM0
0EQNZ/oTxgYwiAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczTuT/p
ds6pDrZwQ//kCh254i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9szRu9Z
1r7+IuIWwrDzcdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrbc9IR
52htSnuhfkFtSms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB42r1Y
W0xcVRRdd2CgUOiUZ4EB+uJZtWir9vlRE4tUm1pbq7RVo4mNHxo/jJ9++aOmMSZKG1FiA6X0EUEU
YibVtoII7dSQNgTSONgxDYRYiY3BaBuj23X2nWGYkTJTZiIr+9xz7j3nzN5r7/PYwAKQjlLcDeuV
F15/FQuQzDcQgflivXzgNfMOdovfHHw6kG7VwbKKta8LVVhDbEEttuM5vIjDuIRrmLRSrAwrn719
chBXKUlIYjkqz8JPsdjq1LKd87TIbzhGaaO0UyzW/kQG34+glXKM0ia/4Difp6QXn1LaWe+meChn
ZQjnZQqLqAM4ystRXo7ycpSXo7wc5eUoL0d50cE+n1E64cSX1MLDd8nsOcweQ2wNcb4xau6RLtb6
kYIW9m6lHKO0UY5TesVPPX1Sz562ZfVqz0GWLlrrQhZKyG011mIdNmAjNmMbfBiFH47FY4a9zBHX
87iLPSC35BYS+ifDMipXAugSP9FEGZRmOSpH5zXj7zI5x1ef+OLW+UZYa5y4llBO/rJLgwTNOEVc
jnsWWik3ZVDrX0svI/HOxv8azpytWcjqUGyF3sal76CtK2v+gJ9MfI3HMeNW2Smnp1uTdqTNFW9R
Z0z8iqKFcuWOR/18u/hOiE5/RLSvE75IDqIxETvPwVUeba0Hev2o5eUo+9Sw/YzGvpYXKWe01kD5
nrtZJ3fw2UeM/7+ekTFbxwTOODFTx0hf8et4rLbOvoq1vKS72EjQF7NF+NxRP+epMBHPrjDrjPfJ
et4Zplm2eY6L7dR5jMlC7hw6doQ0ZGtEfrCfWv+JcTIB921XhTOoldw0Ld6GEsne9Rmn+VSCPTOZ
aF9HnpL2bSDanSDAth3dx7U8N/3tA3mXt6HAfijttp9MGdpF5AsZkItyRrpjPBX8M9d9Auxsk7aw
FTRhP6PdRMxaNquZz4GIbweIpunWITlkdj9TzujjMREp/fbuGlXHsF2Xnr8RyzkS6DU12wkih4nB
4L2MHujTGO0L96zZD81tYx6sjtvRGT1GzW4Xyzkf9Hs83peTcmLmiWTv95G7fvhtNfh7gT27K6Lv
G0TzdKtRGvVW0Bh6Q3lPa/3SI6dju9HML2NI5IyxxaW5E/znzUvBeJOG0CqI6NMa5JLZUlP4CRnz
nwMPmSwXq1BGWCgnklBBOFFJpDDTq0Yav6/CQtxDZGI14UINsVjz6Fxmi2uRj/uJJXiAKMSDhJs5
5Drmk+uJUmaTG7CMGeVGrMAmooy55Wb+zlbCwUy8ltllHZHKjHMbM/hHiXQ8RmRgB7EIO4ksPEFk
YxeRg91EHvYQBXiKKMLTRDH2Ekuxj1iO/cRKPEOU4028RRvfIZx4n0hBAz6k/h8RufgYn1DPI0QF
mokinCSScQrt1KqLyEY3PPzd00QOzhHl+IZwoIcox7fEYnxH5KKfyMEA4cZ5oggXiApm0z5UMaMe
Ja9XiUr8jX9orwNbyKqL4w1W0NIszcZLOG8pUaEeylbfJKk/kpV9p/KeooxXKeOpyniaMp6ujGco
48XKeCYeJpYo4yV4hChV3guU90LlfanynoPtRJGyn4vHiTzl3a28V+JJYpmyv1LZL1P2l6OeWKA+
sNQHC9UH+eoDB33wNq0wPkhS9p3KvlPZT1P2M5X9QrTgBPU0PihRHxSgA59TH+MDt/rAja9wlr9l
PGH7wIFeohR9RJ56wqmecKsnqtQTZeqJTPWBC35ikfqgkKMLdTWAfSqpfTVZdjLma8jpGnKXTuZq
OW8d2SlQXooZk7up3x61fC8tLNMoq1ILV2uU1aid99LKI1wbzbRkE2PJw1mMDTuoew+5NbGzi/pe
4HzmPy71Gh37VLP9/wIWtdGnAAAAAQAAAAgAAAAEAA4AAmlkZW9yb21uAAFsYXRuAAgABgAAAAAA
AQACAAgADAAB/1YAAQAAeNpjYGBgZACCY6nbT4HoHR2LxWE0AEzuBqIAAA==) format('woff'), url('ITCAvantGardeStd-Bk.ttf')  format('truetype'), url('ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
  font-weight: normal;
  font-style: normal;
}


