
@font-face {
  font-family: 'ITCAvantGardeStd-BoldCn';
  src: url('ITCAvantGardeStd-BoldCn.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-BoldCn';
  src:  url('ITCAvantGardeStd-BoldCn.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD5EABAAAAAAcmQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA99AAAADQA
AAA0P2JPukZGVE0AAD4oAAAAGgAAABw3dv95R0RFRgAANzgAAABAAAAASgUtA+pHUE9TAAA5LAAA
BMgAABE6Q0xGfEdTVUIAADd4AAABsQAAA75do2j4T1MvMgAAAeQAAABYAAAAYHt/EXdjbWFwAAAE
SAAAAgQAAAKCdtKVTWdhc3AAADcwAAAACAAAAAj//wADZ2x5ZgAACEwAACmmAABImJOGUOVoZWFk
AAABbAAAADUAAAA2CNCMNmhoZWEAAAGkAAAAIAAAACQG7QM5aG10eAAAAjwAAAILAAAD+ulYHUhs
b2NhAAAGTAAAAgAAAAIAsdjEjG1heHAAAAHEAAAAHgAAACABSABEbmFtZQAAMfQAAANiAAAHUHYO
cbVwb3N0AAA1WAAAAdgAAAJx3FEv2HjaY2BkYGBgZHCc8+3T73h+m68M3MwvgCIMlzVVBGD0/7D/
bMwvmF8xKDJwMDCBRAGGBw0VAAAAeNpjYGRgYHry7w/DCeYX/8P+hzG/YACKoIB/ANGeCSl42mNg
ZGBg+M/gyMDOAAJMQMzIABJzAPMZACQYAY0AAHjaY2BinMe0h4GZgYWpiymCgYHBG0IzxjEYMboz
MDBxs7MxgQBLAwPDegcGBS8GKHB0cXJlUGBQ+M3E9OTfH4YTzK8YfgGFGUFyTBZMT4CUAgMLAKGf
D3V42m2TvW4TQRCAZ3eNEJEVRYgsxFiOHQwi5BSCQRBZJCZWsEDYDUWgogklFV0egB5K4AF4CT8A
LwBIQUpFAdRXhYjjm/Ge+QknfZq52fm7mT2Xiz1uBNHYQp/xmURYC3uS+beyJAdyzb2Qq3DZjaXh
H6NHmcX3CvKei8UH/FfhOWTQhCXowEVYh0XVJ/4yqzlKXC710LQ4Dz2/Ky3YxD6gXje994jrYauo
D/ZBmJE+9r6dZzJIsqe1OY+8b6CfClsW41xeHBHf5js26fkzcoP697GJfgNyEbrELiS9Tc25qT31
znlHderfMXt5rnJk8VXOqynXCWbotG/0AHXqRmbaQQ6p/7CcPT12gfkXh8h588llhd6+M5/TLrMc
52xmzN5ssfjiXsqNZNOdaO0Vre2fSQP9tn3DSNaJP6nxoS/DRBO/S2nuxwh7Ra4zxWfbdlGis4rW
1772hk9luod/0R3vFh9tF3+gu7CdZfQ3md8xmO9c2kX7L2Lxjfpny/rJ/9b/ckzuV/Ez7ec3uotS
6l7ZE7mOuPMt6tbTHapO78zYbJVUc9/mbsgQFuAB7+/hhx/LBZv/E3Jyt8JXfrKD4pB9esXyjmXe
yOVm4i5+TyGSq6nIu2LH7kOQiP2M5g2vpe232dkrOe8/Sc2vTu6D+uqu0Vuhwf/6BvsyfsuyBh24
7h9BJjWp/QJ3hs3bAHjaY2BgYGaAYBkGRiDJwFgD5DGC+SyMCUA6hMGBgZVBhKGO4T+jIaMTYzBj
ImMFYx3jJKbjTCeZ7jKvZN7DfEBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQkqiS
lJKckraSh1KCUqrqqd9M//8DTVdgWAA01ZExiDEBaGot0NRjQFNvQE0VVpBQkFFQAJtqicVUQaCp
knBTU4CmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JB8ceHH5w6MHBB/sebH2w
9sGSB7b3r98/ef/Y/f333tx7ee/hvQf37t27fe/GvTP3NtybeW/abSPWP5CQoT5gZGOAG83IBCSY
0BUAo4aFlY2dg5OLm4eXj19AUEhYRFRMXEJSSlpGVk5eQVFJWUVVTV1DU0tbR1dP38DQyNjE1Mzc
wtLK2sbWzt7B0cnZxdXN3cPTy9vH188/IDAoOCQ0LDwiMio6JjYuPiGRoa29s3vyjHmLFy1ZtnT5
ytWr1qxdv27Dxs1bt2zbsX3P7r37HhalpGY+rlhYkP26LOtnx6xvxb9+p5e/+/jhxvecmmsrdjUm
53098+N9bu2TpKbW6UeP3bx17/7tOzv/HDz54uWz53//Paq8++BpS09zb1f/hIl9U6cxTJkzd/ah
s1cKL1y8VHX18jkAKVHQjwAAACYAJgAmACYAOgBOAH4AygEUAVwBagGEAZ4BwgHYAeYB8gH+AgwC
NAJCAnICqALEAvADIAMyA3IDoAOyA8YD2gPuBAIEMgSKBKIE3AUEBSoFPgVSBYAFlgWiBcYF3gXs
BgYGHAZABmYGrAbWBxgHKgdOB2AHfAeWB6wHwgfUB+IH9AgGCBQIIghSCIQIqAjcCQYJIglmCYoJ
ngm6CdIJ3gocCjoKXgqOCsIK2gsWCyoLSAtcC3gLkgumC7oL9AwCDDwMYAxgDHQMpAzmDSQNSg1c
DbINxA4IDiwORg5WDmIOsg7ADuIO/A8mD1gPZg+KD6IPrg/UD+QQBhAgEE4QihDaEQoRKhFKEW4R
nhHCEfYSFhJaEnYSkhKyEtIS5hL6ExITKhNWE4YTshPeFA4UTBR8FJYU0BT6FSQVUhWAFZ4VxBYE
FjwWdBawFvoXNheCF9wYHhhQGIIYuBjuGQIZFhkuGUYZhhm8GegaFBpEGoIashrMGwIbKBtOG3gb
ohu+G/IcEhweHDgcUByKHNgdJB1qHYwdrB3MHgIeFB4mHjQeTh5aHnwemB64Hs4fAh8mH04fXB9q
H3gfhh+UH6gfvB/QH+YgBCAcIDIgjCCcIKwgvCD6ITIhWCGMIcQiACIgIjgiVCJgInAifCKcIvQj
KCOCI6IjviPaJAIkKiRMeNq9fAt4VNW56P7XnszkOY/MM8nkMbMzj7yTmcxMHpMnIYSQhFcIrxAg
xBDCGyPSEBApji0EpBg0RapUES0H8YXW66GWeqxFqlY5ctrjta2nzbXW2nMscrxKyc7919p78k71
ft/9bjKzZ2f2Wv/617/+5/r/FS6Cwx+4QS5yPKfkorhYTsNxBTqbjtfb9GYd2GJAp4cbN8+K5y6f
FY9A89nLZ8nF4Ro4xI2I742AOHyNG4FskXAjHOGqENg1MoSwVByn1wk6vVHwXRsYGCBDw58Q0/CF
wUFsQbhouAizRtsJOi99h/r6ftLXh0/c4m/AzdqZuAAxkae4JC6V4xwqISDQt8/L3l4VexsFfLvw
CZwwdBnaDOsNS2/TLbtNvl+wSrfgx9o27bsn8Kd9b7v80b53L06byx95CW7xVs6HfxhTwCzkgmBX
Gg0pvDkFjAalCtHPhYA3Bbwev68wN8KVy/sK/QEfLKpt5AcU7qREQWO3FmtmL2pt6lnURgYh253q
VOm1Nn1WtC0nz7K0kbfWqbvrrW57sjbBpLao0ta2LL5DsWCBYs8Sd36WoLYY1LrIeIXamjsre8FG
VR3HRXDZIzf4RvIZ0ieOM3M2LovjokCACKPB5PEXOu1KGLtDfDwmg9LuHLsjz4jf2wFbxZaM8gx8
wc+kz+Fft59sxxf8TPoknw0ryK2LkJGf35yfLy6Sb2AFLO3oeKajQ3xPvsG14Dn7yHWym1znEjkH
l4v08qrMKpdSsDspQXLp4F6PidLMzDMampFgTr1LTVH1emDowTtaN5Q3dnf21QUT07fMa1gXdFce
BoPVk5ngWZPiynEUwOlrd6xYsm5v6+KeZMs859L2jbWlq8wtEEwyCbmC22gX5+7TBqxOD2VZrgAu
ck8xHmIc9JTEOoydubyRXFhFPuJi6LqqwWAyG51EGw+rmlevbu577jny0cHCH7/948KD+aCABaCg
fdzYp0XqY/aVQ6HT5TPFa4lb7nI13EO8JT4j3pLGSYEueBhx0OEfqoCZUsQsBFSugCtgdoEhbWfh
0aNFPfZNaTuKjh4t3GUnQ99f35ab2949eGJTe352W+egjC8yewbclPBFjka2Qw73wYZLl3ovXYKb
9Np7SWqrHjnBvccN0HkHUBrea+2uG7h5U3qWyX2AbNLGaIJgMr/6Ctr24/fIVNzbch+E/XYIRRLb
j1wbuQFVjM84ld7LZ30U+iiW3BpWUNnLxWciPotBDuQCOspbRh3lLj3jvTKg3Jd719W78HWkYFEB
vj4Dxc5QaKd4C6+w7bNy/KEXCbcdeNmCtEKN49Xh7HQfbrlF2kLDVnyWjc++wrFs+MwXKEdmcgp2
o1AYkHhKpY5CGS98rcyRndw4WB3s6tjnUarjDOpEdZrGGTk8cKW82uHO6dhTXRbqXl0TqdMYNYma
VHzUL42dNnKDRCJ8J+WVcpCAUmYV7C6ny0sZlHJrFvi8Hja28vJJ2N3VsXPFrr1bHqxMh5P5OY7c
oCffuSJdSE0juo09m5ZtdaafbL97Q2ljnr8w0+cLNaW585BudhxQxHlGo+xyNp/NB14dXVLA9XSL
N4Ecq6sTr+8bCMEV0R8agMTPJRw9iKMS+1kRR5vRppLRpCiGEUS8VMICOCp+qTR4XUu37v7Wu5pB
l5DrXpDkVKGO3XskxXTgW/cOfGQvqqjdLSQzHepAuCqEG88lU6nVgH8ULhNdaTl9TJdkP34qRWdc
tnP/lo7yBZm5c3Lrs7MacsjQRzmR967bcMxf01++oUYcAU8w6PWzhQWuiNmPIbQeFG9e0NuK4OJ7
j74nfkSG+oYHCeXGVMQhDumv51K4DGwnaSoV07FUgaD+CIyhwY/dBva8tqcpL3Dw/YOdLtcJd4kb
XwZvgxdfRIAVO3a86Im/rWz7nj3b+0r08xLAlpVtc6AuOw/u4uKMdL+fk2iAFxWOz2hgEypA1lte
j5mpLJ4NxoYFbiIN5ko0mEABgFEKEEm24BPZlqF06ZmEoQR8MjAgnkVBI5LMTmiDkvt2qB9lV2rF
BJjqrf9NMgjPaOkwxoHRkQc3xSdhmaiE4iuhu+8KXWHzyeMWob54UoaH3EJ/aVMlez/Z2947GV4g
B3wRxog8hPUkbbTnrrtDV3ZdkeiDPAdvI32sXBraWaHQWa5g3JYMwpheVwP9E3IHeKJNq3ZVJ9oH
7+hc2ZeTUaIduKxeZA9kFuVYgulCQvra9bevLKp3eDPule092jNyA+F7uEqE7x2lPmUANUFOHFsP
NOm4EJI8MjuCrC8xRED+iqxev/HCk//67uml318XXDo3MTcms6JkxeaWpoyo1uyIuPTA4dt7Bu4P
7fyLq8YTHZGT5g7c99C1J//pvfrvrVzUV2b1em9btPpQacGNFGV8Y8Od+x+9K/R9iIT0HFdavM6d
W0PxJXjJRJ5WoRRTLatHByWPqC6ln7jSf/WE05WXd/gwujTWw/3Xr1PbWIHtI7G9lkvg0ql+CzMW
naBKKfBGryeA5lq+cfldTqHiw05fQWXJnAX+0vY2IdNkzMwSivPNJiBmSx4Z8hU0VzdEapYsXRWs
JG0n9MamdPHDlxIs7mxLEltbG9rjYrTHZirVavRbnFq6UirJh2EaA35wEg7v3XPffXv295OTvCev
eNasYn8mpB740b9A77+cu3dV7Y5bO1okHkBpJlVMb5nGZoBwebwtJ75CRLn82vEFc6u+u7q6Oqss
KdouNJKhzZ2PrH+8kywTC/ObatI3l0o6oRYv5xFWDIVkQ+XnZe9a6HoHf8hQ/5H+5/qxXQm2O4rt
osa105VAyyuvvIKN+vtF2eaF55qCfwgUE5kxkJSCz8aUmcQ+JlJ8UptSXBYsqShMtpC7IOnwzkMH
j9zb8x34fZa95Pa7v709M720/747H7r80rO/OkZh07VLl3FFP4L9Cjrh14ODL+CLDIkfQeKwFcrl
ttyvJZ+DNqsYpEyA3ytGrrP5GrGRDhdcRREqA6+MpE8H5+OTSvLL1/YMJtltajV2e9+fUZpk7m7P
VPud8QY/iQ7jks/WgMFHk6xH+lcMPv74pV89fRZxeRbmi4PiAWgWz4XpfCpsU6mZqR18FWE/SWlb
jbAu47NYaV5JQKfFC/zl0G87O38bCm0JITwBfjtsJeXDrxI2P9onTVqPJKB04LHPB6+EvvMObdwI
zyMh3hed2IKwNanCNYlCrc40eppJq0xzSnpci+rUdgiiDx0Svzh0smhXEb5gBzz31lviibfeeh72
b98Oyu3bKd/hHEg0o7+Jei3IdkjALNAJeiYrjPFqr26uqqmp2lwyOFiUazCZDLlkqLxqqKpcFMmy
KxazP2A2UzkM46RDK5yDmsaolHWLFrGjJj/smtJhmIPK4xhOylAqEym3xFU4ihruOUQRz479DEqL
SKbgTM2xKYuCkKyLt6RmqOOS9/crBOEt6MR5HF6ngr/cfrfZrtaYsuzL775dtMQlauIjZslrSSmV
MCZNyBi4njgpaVo4yYpLxwNBU0px/9nHEmO9FptgDghkqGpue2V+dar477ALFJY0X1myYfhJuj7U
B48mn1N/cSwoUUhBCTL/hPiFZ2JhHyRZBRk56nhnQmGcUOBJ7N2wvkc7QDIdQqbGZa1U0+++u+nz
P5f68zK0SfH6aH2EOjl3dk533/rNGTm5giHFEmdSqlM9jd7OXooDrhKcYbqR+XEotbpjfXC0jyzr
76dY0jZliKcD2xjoiuoMZlkKvFQ2qNtRNkhVvMkwGCgXywPIWpHFlsRESzF8Ofxf3YHKyqINEhzk
QyJIvoWXpyzM/+uVgd17jlzBLjwMS7KHCx+U+Zy1oc2EGHjxuRNr2kPtrYPnQ10d2N5JORfeRw6+
IcZiP0DYWbLc63kvGh4UthiAV0+fbG19+MylUz074Sg0X70qnhO3gVK8if4yuv3wJfaJpHOXENKd
f+7kurUnnwM3XBSvQq5YI/6G4Y52AC5LsgS812jz6ZFYcPnGDbH1+gdwhKrM/hBc7adty0fqoE6i
aYTRRjWhDurELyD62IIu/mTXcCGO/T/RHw9KvrqZ9+p/9tHusK9O6V0Hc6T+Zh9bFV3ZsWMQ/VIX
ebPrVgfDZy6EiEaiJeKtF1yquaf7zuztvA1C0CY++tFHlCIj34YbIy/QMSLQdaWUght7WLw1co0s
5f7CZ7DYAuOcyD/mfsxn7F66nsow+nfwMqnh1ExD4/hj9tzHS0qQRVRUccPLven1C9tbly5JeMiR
nmaMjYiINaalO0jR8GV/9fH7jw7WlohDsLwuQZM/kK9JqEP4JQif7itoWISg8yaPc2KNeuYWqHnk
ehSIkpCpYWlr+8JG20M2p9GqUQGoNFaj00aGzvmrB4/ef7ymCKywuEmf4LXV2LwJ+iaJ1xJwjHM4
BzP1UAzKsD3FKASVg2RuIK1/9bLOnTs7l7f1+wRNvN3u+83qex6CxIcOrOlMd61e1ThKCxoT2iRa
MNssEQNtwjTkiCx3U3rUJsN9EwiCtqVSyKAUCWrTzolFE2mSjuO8jfjqqYZx2BhUr2R5tEy/RXip
Cwdvix/ZMwKaezSzCmdv3LZt41Z/vvjhwJz0jE+9c2o3exxnQHFm5eKiXWVIAy1ibCB/Qz9ZitF8
hV6jXU2SgdrlmsLCd7T6xLj6enh5r/nRHhKdaIzeK9ayOVey9beySE7HqOfymqjc+wOFrlFiTscN
3R3126L7I2PU5sxUAsb5q1paVmUETI9N4o23W7uXzNWpIrMzDdHlx8F5PMVZNJFNZH+C0t40xiWo
d9GGMZ8BV1GH7DF/njM9FBOXmqzRkaFT+fl5mY1iO+xMizdpNGniPi7s04/uT/m8RnSCdHXo05Oe
bduG+ymrMp9JPVIpt9Owdsl07iyKRG1XF2qqd0cmmWmf4PDZ+Yv3WlNIpRTr4eXVMTsfkOy8J7Tt
gWMPHO1FZdX9iTgivgHciMSbY/iw9nUh2e9AaOQK0j2DfW+kISO1a4Gp8x53W7k3rijPk6qLjk1w
+ZtzMkJqdWqaJl7+IEXVGY4EtdmoswTy54qboM+h1sRqUsW+sTtujNY1dO8jPLY0JEbuupKeeH9B
bWOoKEiK/DbbwmZxLdw+r1o8IPmaqUyea1A3GsPRoBYDwQBjDj/z8lO3/ds2fB1xuxxO+kaZvfvM
GfHWmTP7YXX9vFfmzWN6oYHB0dD9QTNiMaYWkkHSCyq2/UPBlvTaGqmc1aTcl+6wGuMiI+OMVkf6
BfKppHb8mRfgHVgxJ0HrD/m1TMZSEb40R1mWCwNjruZ0zByC5FqqfdxlEQ9OYmDDhTRdGdU/Tqt/
IuNKtKzBceJGaWlkPq6upFc9uyzBTgHUe9If1wVyxAvYPhbpdxrbu6k/7JywZckkj7oG6BnwLnlf
Dh4I8cXmhLjkhPy40tk7lrZsiwqRTFtA/uK2Vc/C0UqLQW1QR8Yq9A3zF3SvXZvmLlYb1VFxCkND
Y/1KiQ/RxkI0OS359VQ/eJnHXhcMhoJB1AqbNlF9AExfv0yK2L7YqAak5h/R0sHL31IXemTmGL4c
dAgLm+ER8fC8aujDvujLwo+xr5LaTYEaWfjxQO/p7yydR1uTInEANnGy/f4+tpts9+8NHSxv2tLs
P3igr74Omz8A3fQ9fBk2iQOSvwCfYb8Jdt+lUjx67OHa+hPHzpxa1oy2XHv+vPiZ+JvXX2fz5pEP
/gf2ofY1INn95TUn+hc19P/mwr8Rk/gS1A0bsB2No1E7sHiG2XsjWn7rOxeh9c0390Jw717xNbbv
bBrJhmKU50y638fibINaoYEUBd6YSulXTrq/JvjYPpvfC8XFKdZojS5eE6FQ6xI1sdaU4s5Z1akJ
CanVs8hQV4rwht5m1EUpAUARa3QnvSGkdM2reD/N2eFMe79inrS/pOTOkf+U9gZ1gqe3l/znLYu0
rg2Iz1YJH9RiHhNFAzU/xUtWZ4hGuaICchUMr4bRwTvDiCkiZMRI3/iRp0WNjbmIe4QoYSWLmcxs
E4BKq6ucUN2FLPuhU5tUkJxeO1eX5WS3trm1hixY2WVJTrImldKPJCvNOYw0cNeQ5hN0ddXAwACc
GhwcPkdShv8g6SvkyY/Rf8LRIwSfU9r8wuZjXjOzVmhCYVHPsizb4oU9RyKPKJOTHYLLkZjKH1Hd
F9vJ3zZv9X0H4jo64t7IyapesXSWx/lGnERD1OXEgPBz2ZpSb586vRgEMsdfsPm81OlHoXFOctbN
sLkzWafJNxkGFKXFzeJ7qzTWzhzd7u71u2GQL0ixu83wasjmz3YYdC6nM3FlkXfAUpSTFcrwrtnR
12l3Z9htmUyvjtzklhAvOYJ86ESfgNpdl8rFNufpjjTbXjHTfU+V2TGWQPjt8rSmRtvyJctjdFa8
2hrnpy5vWWG1rhD3Fy8oLlpUtGR5UtLy5hVx5emN9hWLlyUlLVu8Im3+wpQVb4C7pGRRSSmbP64j
MSMPWdj8VeO2semkXVRoVER/Rvvii0defFF7pmvTI+vWPrIJvgwJmtDLL4c0QuhT8WOwfErtg2dk
IfLqY/KaIrcaJY5Fnn1MfPQB8VFskzVyEd7AWK+ACzItaDcaUoFtukgWIJe4xvI2ecCWWyI9Rkt5
oKTN/XCsTdWct6+qJDO7eXZiXm6aoo1gpGhWRKv0UQkR2wtLC/LnL9xf4O9wOHscpKPQbc67q6ok
oz7KHyxujEutyElLSTAq47QxxpjEiDsDpZ6g0pdRXifmgsV/my7Z5Nylw3X5hOyDbOa7y/t/6OH7
uvZC9V7y2Tb8obFr/Mh1XoPzofvtOXRPh1myNIqyObyhgxbNzPS95O0xvcqYCe6HH/zuQ/G1//j9
D2Hv+Wd39z39VNmKmLlZXm/WAkVbVMfs1h07WmevJteHTj7yH394+Ad/bLwgXnh+354X/15evqu8
ct7i3S/vXijZZgXcBxbEQ812lib68iqjwVNGCu1gWWbO91UGiwPa1uZm8hfxn9Jcy5ctXZkp/BMs
D6QLfoRj4TrhNFxFfY6aVh/wqsxCBU0aCZb2nvb2nmZ2BeuL0k84DyLta0bQXU0axuTBzV5xHzwp
nv1g5vyGYgLt8rnAzNSLkLb+U8BM5Y/4cvksZFY98hfay2mIKP7uwqzls5NSeaVqvSIigkSoUy2Z
3Y8Ve+dOJeWK0rK61JisnGaDKquAj9WaY07D2l1VAYydhshB8JAPKd6AkSB4xOfIhy0tjN6FcBla
kTfYPoq0IU79IdWYgLa29LXg65OC+gJ8kVYoX0K/KQdHYWFDYSHbDw7njyQ/dFT4dMhp/8WSR3AT
Qj09vfgSUYxoHgk8UEk+5RIlnPws7UIV0ri0C6igTLx6tyFJ49YndRucq2sXe9QtSnigY9UOfWKS
IS8xpVCoWlBZUaCeFUH9A8iEeoSZTteH0txXKHvDhSyf4w+TX84/xHZZEz2VjtREizOja2FtVWPQ
kdVS056RAP+ckFJQtsBgcmZX1lb4yhMUpQXFTaV2HCOLLIUqOQ5FbZb1R+/H5PzujeslHd/A/A4T
8wZ1htF9B8kHQaewJGRJTNXqQ73Korw4Jfp+4iFHulbnhjuGL9cke4lnF8vrjVwiTdKeglln13pp
QE5/b37wATS7+wor4SJ0rRj2kyvDfto+yD3F/Ts0MpyQ7v/+A2g8dYrGUyMmjqYKUSd6VWO+acAU
3t9G7Xwu2wYOX31uUdCQ7TRYE7QRblOwWukWcn2JnniTWmOMjG+jeRbwcB9Le300sy74Pu6uxUih
CZatYHykgiPgYDIg+9R0g4XKboDutUij1dfOnjt3dm19e262xZxFKqFpXcfJjo4mWNseyJoss2BW
CQGXwK5Q3U7lVbrC1RdHpVaBvsMN3ob8S/NdeklnhLlPb1Z5geHqQLEl/52d3XH2STJnjrgRUV/A
ctTwnPj3FYsXt0BU/7dIgM0mlmalOZZzDsOOQOlID88bYUX9A469hbALJdjaaXhXJhkbZLhnWj5W
0Hzh6Jw8nH/KnL4Jb0dNmPLwfTOxOjk6hRCgnp77YQMjDeGcI3XwG+bzpEnyrkKM1AqWN2HbzuG8
fDm8jp7Q1IQN9Y3yp8/ZULqz/Af/Ost/qMdnQHizyjUuC7Loj7kfj2VCyFNsO+gf9keJHdc/D4V3
XH8PE+PR/o+x/rrx/fVmdNWFwDgQ27fvqKjYsX0clIMDzc0D3Dg4DzI41olwlGGH0y/5m+NA/osn
uyg/N0PITMabghy8GQd9b3NmXFwivSCfSPAPy/OMnzCCbOXHwVVTgz8OVI9k+kfhfMLgGKiHOg6O
V6rpCNsxahPGwSyAvOrqNdXV+WC0WrOt1nHg353VNgtflfTrbCvzD28gUdLZPhriKsBYZsbmE3Ak
XSx0wJs38EfseTm4c5+cqDlyBBKhVMrDmFgeBu1NxGR9JquzcCXI+DxUwGtQwvwEjSEpa1Z+cb7B
lmayxsdqo5yZ2++ZlJtSnPxWrE/pdOYVJiP0FJNKtzDitRd/MpqrmtP7OFKrhuaXkL+YvRufYUKd
5ZKzTOIbyJzyDPjXKWeyXAM8M20/5Mtwv0+pRZH7zaMcKfU7j/wYI+2MjfXjJX6Uu/ZIvBju/JjM
iLzc/zAbVz8JgswnMohfM6dQBnBYYhAycg2h/AXx5qVdd6+OymHF4K/YDIet0vSoT4zjVE1oh/Oq
GDzHZoTt2HQQ3vvYLshT/zo6DI/No2IwNjwFbD2K/8gn2D4b8adwY+QeMt4Vg1sllLFDGF8aY7Nc
oppVM4zmEmlWxxeQJu7xT0gpvl9ydceO6tl1dqERXgW7lFYEf/8DD/Sf3b1RyisSKT/FH0NrkDQ+
Q+WYIs1Szgr2T5HkiWms82PCzI3mj5B+UZIlmy6rRSk/ObOlxnWYJrsF74b14TeAS32ZyXCNuG7T
wW0J60kJ7mMMbuIMcKWVnQz6BWmdp4N+fkx/SvAfZPAd08OHKbSfkvdTTVmF6YZ9dMJaKOSxD8s0
S5phdjIXTh5zEeXJ6UYZlHXuhJorLyvYkuq3QkufeGLpmTPsuuzxx5c98QS7MnqM/NvIn8iDZBgx
SuIEBIJRjawCkcRycKmX9uMCvOTkwR/Ld+51H7pnQ3XJzp1Zh+7Z+ofLlrJg0Z9esxQHi8iPmp9c
fvD5t6obf9h65Pm3xCzQlGz/dvBe8XoBfkjxGMulIe8YqBc5bTaNpmMmZtR2MMUwNatGPpf04DeA
idSYCPM4UyLTwNwl6UgJ5mMIM2kGmCCx4kSw4AtrnGlAv8NYkZdhH2b4WmfCWGaFieCvSsppGtgv
M04gUk4PaRHJdhLDWT2qOOXMHtWe47N7shYdn7uOYx4++oij6Wujblz2erBkU3VNTfWmktHkdW9Z
xYcVZcfgd5fMZo/XZEZYwZEbCIvmXrIorMn+pBHVqBzFuuhus88TrocJ7ti6urunoWFjx6Zkba7D
Zs1MSE63JkbFtWS6bOnEuXFN58L7k6NX13d/a1aAmMWfZpZ43aXmJCB9oGp3ZKVLss7yVhhX0Rye
/WuzeFQNzpTJy6XcN1M2D55nSvH/ejxcj5nGi6GcOeN4RWy1wuMp2XiOrx1PVpszDXlIZtoZRz06
avvpuK+Qm2zc/G8w7mR1OhMKf5pq22bE5sAk3SrlKD+Tae/8eqxk2ZoJlxQmZTMO3yspXXlcvo6N
62ZZsK8ZdxrndyYcqiZ5wjOjc3WSY8xjnH6DXCc1yBc+roxlU+nOoZxOpSW9DEctoujyssJMcwqJ
oGqmnFYOUlQjvMz/VZLr4tuRLmGOJhTp8S+eL0AvpC1cvv7VhSl4Z/JmtfoSLPzw6WZzmjYSlBqD
qxkyzzn8Bfq4L9I9ubXNgeJgfn5wYADcFV5vetI8YV2FBX4Yb/LaHbWFOnNXSW1WSjhfncby1d/A
Fx+fw/ZRX1xl1hgsubVu6osnGZN1kdqoDFfL2vGJ7f4l0R5lhjszD/1wg8mo0rXEDd51eDTR3bn8
20g3loNGGaY56OR/lIVm6mLGTHQZKozJ2Wg4KuuJbz4GVREzjpGISmLKGEZZN0hjKNkYaf9ojLBa
mHGYkKQYpoy0WdYHCjlv/5k8H9s/HC0sdjMOJ1DBmzLY0nDc8GcccYTtlY2LG+pCz8kKerR+g+7a
5Exoh7SsC/1YVqzy/lo4blBOiRvqQvyYQuSVE+MGed97UtxQF+oMK43wHng4L3ydS2VVwipfwIn8
bA4YVSk8RhDasToKl5OXdrWQSn99osNStCc3+VQrnxRrjHT/rw1dHfOzU3mNetm8pYvcblJYvdFl
T8sWkis3pisceqdhwzLx8uGd24+lxicniv8KB76zX/a16M4x1dU66t1NzWpPVc5jee43p1HHEzLf
5OZ4JSzZhWtIc5oDT5gpC07Xa3Im3E+jjSnZcDg/zq5+PVxc38lw9dTPmQrXO85+XuOVDK51Jriy
fEwGfViONqZCPzTBTl5D2lP4rpnhT16ByUP9fmqwMXXUu6axh9fYHrxR0jIzjC7z7uQxM1m0MXWY
O8K5nbyRX5AM4g3LASAMHiHR40XQ+4PzcPPpHxDvqVPi4d7e5adOSbGGOPIpfEEaWGRnY+dtJoca
Zj5Aj0kYAiq2GwkHNzVkbds4q8C6aV7mto01eT+7U53c9PAudUoTabi9/vb9Z9Kze+p37D8jiG++
ZjwbE/y56WycxPclsi+mkypYJ2fsXczZG83a/0RWHxMy93+TYt2vh8UcuVFYJ2QVMwHWTsnBDsNS
IizLdLACYSdtFJxyTA1NgPj2WExbIvs+Okk+psFw1NkZBbsqrKomAH1JjiWJVB+Ac2arK1cIxNA9
pXCVwDqc5lilAN8u6VO5fkWuFTPTiqVxpz6mqWC5N6LQPV0JCz/4aKY6hRWx+J+cWMTC5izVL3zG
8NOMw1CeaRhLJ53mODRPSxMM1x8Vjas/ohVQUq3GKRb/cAFfgFYyGVVsNzGiavCee14Vzzz9vRy4
U/zbyu+tfKn/A+a3sHgrUaq7pBoelSx20gl1DQ0hfEEwuCkIwXfLNpWJyxltbSPXeS+rc3eHT0fh
CGUwaizLwGaMYFJKy9RzCT0iUP/nP/9ZPJ617c7jx+/ckgMbhw/W+axue3y8kJFcWEuW0e01u30R
rYKfb0vr/0+4fWd8/pq6pk6vvg9naZX9QTuXS3f/qT+oGPMHxxxWf9gTNIXPK6DhphigG/gB8NHa
JH2FJkSt9tZcZ0/Hpi1dW1zZd2wqNBjI8EvuJndGpsMJ6Q9HqO2J878wGJwGSzS15K2tT9y9/8yS
JcvtbaUGqkxWr6mf50hwZtI4kdUAY5ydRzH7hlXAelrmohK+aTHwLCZE+75ZTTD/LBUtItUkoay6
qUf6jaqSHBJWX1+cJJ6WEPq6IqVXw36HFNMfZjG9dnxULzO8HNmzncsJob28g0n5jtXvsr017fgK
3jDSo4W84iEJudGC3p9K9GC1QDxI/ceqgUDqLxcFiSelzuHiIB5kPUXPFFQSh3QmjpZf0tTWqH8f
QGheqcxPxcIOWHdsQKcyJgbucFenpAtul0J3sD86GNjgL0nJj/WZLfBqz4cr1wtztd+JLS2HqJ5T
9TV4myZIMvk+2cH8OnruSNKpv5QU6agvN6ENL83BKeHOK8M4/4M8N322CTzYP5b2TwGaFWB617pM
mVHjUC6LXFk/p4VXulNS3A1NC+S6JLKPuyLVPFPbe4WVSyBtE0gHN4xxpHT2YJog8dCkYJCvmxTz
ATdvxANqtAC4OhUgHycxyqL90JIqi96U4vbmFds10X6XPjm2IbHYnVyE87hM+mA+8xG5qXufMOp1
JIf9kIl+Hxn5O1kFz4V9bbY/D2ZVxKEF3z+Bb/LIwaa91fiW5o/LQ45L+fSAT5YaJtKSlpUPSlLk
zfjnj7w1P7qnqH12gbnWe6/4VUFlc8O8ldX54pdbFIUPth5+3V3dsiq37RGPYstC+4mdXUcOb9l8
Km3hlv+HeXO0B2QByWRnBASdwSygVRWURCX44wOMSDZSOzvu7vh7+PSEuxMEUmFTZ/fC4/CCOLTO
b98Btjbxy/krgSyLWkm3V5EGH8ANqd5DZzNK9eht+yXa4DP+47Fn/Me3LOFnIzfhE+4D+Www8vN3
mnd1kyH5jB3BZ0PyM+Ri0nykGz4JPxs5wQ1J52TN8rNO6Wwt6jf4BJ4YrQlGqDZ8n0DIMEcGT1sS
zojtnhltJ59SNyKkKnkkBhDbjZyAZ9hYKmm08e065WaIk3/kJMYkQ6Nng1kO3OuD4P79B/bvJ0Pn
9g7/gaTsPTe+rX7MUoaLsMJ9WC+p342959hFGmc29wI8TVKZXab5OxN1fp3+m9CwAaB7sBsvJLV7
3rxu+kasO5B7D8j409iOVp3I747QL/B3gP0gbBVnGrnBX2VyHIO4JaN/X8AVj51p93oK7RD+nOY8
u2P0LiC3IlXSCfcfplmDu2AuvYqrmg804wvmyp9zpM8V9KF01P0FyMl7WdTRK/hg+crW51pbxV/I
N8tHP/ExPTPMdXJfsFoIuXopbaxiiZv0nNVIDIwrjkAebEF7uFA+Ww1eOAvHO8WN8okNVi+IPkYS
Ps+SraUKNWoyevkCs+ioHHlqNIWAtwzwQv3CFEKS7oma1RT3s/gXnop/QJGTZc1S3BOZX1WcumGH
uiW+bH78bM3t6wOLcszE0tS3xmJcU1wrOKpWuDWD29cYLWtuv99dM5v9X4WRL+FzPgttFIoZy545
XYUutDAuf2B059lIEeGNrL4BXvHN+e6y5SpQOKJtTRFd82trX4V8Z/X3t/uClwLfW9sQqeBTI+fM
UkLM/nu7Fj/+84JAKfzzQ4e6mhmvG6CEP83qaQyslgLZXTqMprPJR4jgR4+2tv5w25qVa8StPdDR
AyVw9osvxBYwiZ+wd/2aNeKL//90Ij1f8d98D66Pie0W2+zJIOUcxp21NLp8clU9PvTaPHzP8MKI
qE2Dj24tK3n2tqe//PLpZ788Gb154IHN0RFEo4D1infiYrbfNXv+7yH44YcPa69qojZvi9a+peRY
TcdXJJ6vRotEo1/X6I5eeBPP7GUTQ9ksh0C4YnVDelP3HaeOh6rXZe9tLWxQk9a5c9aAvTg1IrI4
o6DCQx5ZH3znZ7/8a9PW4N5Bb5J93bHhE7Vr/cm+9XMC9ZJeS8LLHazGRsP8FK/e6LDxueASkB+S
/vDw+2IuzO5SZSl5hVs1n/xwuH3RZsi0HrIY7qIHyrnEkRPkItr8GKbz5V+fjVzsOHD1QAd5lNw2
7CO/pO/djO8t2N6K7ePYGSM9jYNtRj1vtBHr8K3PPoZPxZ+/OQTrOpdBI1Sv3qEQPxVf51m+7hLJ
gBL2PwywTx79rwi930DOZqrNso1sJW38HbQ+hdaZq1wBfQqkAvpWpO3D7vvnGZ9Zx2sIUUb/iL/j
7zfhlykNc8SL6po4yC3mMaJCDdZH/gofIP2yWAWq7OWOnfahBzHKCbo6EdKSSWcPTQ7BrlaoZLfd
Sf66blb+0vycpcXVa9bW+1uy+Ijk9Lnu2SuH/4sk+WwJFp3bacnyBOAYaFKMKbHJJL/U4S7wQgFZ
2O6tKi5tb2jqKC7ilWmCA9pestlT00xuTWl+ZsmvYuKscQIJ5lQ6coOM7nNhH38f3d8EyWk0GuJZ
abLkVNJ0EqE1Q/S8wD612pgWn6RJd63OS9OZDMmaRI3Vlt3k4A+0RSY6+pvFn7QfqW3UrY02OPe0
Q8OK1i2OfImfnNx+AvA+xk7l4zwkNVG5mA5TmFNUOPVUYI4FjZWo2pH21On5Lbia51+cXxlI1SYl
xMblmRtzYy1aU7SR8PoIjSo2KiYiyW3Ks8zJyp5l0qVpjE5tfJ65KSevVJWqtsQkueD9rE0ZQkyS
Tp+ZX6qIiFLGAonlo/gIQhwPZRWUZqijY5OMSZl5QYciPlKVzngkn3PAlySP2U35P8oIyBDh/zQD
g657Hyv93d8Lytz3ni753d/ziXl508Gm2y0r8bqd1St/Dl+Rg5IlzAGfAwPSCDM9QfffYhX8VOyH
HoVYDL/o+lPzn1qf5y+8O1+ilRf7fRnup8c+PofPAdivCDtVQQ92vCSWws/JQdrxArkw/PP5Ur+3
iIPXo8zqJe5FqXWhsVBqaGErRgbE8YtNP319U/1mdYQiMnbr1tiICGUMbBNXwWPwmLjic2ey3fbX
rxyJyWkMD1oDOkT+JuWDIexihA9/oY6m8Qa0HQzJR8BAG6L/4OBlsXbcUbDhy6RnmyRzYXimaaB5
6QHFcbAOTgF0btj6fwAnhSNHAAB42q1UzW4TOxQ+k2SACqkCFhfxs7AQi7sITidNr1rCJklLQaou
qI1YISQn4zSjzHiiGbdVnoA1K1gg2CHBG7CDx+Au7huw4Qn47DlQBKq4XDHWzHw+ts93js9nE9HV
4AEFVD1/0wvGAf0RXGFco0Zwi3GdrgWPGTfoYvAP45A6tYeMT9HF2nvGp2mnXjJeovVGm/FZutR4
yXiZrod1xufocviI8XlaDp8yvkBXwn/BHjSW0HvuI3E4oCZ9ZFyjM0GbcZ02gx7jBsngDeOQpsEn
xqdI1p4wPk3Pah8YL9G8/o7xWWo3ZoyX6U7jLeNz1An/ZHyeroYLxhfor/AVDSinOS2ooIT2aUqW
BL3GG9EG2ipi/oI7HrdpBS0C6lGMtSPSwHvwUGKtpgx/QXfJ0BijBXy7r/JjMUmMuZUpmqDdr5yl
72n8NWYf8lwa5PNFkexPrXgtoo2N1ab7dpqivbISiV6cj7TYW5RWZ6W4a8Z5Mc8LZXUsheilqdh1
K0uxq0tdHMJKCGuIhF0AhwjJ+GS3gQrQVWlYIIE5BpOHA9E7VMaKbVXEYLKxGMDeR0YpplE/T/GN
EKjbkHXqwu8mhreAKqZjnmOWiuPGVzeeK5Ir0Xq3t9nf6oLWs3pScN5wNI73F12e6Oce/Nz2VT0O
/D58CK6s5H/Xa6PwG1NZJfTg7BmYZ7Dn4J3AmqKOIz+ngzeiNfhcA9HwtqgSu78nUDGJtzvIC+2s
cjXqZmqmczuRaTKKZEdGa+trvy/Nn9V624c/Rehj9BIvQYXXernGXspu9gy2HGlWorZeoMYLOoHd
ISflIQ7AHGMT9Mfe/+A7+Vez5Y+62s7tNBmLpBRK2ELFOlPFTOQTSNrqwiib5EalYriY64kaazFg
ncMMb3d8QCMQ7tAB/spXw/izOgRl5kNRHLQ7X25ky8u8j57BCTzAChdi87tT/SWp6mAoJDcBoS5G
YudgpNLENMUwz8RAIcpSN8VWLPra7B8kyjb5eLqocXLUBCvdQbdweJNaaEe+Sb/XFaH0V0aGMcvE
NLV2frPVOjo6ksr5k+M8a1n4/D/eWtgajXTdFkm/PgM6maOV6n2VyqnN0l+VUyXVk0oNmR5fI5VS
jHdjfIH4akGhTaxNqeP/fnF96/SEK6xybegzOwpjqgAAeNptzXeYzwUABvDP9+64Ya+GvTNz95Nz
F5W7s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z+ed9nleEvNzJFXK/
3LnbQIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiqmupqqOkRtdRWR131
1PeoBuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfBs57zvI46eUFnXXTV
TXcv6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbDImvc9q//LPOpI76w
zsv6mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxLDPK6wbIMkSPbG4a6
7E1ve8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371vV+CAkFB822y2Vbb
HLRFrkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP/uiczHB8fEp8vs3z
DKUl59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8Pw7iPrAAAAAH//wAC
eNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+uXSl6e5GboZ+ePU6
//gA5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43UNMTMipC/QP4Cf4Sl
hb9Csabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl4PMTXcwLDEK7oy8I
kEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OKGMEEZjCPJWxhG1XU
fd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6glM00EQNZ/oTxgYw
iAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczTuT/pds6pDrZwQ//k
Ch254i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9szRu9Z1r7+IuIWwrDz
cdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrbc9IR52htSnuhfkFt
Sms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB42sWXTUxcVRTH/28G
hFJgymeBFqgFiph+JK1aqSR1IVVqo7VYrUpMXLhR48J07aJdqFvjwiixkRSqTbGYFkMwQWtHLUnD
xsQQgZIQE1w8FzSRmBC9/u6ZGSQDNcMMjfPPnfs+zzvnd8+97x0FkorUoN0K3njl9JsqVB5H5Jz8
meD1V9/yx5TY41yEPqKi4KiCoMGujek+7UeP6ohO6WX16mf9pttBYVAaVHI0oinXq1vuNUUVZWua
rVlaYHt56nN/qp82QBukBWwtYLXP/aLztH7agPtdF+gvup90iTbo5vSFKnSZ40Mq0FX2R2hj7lfd
cLdVqmN41udCLIRYCLEQYiHEQoiFEAshFqTLtCG8+MoshGz5p1+ijdDG3B/4P8KTxzifrz6uPk/r
pw3QLhiVHggFRDnFtYkIp9iPEW9MZapXmw7ooNp1SB3qUlxTmtasIrEdnl9xR8koV+yC+UxSwy50
827O3aSfYWsCjSuHn1tM60MizcnSyiNoQRvy87a0Qb8Ey6zvnvSUEj3/c2gyS0sLCWr/joHthTkH
GFOlW0iQd0teOfI6iyaT47mYmzXjlUWEK5+aayasFQFzCeXGKz2uBK/MqKTfv8pW0r9s8yzbmUKL
J7fp3bibdHE34IZWe///juNGrA42q5fS18L1ZmuKht3r5/N8ytbKNSerObC4cbEu2zyNRpPzci4n
U0VkRjyRb8urz0JSS8q/0yqZImG8FjZk/bub747w7vi3rnUi+cb3fYqqG0LD9MN+FNxE2lVxN8Xc
Hc88xmzXmlW2UjmRYYwpvitzcTlDetFNH7MpzUPiC/3xTN/iyfd35uwX09fS5fno2c8kuYXp1phX
i+ufW5nNx8zWp4RfGzSOa8a45h3zy19LaXHw/hiwDPVfrxMrjk8kaSa+aycz9XmljZzzNcuv6f8e
q2Sujaby9E5fDe5sKtM9B9rby2dGM3QkosO+mqLyakERqodd1BKtKJ9aoo165H60SXvQZu1FJdqH
YlapVVCPHFCVHkRb9RCqpT45qG16GG2nUmmnIjyEdugRtJO6pUPN6kQBVd4RnvwEuodqpovq60lU
pKdQsZ5GpTqOtugZVKYTqFzdqFInUbWeQzV6HtXpBVSvF1GjXkL3Uk31qEnvoTy9j/L1gT7E549Q
hT7WJ3h4DjXrU1Sjz1FUFzWIP1dQma5qhCeOonJ9g5r0LQp0DTXpOopRhcXx83tUoR9QuX5EtbqB
ajSOmqnTpuA6jVp1C7XoL/1NvBGYxNAWUyNPLLM6rx7vG9BO7m3Goh+VwEYiYtyjegDlGfFmI55v
xAuM+CYjvtmI1xjxEj2GKo14rR5Hdca9SkfRNmrcY4yQJ95ilKuNcpOeRduN9VZjXW+sG6jOT8HI
Ey804kVGvMKIF+uM3sVnzz0w4lEjHjXiBUa8hPr3M/zxxGuNeBU19Jf44IlXG/Fqfa0xnuK5Fxvx
Yn2H6ox4ixGPGvFqI95sxOuNeImxjlEbzzI2Ee7xOS6uacWnNjjmk8/78GY/+VtE9nZgvRM6lVDp
wqLPxBrysBv/ThJzI7H2MB5n9A5j4WPbbTm1xyLcS3znsOTzqJ2YBuF/hUgOWySdRHAN29fxrMtq
9uOWBScsC7r/AXfWzCUAAQAAAAgAAAAEAA4AAmlkZW9yb21uAAFsYXRuAAgABgAAAAAAAQACAAgA
DAAB/1YAAQAAeNpjYGBgZACCY6nbT4HoHR2Lr8NoAFRuCCIAAA==) format('woff'), url('ITCAvantGardeStd-BoldCn.ttf')  format('truetype'), url('ITCAvantGardeStd-BoldCn.svg#ITCAvantGardeStd-BoldCn') format('svg');
  font-weight: normal;
  font-style: normal;
}


