
@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url('ITCAvantGardeStd-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src:  url('ITCAvantGardeStd-Bold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEGMABAAAAAAd/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABBPAAAADQA
AAA0P2JPukZGVE0AAEFwAAAAGgAAABw3dv+1R0RFRgAAOjQAAABAAAAASgUtA+pHUE9TAAA8KAAA
BREAABNUNIJOH0dTVUIAADp0AAABsQAAA75do2j4T1MvMgAAAeAAAABXAAAAYHuUEuBjbWFwAAAE
oAAAAgQAAAKCdtKVTWdhc3AAADosAAAACAAAAAj//wADZ2x5ZgAACKQAACxxAABMdPD5wthoZWFk
AAABbAAAADQAAAA2CcKKqmhoZWEAAAGgAAAAIAAAACQH/wRvaG10eAAAAjgAAAJnAAAD+lT7KRxs
b2NhAAAGpAAAAgAAAAIAMKlEUm1heHAAAAHAAAAAHgAAACABSABObmFtZQAANRgAAAM5AAAG8Pj+
S/pwb3N0AAA4VAAAAdgAAAJx3FEv2HjaY2BkYGBgZHBUWM0dGc9v85WBm/kFUIThsqayL4z+3/Xv
I8sx5p9AdRwMTCBRADluDCl42mNgZGBgevLvD8MJllf/u/53sRxjAIqggH8A2GgJc3jaY2BkYGD4
z+DNwM4AAkxAzMgAEnMA8xkAJRIBlwAAeNpjYGJiZ9rDwMrAwtTFFMHAwOANoRnjGIwY3RkYmLg5
mMCApYGBYb0Dg4IXAxQ4uji5MigwKPxmYnry7w/DCeafjPxAYUaQHJM20xMgpcDAAgBahw32AHja
bZNNSNRBGMafmfmjaVBbaLoFix8rZRulpVC6SrqUhoRugX1cBE9Wh24R1SUIgygKKgwPe7Rjp4zE
QAii6CD0BR7yUKASnVSMgth+M2qIuPDjnf8778w78zyzZlHhZ05CY4hZM6kue1EJ6HHnlbRLqte8
ms2U2iBlc7pvz6rONKnAxFnTpA6bVSf1lTAA+1bGW2EnlEIb7IYSXw+F7LHf7xNiD/Fn/i+9iuxt
ZdxR1dgZZWxMGfOH715V23nGGXLtKrCvdcbMqtM95PsX86eZv0HsJ94j16K4WVCxHaPvB8XcZ8Wo
28zeReRj3KPPn5nYSf+UQQeb0mU7oSr7XGl7l/OPMR5UgrNG5KrsVaVNAtro3612P3bvqCVvh5l/
SWSNuYRWCyo3ffS7pibuts2d4r5XZGyrjBlHl726QL8xYgf9M6vao08rbAGBCTU57SFmXYW2m5va
ZUZU7jXz2vscc/3mgY4ET4Y475B2kBuid4N9lf8d/EnpKfljrK9hvXW3VOeewJxqOV9t0H0D3GR+
KXgRW/YCDgRPMvlveJEmvoWveKVVH9bDuQ6H6L1YC154z+woGnndNyDKEL0X+LAWk8h/Qv8kcRTe
B/1XfViPf2PDKglerAUv7As1B0+8r7MqNL2KRy2qjhpYt/yGyv+/mfHwnr3e6RX6wWv7Juid0jPo
gm5XxH29/iPsvYgOc6rGh16wHmquQ2kgxz6e75qiLhv9UFLT2gTSx/wdehbbEypz0yr1+7oc/8lB
PPmiuKtU3A4Ad/S1wevHqnDHVW8mVMYbT8JBaIBG+0iH7DlFiv4Bvwy73AB42mNgYGBmgGAZBkYg
ycBYA+QxgvksjAlAOoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFO
QUlBTcFAwUrBRWGNorCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWR
MYgxAWhqLdDUY0BTb0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/
3/9W/9j/sf398Vf3r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7d
u33vxr0z9zbcm3lv2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxC
UkpaRlZOXkFRSVlFVU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAw
KDgkNCw8IjIqOiY2Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRm
Pq5YWJD9uizrZ8esb8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8
+eLls+d//z2qvPvgaUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8AAAAmACYAJgAm
ADoATgCAAMQBEgFgAW4BjAGqAc4B5AHyAgACDAIcAlICYgKOAsQC4AMQA0YDWgOWA8oD3APwBAQE
GAQsBF4EvgTYBRQFQAVsBYAFlAXIBd4F6gYWBi4GPAZWBm4GmAbEBxIHPAeAB5IHugfOB+oIBggc
CDIIRAhUCGYIeAiGCJQIyAj4CR4JTgl6CZoJ4goGChoKPApUCmAKoArGCvILJAtUC24LtAvIC/AM
BAwgDDoMUAxkDJwMqgzkDRANEA0kDVYNng3cDgIOFA52DogO0g8ADxoPKg84D4gPlg+6D9QP+hA2
EEQQaBCCEI4QvBDMEO4RCBE2EWwRxhH4EhoSPBJiEpYSvBL0ExQTZBOAE5wTvBPcE/AUBBQcFDQU
ZhSYFMoU/BUyFXYVrBXGFgIWMBZeFpAWwhbgFwwXVBeOF8gYBhhSGJAY4Bk6GYYZuhnuGiYaXhpy
GoYanhq2GvYbNBtoG5wb1BwaHFIcbByoHNYdBB02HWgdhB24Hdgd5B38HhQeUB6gHu4fPh9gH4If
oh/aH+wf/iAMICYgNCBYIHQglCCqINog/iEkITIhQCFOIVwhaiF+IZIhpiG8Idoh8CIGInQihCKU
IqIi3CMWIz4jbiOoI+QkBCQcJDgkRCRSJF4kfiTaJQ4lZiWIJaQlwCXoJhQmOnjavXwJeFPVtvBZ
+7RN5zbN1DRN2uRk7JAOSZqO6dzSFkpHoMzzDGUeBCoCIipOyBNFGRQsyiTqFSfwep1nH9f5etUr
8vReFa+iPtFnT9/a+5yUlhbkfd///W2Spjl7r7X22mvca51woRz+wE/kBMdzYVwEF83FcVyO0qzk
VWaVTgnmKFCq4KffDoqHXzko3gxtB185SE70VMGNXK/4bi+IPe9xvZAhEq6XI1wzAvudnEFYCo5T
KQWlSiP4fj906BA5I8bD9z0vHTyIIwjXACdgU984Qemhz5fXrj25di1ecYofgpONM3EFpIEc5gxc
CsfZFIJfoE+/hz09CvZUCPh04BV4JHFxYmPiksRpcdMjp8dN1y7RNuKzM25RZGfcqcjGyK+O4k9n
Xedu/ME/nXV1uHSuqfdPJIlP57LwH40JFILXLljCNGqtzsRr1GEKXIEbfB611pOb5/O6eYfd583z
+2Bd6Qi425CcaCpozAgYo5tGXNfcfsicpE9NSMwwJm2dUMmnz4ibNjzRYdYJdpMyN9+tq1icPGNG
9MoqY5pVpzSptdERWTe2TVPNwLWGctbeH/g88iMXyam5VC6Ty0HOICZPrlYdZrH7kaDcPK/dEgbB
DwXpU0YWJVkFAljn1jfMmbt9bqcr3+UsdELh3Ib6ufPq6ud1uozJLleyyVkhvrkUckkA6ufOvWPO
nAYwuFyFTqdYzz6YO2c44Dijyeki5p5k3CL84bmc3h/Ie+Qc7oeL8yCfPAqdwhELSIHPGyB+u0SS
Rh1LFDqecU9HiVI5YgmjkNgfWrVo8Vj1tKbVt+lzLck1K0e1LdTYE1UtR0BpSHPrSpejqHjsBfDo
50s6J1iK1ox3VHgNqtqO5oVzh1sKMzQxrZCZpLNmuK1qgzhiRazSqrI4qOhyRXCCe5zJEpOkxyUR
YmLNlYvn4SjSHU/3NhbopmrcPJIMR2uXdNZPvK0tLa11Gzn3uOnY6mXHUp8wLbv5P7Ztv3kpnZuO
c++U5qp8AeS63eEz8bjE9H5TxfODp+LcW2A2iUOalPiPwq+j3NIJfpRSh1/ngGtTV3hvvTV/mWV+
6pL8W2/1rrKQM3fNmuh2T5175875U7MzJs68U6I/G5XACb9xUZR+j0ZAWRR8Hh+sPXx47+HD8NuR
vUfwIY0N6z3G/cgdpHzwo5b8OP36soO//SZd47i3QQ9L6DWlWWMGvfgVLNknXavF15/keQj/pyMH
qZICN6z3HhIh8VUHHhgGEU+I56fzw35/gmO6ae49R+qQPzrOyiQ1QDy5Jt4IyCHB4uZVbONLwCtY
YsGc3zE2I6VqeJHD2zreLQwbXmQ7ac8ZPVpwRUHUW8OXlhjjXSXTS9+qW1KakpBWOhXiPkyvXPjh
QleGRONsfNmNtKC18igFn1n5+WrII9V7epKl6ziMlCAt+K/H52ebJVgUAoompQoFMywOzBrPyzVF
6dZ68icI0SQYJ9YIKzb7qreA4vYHCkf401zLLY7q5My82M2TahaUrt1D4dI1ViJcG5WtPL8k5AoK
D0XfYXd4tDqqfeloH3IZzn8/xY+umjR7/dQb71tUvd6SGvHn+Gqna1pl6oSkpDwSvaokZ1XLjLys
TZO3+Dzu9ipw2xpurDfYKT/R7pLxuMZILobjzD6zDzxKuuWA+90uPgUNx1paxOe3b7gBPhRzt28A
7T+ltSehbjbhPLSQKtxbBRJpIhq2C5TAoHlQOJbBXeL5eGdxYFqB0VKxuHbpHcpnLD5XUV5WdfJd
5MyeGdrs4W3OzHHN3tXj3YVOR2EZo0uDPBiD8DWchWp+HPhzKQoIMsHn9ev6myFQfrzZqAhThRXM
qjuwqna1rbRqRcCeXpKfnZFPzjzuBPCtaFq725NTu3TCnA8gO68g3REolPUVEQqIK4ytBe2ZuRxO
i7//JyjFz8mZ23qOkGpmjxzyviTgjjskO9m3M9Qm+fvZS56989G3hRvObRg2bsd3O8YNe9yZ78RH
TOawzIz6DGKFljVrWluKMq9esHXrgqsziyrBaHcUOhzI+BSvN9Xs9VJeqPFlNOJlvDALpaCwIBPc
sknWURIcvqD/QI7AuCF44Uwr9mdlFlzEiQ8hKy9f4gSRdJKky/4RtVLFNPPIEZJ+8KB4NSoo4RSo
7wPHoNbjmIVXl0mjmPID5+79G0kjqYynNk0MaGxu+F08DG1iCNS//9DypQ+9z/Q5m3OhrTklw0NJ
or/ZcF4MZ89Te2fvvRiePxN8oZpQN8I6jDBDrqfAdr7PyfA44kBeSb5bCIAfNwHlMEwjXPAXoMAH
0g5zjkJWflVhWQg8DtuXLtzgsNncRnL0m5x6X2V6oEERGxEx/6aNzekjnZb09LEsjOBIb0/v9+Qr
8hOXz6Fc2HR0L3i0RCDpvGAJ+ii2OxgshCnC+uRUozbxnlyebZQ/j31Exmmmb2q7YUyxfuLxZXe/
vKKxTq/Pt5eNXdRq90ZEzraFEkg2+m7rXN8dbS/uHLbw40xTgT4y1ZJWtGi8NXfkzBk5Mx5efPLG
+fcOc6XMGN56k0Wf9TdznHF2zezNx1cZy9rK3RAB6elVqWU5IxiPIvDlLMq7ArWeWm20s0IWRMF5
y5tg2wfJbws5rU3z5pEzPcnz7gAiirg7lThnPs6JR87aqT005+qCso/cFHgNXY/P67D3f1sJ8UvL
KkZdJZhzJk7LqzQrTcZ4obLDqrZbVQ5yJjdn0vSc9GvcYwwuHQksVcTarTEK8d/XRcS702LD2b7b
es/xZrafaAWCvh+osdEJbgiKPBn3Uurb1z34ybjHlrXc3OEPf0k1rnrs/IUdq0Czce+Xd08+sqRo
3DS3p3Fj+5hNkpzQ9TzP1kOttxIBhuhYKCHw+E+ASOT/bLRWewP5uirX6B0za5o9dY4Ea+Y0coaE
JRhzzROuH7lhTiEJiLPNRdVpzflVSC/ChS8RbhTjERpSD3tWwr4vP/sML3Qv7b66Wx73AY6L6DdO
WQnbP3j7bRzU1S1+KdkmgcVn5zgz/iOg3Quu2J/nR4+kVcTyfaLGm9+N1/lqG9euHVmd5Y77BB6P
SE8aNX169oHTX3ZvOAXfJmvdi2fOX2I25e9YNrlwrEf/xb37P5J9PuXHQxLdZoxn2K+gFIA7efIc
PjCS/hq0PckY4ki0c5KPpsMqT1JJYbHAORDxc7pXSjUVe9SMULTVHrWOkexTgpiYlF/ZEq5yuzwO
syL0VRLhtsUoEHz5Gp/fnI6aaXSWOU2GsPgyi9oJ31FUo5G2l5iPYvhUHh7lTTn65Dsv/QQxX76B
kx+FEeKt4lYoE5+lMQRO+kfQb1N3Nuzkx0jiczLfeeq3ovEartOA7k5Q8QL/w9GeG68Tj4btXbcX
4QnwCYahaT3vkzSZN49Ke6UCHicAhnxfQnLIY/vF/wp5DMeXwPPIm2fEChxFcM/O8dm4ZzFckhSj
UMsQz0z2gNBZ6Dw264HPPntw0fFJJxeNnzB33sQJC2AOLD8+4bT4wukFB+dBx4YtzS3Xb5TldRFC
j2MwZbNPNS8dNIKqn8admzzNPDpdcE1oqT95sjpbn5mV5CVnDIZhawvmmSymf5LAsSh1Yb46Soqx
qXxJvsXO5aI101D7JXuXADCHq9BSPUMLikKm07IQG02YnwmjwgT86GTVSv/EJUuPT5zw2JdPTC4x
iHdCxXRteEV6+7CiAvXK0ZCrTxa8lWkG7czr7yCFhYsPT5720JLOQ5NXT9DD8w1V+lBNrqvUnj9p
udgQZzNmROUV98nkFlyzXtJQZm/CFCqBYqfRlsOeDsrKc/dWjbWZS+96/i8prSmYBaVm1pAzvppN
wwu9BvF7mKGOzjEVJqt7nmMw9ejD7bhezLv8UnblpSGVO4TpkIlHq0JTCZqHgRzO6E/kGlKd2WPC
+MTUIqtp9wxzWaXHDE+T0JhkdZIje87UhqTCWbU3bvo5PzMjL8XGQ2Ssw1XtmLMmxpLb4omLN8Sa
c1OyMqZVZzVXO2+R9A1lGb5mNliKLVH779kG/7iNBLq7Gak0LkFaV+MYHd1xZZ8O4VumWg7co/KT
MbrigDr6pNXeeM3Wukwj1aTCFG92cjn8WSwfM93RNDJnUpsED3MK8pwU55h5Kvo8KH557o4dz59H
7fiVKIJxLY7jX5B1hI2jQ4UoePvPz85YcNuCGX9+oXtxJyJKgc9FI3yBkv+ZaMZ5KFLkW9n2oZ6g
60NFxVAb+P96/+o1750G7v29d8INMPadd8T7xKsgTJRiBeqPunBeOOWFRJjyy0/eXNj5+scQAx+I
H4BLdIk/BmmDLyRdRBQajFeRefDFt9+KmVxvL7xDGsRx3WuB6fqk3jS4TeJxqMZMrawSbhPfgtxt
TZv5pzb3tAzMN0LRD0KTeP4JiAgmHPR6GlwlwdD5pCxg2LZtkPv+ZnJ08+81bEw6rCSZEl+RdpXg
UKQf7T76p8YRsBIWiLd/9hnNhXo3wk+9jzE8GGbDT2I0/LQul83vJDNhO1/LcknM2e475/6Fr10/
ZT71U5bes2QjCeC6U6hVFXz9YwsfBH1BHvMMZGO3Zpz36jv3Lw20qMVvaisb7WqeV1rHVtSS9J73
ih3OI2s37c9KKRL/BdnjAilOm3VEh+QPixHPdlxDAsWD2mYEOaJn4bYG+seXxd1FM93jW73dS/yj
VaAaUVTa0FBc0kjOPJ1WaqlY0XDzbndqEWghv63dX9zazkk5zXdkAa4DZdnm6b8GwS7YFWEULrzw
oG7PgnWHH1y7cJ/mAVtrgcNaV9T8ztSNR9auObxhViOf5rqqSeLJd0xe4jijxJOwIDhdCUgsyXN4
JY507c5bsnbnvkVTKsTvm4pK2niXo7iynjqs4saDV1+3t6L4sOiF0pFtJUUOR7vECxPCn4K0qqmt
tZlNaL79HqZyMhZtqMcNCHyKOC20LrfcetBZVzNm1dEDa69unSo2nw8pXVL694w87/jc3ENrVj46
Zo6QXFyMPAhBat3M1jKd96CFRRHGRNUI1PtXBALJrqpCl1anr6mBI12JWRVWTeg6Xq/XdImtbN0R
ZA0p4VLZqRF6WMpHN6H5IF1yCVzgaz/RkBmxxixsn1o9r9Qc+mycXZ2Y15zQWLh8X/eS+VnijyPz
iuxWXhDK/SNJupjYVZDfYC8pS7XEKqoqzSnZ923Ysq/GK56Fska7vbDMmT5SshNopUkA90F7QWLQ
RmPYwFCiw1AWd6fNWp5t71bqcoo10RjY1NSMLFkrvgbuPIOQmegS32Cyh9BO953L+TwaDMFwanc3
mdnV1bOTii7bl7BeL9fDxqnZOCPyIJawNDjA+5Sju2Nd7RUurVIXHQZ0alHP53k1pcauqNgkZTyx
MZorEFDdhVgCo3P0J8qK7ntePPX6iT1o1Lpe/Ul8FaLEn/vWKNPGxhd3y7EOfs7fijKSzj7XsCyd
Okf2F11Hfy70Z8jdkYlZ9cM9qliVJr9pfJ5d2x2lLChWR3dHqn3F2miSXqRWOXwqgynBk+9qmiie
AodPn+nWZ+A7d4Y+K8eQJX7Ux/sAlyjhR0FC58VQMT1FRFHxtjzB15SmD+u2evIdCDlOZYyzZFfm
Jov3Y9pXUuYV/8pJ+vRvsgrlSkkjN3amgpqPnEXZupDQWuy1y7ctr7XLf7obFzbiA7XcO3O0zzd6
5lzpjw+KmppWNTVJNqWW7EAalSixnI5yqc+kOIwgH5fQUztmVO6pnlezIGC6a/mMCohrKCt2Opyu
wsCIJ8mZkqaC8TM9Vz1YnfskvAV5o9NcxUVOV7tMey3agkCfLSiBsME64MuTbEF3yYJld967YmG+
+K/6igKXk29D04XilfxkQcP+1VsPNJWIX0HOaJezsKhtlLT/RfgyHeHH9vFZw/hbdE94fKrHElZe
TNID8WpT3AFPofi+NCex9yz8Hefk0JjdLZ9MmkLYwpm6Sme6oQ45hTcReH0fkAidMlHXbneUpOg3
TBaqq7ND71fk64SQmNjkxExVUV1XR2qgyg23KCLjI3SxJn1kjNGcJ3TMUTqGez2JqvCYqPDocKVC
Vedrmx0n1Em00DO81mA+Qm2Oh2UaE1paupua0Mg8+SS1LcAVov0PYF6fKHsZniW1NNZg1CpJgAqU
X8gbmZYU1m3z5DupWl4QKRgnnqIiBW4JrxI3pxThhVE/LVCnTkpf2fPyYUwrcR5amW4YS8ehxvO4
BYNijYcPHm4ft3Vi66GDOydNwOEHoIM+e96DWeJdOA89KlmG8+i6VFKsQR0vvPP0y2M7Xnz6g9c7
F4MLyLZtoih+cPgwowlQVkpwDvXlfoYMVo556+HFc4+JXz/5HokTn4GKYAwUhy+HcSzNz3wqGqDh
zsd9/TXs+uijJVDU1SWe6qLj5ojnWTzioGelgoUdRMaBCXQadRH9wF4CXjcRfJhS4rs8D3zhL9Sl
pEZF2auh0L++rENrNURHG6zajjJypqv8lMGljSU8Sct+t7yrpupdlSEq5HBotFHzYZUUazzVGwaL
yXcsVsANferxx8l3vyfKZ6pIy1+QljRmHXO1SIyJUAdD8F0Ys5NIQ4CUgjuEHpHWDkC/XiYsTi1o
lIVoP2uqPtQYo0MPh0QZVO9W1XSVv6sW1LEhPPCxaqfhVLkco28gGlhNPSXoaLjMvI3CwcxgCBpm
gB+sWr3HmFYc8JkcSmtOo2OYwqjUJYSrrEpYvdtoNJkFW+o9Hal8jCIiJFEr+eDm3lru975zJtkn
NB86dAiuOXiw5yX4Xoxn+ANcCskg/0ktjE3wSecwfhyOOyBcSJYx4lDAVdd7GqxKS1vJxtbJoYe1
OYIn1+o0HIseX58yR1lcXWLKGteumjNDt7LAmWMVciylC5QSX1H3yVzyI6tBaASahcjplodlJILZ
FyzSoIL1i2uY3sOuEWaHK1WVorg3yl28WNyVk54dFhURB+uzk29fueA/Qo5GDBcyLXDvtQ5TqhCZ
4IzVCsbSvNrtGnOkWh2dQK5N807YsXlxsyc12yXxhuPsSM+NyHM7rppmaw6Fg5ZD6EF/Xq7Or6PH
MgqdrS/ZROOnb6loGlHV2tzuSBvTMqb0zpIxTe3p9jZxUmlmRlnp2FJ7a0ZGS1N7oL6xfFTLGKdj
VHN75Yj6QNsnkFlW5s4sL5d4AYwXZ5id0AiKfuUBungHVUQFGXUw6YUXn3rhhaQHpq18ZUHni8tJ
1A05phsPHLjR4L3ho7NnP5LW8VRvM8ryPnmPUZo1kkSjTO8T77tDvA/HOMUfyAqMmfz0rA0oUzXq
FKA1MtxS2Zkg44MnzllARcAvHxJpefYRPXSDFMgjw/bF19YUHdebM3RGY3KcUrVhlb5wZFlO6P7Y
ae6MzPRDhtQc/aSU+jnFC66ZahaedGiUca/ZiLXQZ05qiVI7imzWstQkjaHYPGZDhClnbGG7K9Fg
UY2MVqeVpY2ryQlUTrBfJU5FtYtrVVkTkiMVExKpLJNN8BFvuHBmipmI7/s9sGUPb9iBPzQPT+g9
x8fhOqMwQs6lZ13sLDGVSpNOEmO2vn5CHSD+/oE03A67Pv2H+MLnn90LXUePnX/oSNWchIoCnBWu
TNGHzVXMbZu8ZMm0tpnk3Be79nx+eveuL0Y81rX+0UfXdz32Q1WTN78+JMZpap28bur4jVOk/THA
s9CONMUOjrN9iqBrlcJLaJ+myStuaiv0aJeZkm3xYaHRackm8k/xtNExprym1WG8BdR2c0xMXEyK
jcJO5GbCfvgrF0otuAqFRieU0gKfkDh12dSpy9rYKyQfl34k2XNz80kanKTnOiozTcXc8PtecT+c
FB96+PL1ppAB/M1GaRrE4aCqhErVFrQfqMNugiaFnbCgbOb6vAOZ/PCatQ8dET/9U2VHtSGFD1PM
CgkNJaGxKYlpc/cVeOrIuTP3yIz+k/inR9evOz62qGRYSlR6ZptakZ7DR8frovbDlFXlfqR9KtkG
r/LxlHagWe2r4l18fFcX24cCOAijySvoi9T0Ki020MqD4kKJAUa3rmrFx2tCtoAPUgBF9N/WYki0
WvWJNpt0Nt57lDhJBvIgTrKpQeVVokT+fS+t7sF52L9ly94NG/aKkXv3Il0mcMIqcpbG+JQu6TRd
01eVCosDWCUeuq7cnrGGGLKntI1Kto6FbXOndPrS06oqHdXV5ZlFKY3S/mlRCdcgLOqfPOiZaPFK
LmLRcp1C8Mp1M8WFOo/2Gj5Ml5CdqPcnFqfGKwl0WQtyEqvaChwZc+vcLVodPBwVE5sepxubZo6N
ikwvTo6uyy1JiSmwFrammlIY3h1kAZzgm5jPRNu443vff5O3r1mxgF7z9laQavQzGhah0kMW+YyF
STuGqd5utX6uXtO921pdaX6G/Ev8LmDLzLQFIKHnveqRedlPsbX1/tp7F5mEdjGWwqFa4qHHDfT3
zUnLRZids37KLHhtyvgXVvSkk/d60qUa6APcT9DC6GKVFmg5eBA/P9AbBfSYGrWOFda0fZEjZVqw
sOYHvzEi2uwt8kXpHaaQ4SEhsVFKlSouPqo8zcdnZbhKQ+PTUiIiItGIqeKE0dIeVON+xkpno0DJ
80HsGszcxSpomUtlxIY6Pw71JIJTBStcAxsBbC3bWvAxzew244N0QNGEiSsmTiyCRIsl12KhMAjq
9s1B3QadQvA7BPYKGVOpXlewV/jr8T7tDqF1G76V5VmxKOU6josAIQKUQQlVycQqPGSN+OoWyINM
r3fNqffFJqR+xciRNCvDVXwo/nviiBGj0Ao42YrE4uUIkcKezdYcQeMEFQNlpvCHluhfEWaDhGXF
xbIts4pi69k8SMxDOHTR/J9RxjFbxRi4mFbi6SlY/6WEXqns8wltbXaJDidbbY/6D7XBupoUDGRF
1B/oB+FcvfkklcVaKZJdUNB4Cb0MM/AeufDMIqsA0HaWIYpmNCyrGLJsJp0zs5oT/yGrOcX2rzoR
ncIxoPCUcs79S//iE/mAHYX1wfh8CBio1QNgpKGKD4Axial7H4zHGQzlgOqXSof5g+AfAOemvXvz
8+/rHgDqeHdBQXc/WCcYrOSLYIVJkbAUCKNrGQD2n/6ivOjqIrXd4Q9kG/JyU3IGYHhioS0mJnGx
EB0j+S4Jz2F53QkDMcnhxAD4WTS2GADykBRnBGH9ymCp6X73hyV3/QQdIjM1AwC3gbeufnZ9vRcS
9EnWJP0AHOfpldn1zQarXq9KSJJqpf+NjNrFzuqQbgEuVMTMPkGh8vgiCYH7z3zyyRlxxgdNu26Q
C2Rr10Lsq3L9L4rV//I5LvQytlAqV1xcFqQBEpzQRkSb/ENYSfttxwfVCwtfSnkhxjnYejZqPt46
oIq4rmtPsI4IX/LfSj61f8UP7Z5DrvqJD6FIyyvjv6XSHJz38xDzUJaD8/ZTTyXPW0YlmLCTvy/5
13FewsB5vCS+8tT7JcENTn69T2YlvM8yvKqLMMuiFMTeQ6UoCOFZJkCk9zS1aLheXqpceJQ8XefJ
b9gKe5Kl5UlnejAF13dhHF3XyRfYinAcWw7CewXHXYXr4YMncsF1nLQHl4Cj++jv/QTHz0D6Kdwo
eUaQ7pObJIpxgkQuy5WkOq+SVlBVSlbiYTJEA0ibtPK+cu+v1vSWkrrkqqceEv9VCdz8+cGKL7wF
WhJryHdMuP7ed8DZvWhR94ZgzVeqzT2KdiCCnZ/1VQhtg4zAhZohvDHIBAwsI743wAbwUk0R+U5r
iqbLVhVpCWGoyuIo3KIhq4tEYHsWxPHzleDAzRwKRwNu75A44BDb7yCO1xkO82VxgCQIQxZJiSQb
Qy+HSMISxHWC4cr4A1wXb9WQaCdc2LTSLLZpQy/2+/6bFyLT8azMV8vlOSsL81D491PxHhrjL5K8
A7WTJBW+YrrBGv+kPsAHF2/YsHjDxiUbr1l8jfwWX68Jyta3fDY5j/bAQHvOALMxuZEF+S8lfKCS
8k4br5XUhTSbjk+c89mD7S2pxyfN+rx7vPjzWb1t0jxYcdZkzWly68nbrq4ld+z6QnBd3XnnfZ+K
8VAWeW1L+THxz1GuinprCeoNq2+iTOuY3lyiwknFeVCVczMzN0NVOsnLkn2VYP/8B7CROYNg/4WZ
qCFhj5RssAT7dYRtujRsWXwHgYf2oF0bEkU3E15exvEsoz/lMiuQxWUQml8kUzgkjrslWy7VXZFH
4ez0NVh5pYZarr4+TdW5XwVWttpcv34Epdw/o/EPaElQ9utIOOm70JLQ15AwBfpaErbAp8GWBMIV
9n5HtpNfpFMQj9Kb55f7qoJxsRscGj14aBdVntQC4OuLA8IKk+xpK4pmXltbNu62xe7hqYkTQsIT
zDpXrjplVLnF7s5xBBKj4dD46elZuV2tLVnxc2sn35FiSCyDv4m/xCQYYv2CQ2Nel2axufONTDdY
/ZWvZfVX4Y8rsFRaL1OF1VK5vWQlFnqo7AZxNl0xTtywy+BMovJ8aZzX0i0N4rQznPYrWSeT7sug
fU4W80tj/nvQTku4dQx3zh/jHmysL0MGWAbZ7MuQ9Fo/wx0i02WQ98FxBVyRtfEy9ExnenlpCk4x
3QzibmO4XZz3CnAPFbxfhpBNF4Xyl6aJRA4K7OmefReSQgJIm58LBKvkmCDKdXKHhp2fuEmQWlb8
05kgNOjsGNE2D1PbkBRxUvjwdINbE3vAVlQ9NWtk4o6czorOKtu967LHx+/Im76wKTPn9z3NxQWN
Nkd5ZRU81WOYUmhLPu3PUSXEj84udJr9/rr8MTNzug65UvN8w5oybkiB0qbmwoDTNTFqipAs9SBE
sR4E3x/nEv1aEy5kEhPUl8gkrLOulZoWHM1S04LjQe32eNvgNKJBs28e7WWop20IJU31E9dTXrJ+
A7QxainuukzHATMvl+k6CEP7MqjzAE7J8Z2Ep+kK8FAfcDk8oWhTBuPpkGM8CY+d4TH/wXokM3IZ
VI9IdmQwtmNyThAi4zPI67JcHmNQRS+Dso3q6GCE98s5Re+7iPVX1q/TLwcq7v5YNu59vTtWFLo6
du7YLwcq7n5GNsjyGSTpPY7jZiO/Ls6BiruTLhhR3t6XA71Oa7pyPeGiHKi4e1XQwARrC8H6/k+c
kZ5OgcLnR1uo1fk1Cslj97GIHjkFz5SpnR35zXL1sINO/1+ne8zZ+6+7+vDOmVU5YTH6fTUbKipL
qqvJmNw56qhEd6wpY058Vvm45bc9vW/D5rsz4pQm8T8hv63D6xvTLuWCJID2PZGe/A7ZrTD4vGRQ
/8J3Q9jxoToaeHU/G85La8e9Uspx1CW6G6hiDd3hkEDTpkt1OcDPwbMpCU/TH+JBCRgaj4LGWpfE
sy54fiXhsTM8lsuth0nQ0KiekbOnS2J7Vxa1Pnw6hi/z0vgG++RL9IvoB+W9lybjuYvOwSRaDDKP
hcusXtaGoWmYzNKoS2J9VVIbem7c+zJxEk9Qz+j5CI9w2Z0DV+06AueP7iKevXvFq/burdm7V+KX
uvczspkM57RoiezsnjWpqzyYS9FoVsf7pWzKr5B8IZze315rH7a8tsJv3N9WU3rT5Mq8c9sTIvIb
xW0JiuI6Mnxp+8K8WaN8OvuipuV1m8brxEde5puLzONe4NsKkjkWN59FHatFHUu+RAcHNVKDuzh+
kI3WUJ0ckCzlUhLspsvAdlB/MQj2cdnQDQV7v2T7ZNh2hJ1yKdiyjxgE3nLBOA6F4X/6zrwkHAZG
f+qlsAT9wiA064MGdSgk3wdtLOstQR4xSQl2l1B739dhMg25caHLhN8i5ZJFrEdKvs9JR7vopDva
+ndJYYQk9UgVdauNwzIKJgbSEnbSNqn4hg0Oq80VKB3xJL/rkXyVNsle0tzsvOrB6pr7aafUKLdz
YVpGO+WBRJ+B0RfXj0J52X1UZtLV9iPzXbbAYB9cer8+ONqVx/p3WK89qqjf56d5oEbBTncxsV6w
4GNx9u4TWTDuncYTjQ91v0n7r3F8idSP5FcEJyiFUSUl3eXl3acdhx0w6pu0w2nio1KeKfSeC4ki
59Czu4J3IyL0fl1eJtCVgFkTSmv8wSAuFnjbp59+KU4fvXzfJ+8/5BljTYR7fn/PPrFiwryFHWUT
0kiAHmrqE0tP37Pzn3qNUp/Y/RZkTazf1DFubdUUOScJicdY0cy5afR9UXzrCLsQiDON7hfYUtWW
Yo2QeHFyaIXPkKGNO2jKb5p/Xd3I66863L2lfGly8tLyq9pzM38/ODK/pHZ4gbcFjvwWWT2+9rS7
UJkQX+OpnT794LqrjvmdTv9oz00JUNDa4ctvHxGa6fFKfGF97PwLXBaXd+Wd7CrWniFccUN79r35
+ffeP//K+tr5SknfiNT/xtNcLv/KO+Ak0v4PjXDiWIm6K26Ig/FyvimdezzLzj3i+598yMogn35c
y/xE/+MP+VSZrpH1ofNPIaz4/p3oNnkZFxrSxQqJzL7G9Pdl38ruvYTX+CQJxoUuM5kVcrOZOF+a
H2w645Pk+cAl9HqJHnWDnhGgYvCxhHUEY3CH7PUjOI/Ujqqw0Htx4IG6SXmRUUaNfWGBNSEpnhRm
RhYMmxhTEpiTHKuNjzbFR5C4deJLPk+1ISszbDspKIGmddPKyvhreYU+jtoAsh6+Q1tNe/okowyN
kg0OBqd0zGock8Lu+5PWUSzRz6f00X3pXgfgaska5Kua2hOV1Ncsd7nUrklQJZgLNGvC1owYtYRX
axQKoaGxlc55iWyCGSweZj4aZrC+GonHO8gYuB3zaKl3YqgcGTQXZcJ826B8F7iHenNhLb7DnTJ7
5JxQI1sBIG0FRpXSlGstCAipVpUxelR8viuZHmVwDeQa+AeLn7jBMRI8OCioHRC+Iv0jyTzi5lvk
3iH0J6WgU4y8ddLuPfgkJ+6YtKUZn/K9YjjhC/I9zbn8Ptk6EvZlAlQ8+25A1Orwv4evPrmjaWNT
en3+beIbq9qHN4yv8opvXMcv3X/9S8VTlhR03J7LXze94b2pV6+fPed24/Tr/t/1SrAesrtJFusp
ERCMYPcpBVoDD4CPMcdMbq6NuV+1jrfqu5OspbaErNvgb3BfLze70LIaFBN+HT7p58aIhU625rfh
lNTzQ+8eFeCo2CI1/bBr/Iv9rvH3/T4xeG0UfA358v37KMtn2lbNJWfke1cJfM2dka/Rdra2m+fC
18FrvTu5M9x2dn+6fG2mdL874dbA10Qb7GOnGmLGJ0QgaKiV4eNQwmkQ97G+fnf5GyU0CKlcxsQA
0nugd8IxhkshYes/bqY8jOpTbzQplnwq85Csv8Hjg/t27rz/7rvJmYe39swgd299uP9YVXBsXwNf
3xw2i867fav41NavvtoKNVtvp3M/4j4lkUTN7l0KfhcESv9SCIwZGygd20HU49aPG981ntrYZny5
k93fL+WotNtIfjYf2Yu/B9kP0q+g30ER8lK/76Ao4Gq4+v/r91CEXupCxBV9QQWYB30kPnKlX1ph
vNS3WAD6mJncp6wXRu5yC7/Q2Sb1rM3k3pevsx6ZZf2aYzBqu4GeIUiySOv0KyDvevFV+R6ESIwB
aH8ePZlUCNoLJx4Owe8pAXxhZ+dSRZx+ZQmGk28m3Kcqz03Yr2zOb1uyNmFCQmV7wghNV+ecZdH7
w22JZQlvJbwIEybPKN6Y77hl7WSNbvLKbRvHJaZOm6zTUJnU9f5M8vgMzkgrRVKF0+tA3XXQtlv5
/uowhY5GS7yG3qQnWODHypZ7j9HvOIl0hVfGL5vU0jpvDkCWbdju7MKcgr/V7r5XwYcmKUYpPHG/
3nDrwtFjjkzJdGbD7k3+ZRn1TF+cfCe7H43acPmmTSUv8EqzfOscbNjTMWrP8tFtY8TV48AzFpxw
QvwGNGIVZIrvQLr4HrTMnSse/f9hJwnK84/8avYdFTQDNNOmcBa+y54snnHJ4ZNvCsGrHnMuv7pn
RGhE5x3NN3tLCh+Zcey33449/NuuyM7t/9EZGUoSQmBWyKnYyCVVRVVN/4DA55/vUf41LnLB4sj4
NxXMVth6fyFtfDVmxk6UJEe/0005TPVI61JROoIdEosyx6zd8tiR7YUT803Xzc5vUgJMHjliMWRX
hCvyndnFueSGtaUfPvP62ewRo9O77vYkK7Sjt/S8uKImyTM+kFXG4lB8eRrXGsr6GHwqj0pjM/Nu
cFCDrv/+jS/FeMifpkgL40Mc4ePJHT0LJm2GCMNmrXK1SbofcycfLtsuqV+ONWfx4fMfeOWBeeTf
ZETPCPIofe6Q79/cSUZJ+Uao2aei+bhZo+M1ZjKq5/nz3xOL+JfXz8C8mbMgADnLbuZ/Ff/OS99p
coQ4YQT7vhGckw3nj9D+xsvq16X681J7O8n9/BpKA723QeHwq7QpgBEXuf/XjbubDG/N0AGJDnuE
X/M/P8Fz5rFt4muTQqDBQr6Wv9eGW8ir0ceYMLcokzo6L/rSgEC4BzMKlnCw6Fmh1towrQlVBHMc
Xj132Jx299ji2tlzmgrGpoNeoY9J0iQb4+um97xPknypep3SYUtMz4V82AUxiYnx+ogkyCqyO7Jy
0aaNmbuyqHhOa/u8ggIwhiVFqMOjQmDGMymWFLPOGVuY7Sp6Kyw+0hCRSkrSy6yZJYz3ut4KOMDf
xXJohXzvTgLrgJdiTlrwo+JGg044EKdVCip9vDVjUYFFlZyQGpekTLVlj8/gb1oUbjTf0C6+MfOm
mg7l8ki1sHI2BMZNWuKQcxsrt5SkwXdoYwLsrgKQwibJytBkS4FMSAFWAg3v/zmtCcIPBcamdF9F
vkXrTFAX6Mfk5gRC1Io4RUx4VFhyur6grCO3iihDYsOiw6Miw6RBHTm5JYqUOH200Qnf+X0lLqtB
a/DnlNn4qJAIPgyI/bB/SRpEkXA+lPCQpEvGi9YQVUS4FfmSyymJiVQzn6pAf4pPM/1uKJ+H3qPv
hxOO6w8XfSX+7K133HC06F8Q4yGOMRNvmLjKNBZfV7A1e3v/RVLJEclbZoLPhhltqM7sM5Nk0QBn
xNWwJURUw7cLz878dt6j5NEfJku88uE8U3CeCuf4bD4b4LwC+C8xGa4TV+HkRPgnOXJ2xtn5j/KP
9ByYTOd5el8jU3g96q1KkmLUXMwehbA42viMiQOZ8uG1pz7YHFgQHxKiiF3YGRMaGh0Gi8UOOAAP
iG1fOfVG6z++serdUpwagi9GZvMMQU0ecIMjWmqakMDKW7ov3OYIvm78gSNi68DbHXveIzO7JFsd
hKsfEqqHhi0DYd4yFMAneoz/CxL/DPEAAAB42q1Uz08TQRR+W7YoMTGEBKJ4eQdPpky70CZgjbEt
iCSgBHrxOO1O2w37o9kOEM7Go3dNjCcT48XEv8Krf4U3D/4HfjM7iIEQxbiTmfnmzcz73pv5Zolo
0XtIHhXfU3rnsEcL3h2HS+R7DxyeIvZeOOzTvPfV4TLVS7sOT9N86bPD12h7Sjo8Q6s+O3yDbvuv
HL5Jd/0fDs/SYnnb4Tm6VX4DRs+fweitZTfYowp9d7hE171lh6fokddy2Kd73nuHyzTyvjk8TfdK
Lx2+Rq9LXxyeofHUJ4dv0LL/3OGb9MT/4PAs1csLDs9RrTykDmU0phPKKaIhjUgT00fUgNZQVhDn
Ka5bvEw1lACoRSH29kgB78PDBHsVJeiZtiilPmZz+DattHMhCcyZnTEK094vzokdKfQKq4/cWupk
45M8Go40f+RgbW2lYtp6hZdrtYBbYdZTvH8y0SqZ8Fbaz/JxlkutQsHcimPeMzsnvKcmKj+ClRBW
FwmbAI4QUmqT3QTKQVekoYGYdtDSVrfDrSOZat6UeQgmHfIO7G1kFJsF7SxGGyBQcyCr1ITfdUxv
ABVMZzxnLAXH0pmbQNSC1WZrvb3RBKVltITgWyooruDsEg/P4OGxvcmzYHexm91tCtc3rR5yexiF
VUADxp6A8wD2DIwDWGPcXc+uqaMG1IDPBoi6j7lIaHefcUsCtdnJcmWsYiVoJvJAZXog4qgXiLoI
GquN/5Hgn2520wY+QtB9jCIrOImqrThDK1yz+gC2DAkWEtZWjqmVbwS7QUa4Xch9jLkBxn3rv3NO
7MVqcVFFm5keRX2OJixZ5zJUicwPOBtAwFrlqdRRlsqYuydjNZB9xR2napjh7YkNqAfCbTpEL+09
pPZldkGZ2FCkC9q8JjOzYUXdxijFezvEDhNi5dwbPk2qeAYSyQ1AqPIebx/2ZBylFe5mCXckopyo
Cm+E3Fbp8DCSuuIeo4ka70QOsNM8aw2H96mKcmyLsGddEAr7g0gwpx0xjbQe369Wj4+PhTT+RD9L
qho+/8VbFUejkK45ImH3J0CXc1RjNZSxGOkkvqqcCpFedtUQ6d//eX7X+YW/j5X6T55rUUwAAAB4
2m3Nd5jPBQAG8M/37rhhr4a9M3P3k3MXlbuzklGRldHFyS85OnepJLI3RcheZT3Zh2xC2fWgpU1l
F9K/4p770/s87/P5532eV4S83MkVcr/cudtAhEhRCigoWoxYcQoprIiiiimuhJJKKa2MBzzoIQ8r
q5zyKqioksqqqKqa6mqo6RG11FZHXfXU96gG4iXc/W7oMY0kaixJssc10dQTnvSUZlKkStNcCy21
0trT2nhGW+2018GznvO8jjp5QWdddNVNdy/qoadeentJehBhuTHG2m22i8aZZrKFVlsRRJrkB6PN
dNMtU80xwed+dsMia9z2r/8s86kjvrDOy/qYoa9jMnzpqFOOO+GkS/o57StfW+8V/3jfN844q78r
rpnoVWEDDPSaTEsM8rrBsgyRI9sbhrrsTW97yzDDvWO7pUZ410jvueq6Hb71u/M22OiCP+z0p798
4ju/BVHO+dFPfvW9X4ICQUHzbbLZVtsctEWuQ0Y5YLy1Dttjr11BdBBjisVBrLlWmecjfwdxQSEf
+8ACK003y4c+s8/+6JzMcHx8Sny+zfMMpSXn2TAl39S0qBY5WYNi0/uFw4kJoaTk2Iwh2eGB6dkZ
fe8NQqGERvkm/w/DuI+sAAAAAf//AAJ42h3LQQ6AIAxE0Q+agBsO5b00clfwFGj80mbSN4sSgGJ2
/olkFhLBm20bhz65dKXp7kZuhn549Tr/+ADlIQkYeNqNk88rRFEUx7/nvmdmSOKNGZomSbKwsNAk
C1lIohS9sJQXjdQ0xMyKkL9A/gJ/hKWFv0Kxpt7a3o/vPfdSY0xZzD33nPM533vueXcgAHpQwRWk
ljTqyNGTjc14FCXg8xNdzAsMQrujLwiQSZJaAxPV42QXU7WD/QQVXecOj/fqWDhpHp1gmXVGa129
9QKqWM+tTjnD84oYwQRmMI8lbGEbVdR93Q5rrL0iB1Zc4wGp9Mus05B1b3dcXo7kRu7k0fhzTcnl
jefNrY/fs5si7/qCUzTQRA1n+hPGBjCIArPjmMYiYsb6NR7gCc94495GbF8hqTK5SX/PrObyet8I
6Y9nV8sHVC5hzNO5P+l2zqkOtnBD/+QKHbniLz3hXrSnEO/MrGp8pSX+wfiajwc6wbLOAqosnNZ3
B3YNuA5rvTu32zNG71nWvv4i4hbCsPNx1eukYv2BjmTcRhoS2bbvnm376lVq9vJdrrMiw1u+cgIR
lfK6S3UX8vVGOttz0hHnaG1Ke6F+QW1KazX6cOmpS0/Zf1OeJ9uvMaJzdlxOubza9OcNGZ5mfL/G
dvkF4jBJHQAAAHjatZhbbFRVFIb/M22nZaAd21LotLQUaGmpXBJRucgDMYiieEFEBJFooi9oNDG8
k+iD+koMGmkkECiKUmukpkFTREelIdMYfZlYCkl9aEwak770hej222uGdiq9TOuhf/Y5c87ee+21
/n9fzqoCSTHVa7WC1146/LpKVMgbOSdfE7z6ypv+nTJP1EW4RxQLtikIqq1tXC26B2zVdu3UQb2s
Y/pFgxoOIkFJUEHrfndI1ykFKuB6zR3WDUrAU9qufdg55UZ0htJOOU8J+DWqBbwf0GnKGUq7+0tn
uZ9zV/U55Ty/L1C6KT3uT12hRxk+iF4peqXolaJXil4peqXolaJXSh20+YLSqai+dhewkMKH9qzd
bkqP+x3Pu10Xv66qSKdofZpyhtJOOWt89LsjtMpEdcRiOcQ1TqRxlasOXldpvTZokzZri3aoX9d0
Q5HyrZ65stXxTrXqbtgedqNuWCH/uYuuz33rkmNIg6Pc21yn65yz1QHv75S1o2gQjvf/seMG52hn
al9HMlePkJlPhmSnzw1lbLnfQN9c1GJuDU7NwDg7rMUw/lrUgtd9ufx7hMDFQXdknNfQrHo7c1Qr
l9ewZv10awC1hsZVmh0D+ba0PSKd//zMzM2Z5o+fEfnP3owlf83a/8z1UpKT6ZT/rhC+Wj7uO2B1
wA3e6RWbsc+OMuwuZZ5Bcm57WH6+hrgmGt1G1x72PqCFIbkXm+Brl52zMQ9OxuxJk73Hsu9HGDs2
1epwN8d+Dbmbbuh/cndzmsqiO7GDhcbrTHt4vvtbb/bUz6yAXyfUdfBllMz5egL+PomVLtZLmlH/
yNO7dOgxt4+vAdszBvx3Wf6niv+euH2VuzfA0bGn4x6Tr3MYSNqc7Ju1r4PTfZFMcRYMj582YzXH
QPLWl9sttXK/7HLYSZsOs1Zhdqdhhs2Z983ZWp3STpv7YAKv054bk+3s2d3/4m1zoC1njLacp6Hs
ad6WqcvuS+n8Vt/cc46wrY5HNEO7rglPL95+Prq3yfim6Qt76Rz+Zp/DRMiryZvJIxtBoCZQoJWg
SM0gSs0qzSOPbOU0WQMWaC0o0zoQt8y8khx0vap0L1ik+0C17gc1ZKYbtEQbQR056iYtJU/drGV6
AKwgY93CaA+BCLn9dnLWR0AxeewOlegxMF9PgFI9Be7SLlCup0GFdoOF2gMW61mQ0F5Qq32gXvtB
g54Hy3UANOotvUN074EiHQVRva8P8fwjUKnj+hgPT4AmnQQJfQoKdU7n8ecrUC6yeMa9CCp0CTTq
OxDRZdCoH0BcP4JK/QQq9DOo0RWQUC9oIjvvh9FroEXXwUr9rX+INKIH6RsnQo8mxiq37L6OdvWW
43ttKkyVQlOiyHiPGuPFxnWrcV1iXMeM6/nG9QLjusa4LtU2sNi4rtXDYIkxXq1HQZ0xXqmdoN54
X6gnQZWxv9TYbzD2E8b+Mj0DlpsGK02DZtNghZ4D80yJwJSImBKLTIkCvQC8Hu8Skdej0JSImhJR
UyJmSpTqlD7BW69ErSlRrQ59iW9ejwbTI2F6JPSNehjRq1JgehToe7BESVBlqkRNlYSp0mqqNJsq
pboKGk2VuG6AMvytsTUh3jcTwypjfA3zvRjWt+DfNhisgrkd+ORZqzG+auFpN6PugYUGoj8AF37e
NVuca2zerbVo1xHrCbQ7SVSbiaYbLXwkjxPBZSz52bQLr3th2/9PZ6/Nl302X/b/C4fyvwUAAAAA
AQAAAAgAAAAEAA4AAmlkZW9yb21uAAFsYXRuAAgABgAAAAAAAQACAAgADAAB/1YAAQAAeNpjYGBg
ZACCY6nbT4HoHR2Lv8JoAFWaCF4AAA==) format('woff'), url('ITCAvantGardeStd-Bold.ttf')  format('truetype'), url('ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


