
@font-face {
  font-family: 'ITCAvantGardeStd-BkObl';
  src: url('ITCAvantGardeStd-BkObl.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-BkObl';
  src:  url('ITCAvantGardeStd-BkObl.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEgUABAAAAAAflwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABHxAAAADQA
AAA0P2JPukZGVE0AAEf4AAAAGgAAABw3dwB1R0RFRgAAQGAAAABAAAAASgUtA+pHUE9TAABCVAAA
BW4AABL2MptMrkdTVUIAAECgAAABsQAAA75do2j4T1MvMgAAAegAAABZAAAAYHoYD5ZjbWFwAAAE
0AAAAgQAAAKCdtKVTWdhc3AAAEBYAAAACAAAAAj//wADZ2x5ZgAACNQAADI+AABS4LeGbRhoZWFk
AAABbAAAADUAAAA2CbuN4mhoZWEAAAGkAAAAIgAAACQICgPOaG10eAAAAkQAAAKKAAAD+jeMXx1s
b2NhAAAG1AAAAgAAAAIABVoaim1heHAAAAHIAAAAHgAAACABSABSbmFtZQAAOxQAAANmAAAHRLJt
r5pwb3N0AAA+fAAAAdsAAAJx3Eav2HjaY2BkYGBgZHDcyThvYjy/zVcGbuYXQBGGy5qq3DD6f+2/
eyynmU8wMDFwADEQAABKbwwYAAAAeNpjYGRgYHry7w/DCZbq/7X/vrKcZkhhEGZABv8A3SYJ3AAA
eNpjYGRgYPjP4M/AzgACTEDMyAAScwDzGQAldgGbAAB42mNgYnzNqMPAysDC1MUU8f8TgzeIZnBk
jGMwYnRnYGDiZmUCA5YGBob1DgwKXgxQ4Oji5MrAyKDwm4npyb8/DCeYTzAqAYUZQXJMUkxPgJQC
AwsAIlsQKQAAAHjabZNdSNRBFMXPvbNYgdFDH/jgkptgkWQlSWSYkpbbmqbE1ppWFEGluwSSuZVm
ESFRURAZhayRGbmZPhtLDxEVBBJR9GlgEGUPGWn1km5n/mqItfDjzs7cO/8758xoLU6APykmKSQZ
+ySMqOZhPanXETRpH8rxETelB03SE/+u2/FDAygXD9wyC0sYq3Q+MplfRgbISlJMFpA1xEeqSICE
bb6ttXuQdWSppuOsScQOfYTpmguf8SCkT1jnhk8+8b8fQY3AB47lK9K0DNskhiLTypwBrm9GtS5C
vgmhVouQr0nYKL04qfU4ondw0VxGsx7ADN2AZhnCbJ4lwJ57GVP5/YgMxwc0XRK1kz3dglcPcd2O
D6JMkuDXDizXBnjxhozEn8lv9vIaXhNj7jFymrmdPG8UAVkLr9xHgWRjlzaiRhMQNHMQkn5MU2CL
tGGmPMclacEQYzK/XzeufT71aSILidVzk82h3oXsLcGkYKu004M6VLAmaLW3c9TurVzAdc6lSw0q
SIj5c3nWVN3paH2eOe2cf8z6ZtYv01FETBrZizDXVju6/wdzN/7L8cI95sUE1odxcmykV7kTPkyF
feUwljheTIZeWM+0knet09HvH1whRusFfZiM48MY82x09J/wYSoBJ65yvJgMvdAuesZo9+B9yhAX
Cl1HUe3azxp7h+jj3ztD3zQv3k+97pEXVnfyilrvIRkcR8lL0qdfsMLRvwS5MoxS8xml9OEDuUEy
pBuD5DbJor/dZLd8w1PmHXcdxikMIkAy0Rhv0MXIlp8oMO9xzu7rSmN+FvtrhcdUok0f4po9o811
vH6HbtOIMzKKK9rCN9CFqxpDB4nyLT/gu/DD/wffOOJgAAB42mNgYGBmgGAZBkYgycBYA+Qxgvks
jAlAOoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFOQUlBTcFAwUrB
RWGNorCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWRMYgxAWhqLdDU
Y0BTb0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/3/9W/9j/sf39
8Vf3r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7du33vxr0z9zbc
m3lv2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxCUkpaRlZOXkFR
SVlFVU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAwKDgkNCw8IjIq
OiY2Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRmPq5YWJD9uizr
Z8esb8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8+eLls+d//z2q
vPvgaUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8AAAAoACgAKAAoAD4AUgCEAM4B
JgGCAZABrgHMAfACCAIWAiQCMgJCAn4CjgLCAwQDIgNSA4QDmAPkBBYELARABFQEagR+BLwFJgVA
BYQFtgXaBfQGDAZCBlwGagaaBrYGxgbiBvwHJgdYB7QH5Ag2CEoIfgiSCLAIzgjmCQAJFAkiCTYJ
SglYCWYJognUCgIKOApsCo4K2AsCCxgLPgtYC2YLsAvaDAAMOAxwDIgMxgzeDQYNHA06DVQNag2C
DbgNxg36DiIOIg44DmYOsg7yDx4PMA+kD7gQDBBAEFoQbBB6EOIQ8BEWETYRYBGgEbAR2BH6EggS
NBJGEnASihK8EvoTXBOaE7wT3hQEFDgUYBSgFMgVHhVAFWQVihWyFcgV3hX2FhIWQhZ0FqYW2BcO
F1AXiBeiF+YYIhheGJ4Y4BkAGTYZhBnIGgwaVBqoGvIbUhuyHAQcQBx+HL4dAB0WHSwdRB1gHagd
7B4aHkgeeh66Hu4fCh9KH3ofqh/cIBAgLiBmIIogmCC2INAhFCFqIcgiEiI4IlwigCLAItIi5CLy
IwojGCNEI2YjhiOcI9Yj/iQoJDYkRCRSJGAkbiSCJJYkqiTEJOglACUaJY4lniWuJbwmACY6JmYm
oCbYJxYnOCdQJ24nfCeKJ5gnuCgSKEYomCi6KNYo8ikcKUgpcHjaxXwHeFzFtfDO3C3a3ovaSqvV
7qq3bWqrVdeutJIsrWRZxbItuduS3LvBBRfZGEwxCRhsA8b0GBtCe4YAwWAIj5ZHx0ASh0BCCAYC
JEFX/5m5u5Jsy+X93/d/v+Cupb0z55w5c/qce3kC3mYeD6/EJ3gMT8gT82Q8JY/nVFvUjNaiNaqR
RYrU2s3o+38/wD506gH2OtT2wKkH8ImRarSbN8r+zyhiR97hjaIsFvNGefCDefN5POTDZwCeCH5j
rFpGZPUi35zQnHRdSIfPjHyMU0d2DQ6SsQ+gE+j+6FitVesk1198Xl8bXHAvjX0fpcG4Wl4a3oqP
8OJ5SQAT4FnJ5XXSyymil8gKlwPuoGMBd93aOm9gu2KnfbtyuMJTsRauXco99l2K4461DoQ/hB/X
Ctcp+IF/XCtW8BBvw+jzuJrJ4OUQDGZA4rFbU4QioRkbDSIFUiKrNwd5nUKDs8Dj9eQwDru3DPkR
+lBV55MEBCWO7GaxUJ5tc/wyVraiWVOhCYWkjTFVBe6pEoFcn5+ctMuoWFirYjI6pDPLPUXlTnOm
WSUv3FazRDZrVsxAg7+63pWQEx8nk2RuDs6UdfB4At6O0W/xKP4WdsXES+Xl89zAJcDqLCAUWVPs
Xn2EHHuKUOumN877HpYgRla0A8mX1wWaFfLlgbrmarErv6BBLHH1hT5XLIMv4lbAvRqJqyA/JCH3
QgiPfFqCk3EQ1c2aFQjAhfIrKgoKKirYZPLV3rFvKiuxcSQBthB+GF4n0PsdPstLBFpLgI9OkVHk
4CjyeHMwkE4o54uMDGGtQWgWGssQUKmGQSJKMj7cfHyHb0Phsra+uaq4502xaoF81Y2tckFCksti
Xj8LZVWJkCAGSQUKoYIJ+sUxubumtkgkVeW+dnTqX/cX3NHStLF9dzg53Wep6e+vScy3WNTy29Aj
PrtMbpDqxFqRhrE4czJ8rPqYrS2/pK0C9v4IyFoclUMqhX+KSB+sCfF2sGexBdYkJ3JByTSK7Njr
0WCLauB4XFxPp2p4SaL5ND7bVviXa3f/pWhqE9IdOoASeGj0W/Ys2sXNZbx0pQ6vQSMSYoUSpsZ2
T1PtXGJO/Jg921b0+Z5dXxS1N7FfHTzA/ong/Sc6hMuAJjXB6zUSToLQg4Q7vEYv+r11o3rzQOos
hTd1vW7LgG2GAp/ZFsorLM4LbdvemF/kzQ9t41H6O0HRetCPPCmBQ7SE0xz0cNp78vfSAvQT/fh+
4L33Au+T8Ymjv+a9zhsivPDC2NcHq/qGnn6ag5XN+x7VIx/lk0VkKUFKBazQFyT3FsKI13iD0Xmv
6Zp0g0TLyb2C0dtxP8dfI3KiAvRJmE2ZzQR+fpKzGS2j3+HVwCc9SDnPqy3jEwlnFCAlOYyW4WRZ
68kBQRK25EmLKptLY/s2GfLlge6w1VzmzzDszVc2BcrXKQtEqtqS4NDfEd83w2OVXrOK/aFmnjtW
ZS1uQxXsD419vS1Ikd5Q0s/R9SV8fAJ0CXg8ixa4wiC8YZ/8i2F8R90I7B/PC8QNAl3JYBO9tjIx
VTSwDF4Pp4IigUXklSELzoixic1SvUTKyGuvma1pNgVDS+bM1clqa9lP0Tx51dc4RZgkSVTFG+Ll
dR0z25ZWNGyZVdTr+66O0tEI668GPJnwh5XTb6HIzHBKDoYmanXsmWCBonqNZC363Q0tPUrtkkyv
UiDU3rmgaFasRR6WNJXXzZNLG5vzZba6cIwkv8ATxO7pM+a0zHOrvN5C1ZzNuZmlU+qmdlf7Z5Q3
ZTqrqmEPUmCtzcALCZFWi9fiRU6GiIvNokWr4tgbpei/2/ubZE1x7LMooWW3H8eN/LVq9+voONBf
Bnq/HOYmAP0gFyLPuIVyjlsikQMp0Bw5+1G4MTCwWKM9tqR3kzCMO3yBqxSK9vppgQp8pu7jnF/2
zd+/dn5N66KG0OJmNZWPeuBPC9WFRGJVlGgMgYNYFhGYuzGuPNV7IivTO3OlXndsYIsnT6sOaxXN
t61VqDpqqrbgM++54nYtGfzltJr+6bNeQA3zFobaZs+KyC++GnAIqWyDzbR8gI7I2Cmd6Dj7CD5T
OdKL7yA2bhrQEoa9MoKs5nL2mJMFM4osGRQdPMVEE8zQP8oQSM+zSL7j+HSluC6ryCnV3Tln7lK1
oqvSltYpLnYWtIklxQXOtkFZfVXlYlNg+wAuQsHBxSFXq86wqLpv2zX91QuN2nAOKqitdbpAuJaj
8unTt/T2Ao/WAP2bgC7KI4vVj4QcLc4CI5Emrzviz4BTSNV7IjvbPXOVXnd8cLMnV6Nq0yqmNIbW
KZQdO7dQDg3cOq22r2s2x6HwnFmcngKPUAKOi/h20HLq2xP0TXoM6o7jBgfZNk7nMbEjKH7iWDUZ
G69v1C8t76ND28GsgH0Cfu7AfMp3m0iORLa52KJk3Wi7gnWh5DPNTz/VfAbg1fAW4SUQdXCxApEy
+G8d+kHOSuLpJ9pdd2Mdp9e5ALOHg+nNRl6BSOBDr7Frleh38pHPKgnA4BlC47Xw0QY8s/BsPJ7N
Siy0N7JlIqrnEV8LmohJAIBammTeylqtIUZaXubu1TP8Fj6Ov6Nt+gKVMMGdZE3Lk+t1jbpnCrvd
pSZzSnFLealYo+P3LVw3zezxxCcmV6QujPKnd/RbJgi+3csLAG4jER2QGk+qs2BMkMZ3EAIcHZDE
hR6Y20f4w0blylvGcDTjVzTlTzcsO1CsSUQxR7quD2qMx4LmXL6vMadCob0t3KhI9GzQYHGue6dG
lhyY5d3zRYLpxpsaD7MPih1JXUXIKFdiUXpS0Ya7zPWBwQf7Dv254aYZ62+zpNcFg32HG0pZbJdk
buovn1+Z+uKN21+s+D1yZQ8xjlirND17E6wpBhb2G9AhEVgR4gUQBHS5SIpOb+hEz065vytX3vz+
m29CDJjwZjVazu4h+lQPc9ojug0e16mNCKwZ6+BTaNWKYIVkUxx2hxRxvzvs1vrh387MCui1A1ku
BWMaKF2Ac5YUplQqRCZTvO+Ic7vXFtaoAsk1+Iw1Z/FCp8JdlqZd67Lg/T8qU0L2QqkKsb9l/6aw
dHVZlVRmBka/Y/pAFiDCtDkjMQvZDGy05jBRjpdh/Gqn582Vh39tNiPBPRWDddmSzpgkV3vB5jdM
sXs2e2YH7C93rfvkzkOfplUG7LrM/KRHt2x9zOKxcnYMPr6AtYp5mrGVAiqyLI+GLur0S8HaxOTP
n9AO3nTt8YIi37X4zFDfoYdexvtHfnUAaZrDlFYCZwDgSAkUUAOGu+qH0W1y9sk8VKtgn85DAYgJ
guxokP0pGJnTQHFPmAMz1sjZD/NRqpz9uIwM/7mefZTiWAzyuZLqBvgkYH6UBcB/8A5CUURgyzBo
CLO4Nz6jYtbGt2Pjbtq4dNb0VHavHL2pyqr8ZNmiA7U63fCLC5c8gFPzk1y/2jF8tMrfU91UMXfV
7GOLBx6ZtSxC2+nIeiD+YixwWbWW21uHW31oji88HPaz+/EZ9gkUHElArVEeIBsXUwAnYSWtw0Sw
6D076H8O3IsnGYiQilFKDqaOVG/GTqrnWpwzXZ1oziqvM7mKbBjjTsS3pekyy5U6yUzAJe3NyU5w
KJL8mWqNQGLLUaK0BFsRFhD4XUDvCeorKW7kFJNN7BpurURDXex2pJrHgi9jb0Nz2evZPWgGeydn
lxrg4yUu3iDzLKKG4fB6FAf7NDInskcMiUdkHB+0iLABWZlfNA6vOIiuWTHctIGd5z4Cw2/CAxB2
3zgyiG+MzEvj9laMCO9I3oUcqHzplOEp7An4hCm34IUwZWjkBkxt3yKQ9yWwv1KIunhaN5F1UDt+
Mk0ekj0ae7JwURKSHrr7cXMS+y/26ceXxl6H8Jt5e9if30BD6L4PTt9198en70ZbH/01wr9+jMp3
FXxsAPBKEgmAeBuMZnD5ICqZNBEkpooGwXbra79tCicmxelKHRmdwdWe8BtFq7rcCRkikcaQ2YnP
6OMSZs7vi0swsKfxfvatJFWl3VGpSiL2YiXI5Xqg2wTRUjHoqsjugK0VRvWVWmsDp7BGCBOMoMDE
ehDkOYiIMQRWzCp5mja12KxfsfrBXyWYUczhex5LlNhdSUb3n9GaU0kS/rTqoSZ1itm5wGTaexb1
hsQNuH3IV6f01fuLavmMQK9V1ZzZf+izTw66umosegeefecGZ0a8W5qQmN+6ddvRkZvypXW4MtYV
tCq4vSe8uYWTSar5YOWJEom0VmbMwAGbqoaf3+dKS5XJi+3hkm1d+0zr8yqVMbGJtsUrgLP2+MGy
cFmGRcj+DVXZPa0ZzYb4kTkUfghkvgH4UgSWdyxLBZl35PCpDzFjkdU1ltEazTGcCttDYdGUvJJ5
MqEqK9ci5seZC81qkeqXXanl7jhB6+KiHolQnpufJWTUMSmyRKleJEZ8zb65swZfb6luKbW6kvVS
BsXILPaKtN5BfWZjwdq6wuRsi16FkYhRxWiVxlhzqm76hpVA41bgwRTqH4AHVq9FZGWe2fC4HD0n
f2ID3h8M0qXAuHWwFqJfiUSKGAUicgTrKcNe+idRZ0cO8njfCncIBSKZwj+lwaiPE4s6Wjvk3uLG
6XNcSSa+GDQwMzXVbUpIsSQYPSkO9A6b2bjEUVhobq3Kp3huAoHK4mI+C0PUDaGc/R2b0KIOFsLN
kR14LTEoiHcLj8fXRPSSjiNDrQz6sLrdhQxl+Siujb2vJZf9DibtwcvplYA7R+6FueIJtg0xzniY
CVuOxKjmoRk7f+hl33pyxi/ZH9BVYCs+QA72VnYrZCq/4fgAePFJmBtD+MURyPwnb1/XCiTqYp/K
Q3z0GbsE7WWT2Z/peC2MnxO1A2DfvQhMNe5ks9ByBZsuQafZ3XL0e3zPyOGgG88N0jnTRsvQf7g9
EYjA6MCeoC7ZDw//IHt43+YK5kj5zx/Rca+P3o5e5uytgJCy4kj4CJfCIZ4VYJzkYECoQjMpq+yh
fQ/J/vnwCxWMrfznLm49B9BqyHMov+NJbCBFB86GFrQ0PIVWowH2JlLvIeNGvxzdij6HPJTgghUA
3TIx+n5jAdxDMjwVCxkZuYcgJ0Z571o+YGQ7ckn80Tl6Fp/C6TwVz0prT95oQE5MkRfpQfSpXkAE
QZNJfGp2vT5jc/CqdQbDibVT5sv1bKpYndrsrllhiYuRSGU9NT03QKLz+VBp5X0r1hxudC5lv0Op
obK0QEladlZGUWAjtXsBwPtYND8B7VYisHPRFMghQjT2BjEG5IHhepsu6+ralVuNxv9a1zBXq0cf
qWd39exNmdEzZzc+8+riogp0cMO6u6tKhpAc9azf+NhVW7h9Oov3wdrix+MTbl1WshSuMgGeDac3
Zt43Y+tVesNz63q3i0OyWb6OkCU/RjOnM7jq8Y7BB5atObyot6LaFx/O7l2L6in9hG9/A/pVtL4G
fBOOg/cjpI/4fQ+NAvDfhuv0PbdtXGcwPr2mdb5Mn8oiZffs7vp6hcaV1zP9BuKGh666d9Xau0J5
y06yGahjk7+iq8tXtoHL9c/izbAOI88MK7EIzcApD1gs6qNRJGERWDx2EaDazBokzra8ssWpje6W
UHvnSrvc8PyaVRVTRn5Gh8RzWtp3/1Tem4GK3VOzszquql19JNQbCi7Bi4Ff7bCSA2APtZytcULO
LlLwlYgIeHtns7Q5JvkZqVadFRsvFK2QruhEn5ZkPViCsNyQZ7GVsBZCa/6oEb8EtCbRqiATsZgO
p8FIttKPzhevc9j0UqdpRs4q76wN8nZ1Sm5F681qefqG0IarDMYT60ILFHrWppre3xWo0yhsWQu7
bsJxbOrOkCOrL5Qd51g1s6ak9vDqdXcH3UPs98DAMl/3FF/DWlhXIBL7GcckzUjCSPCvFC84FQZk
LFWTsrJ0dY7D6Am61Ympne2FLkURPnNyutOD6ys2sJ+gpG6n153bxL5O5BdWFz9Wh4VkgwE7+6y2
Xvvc7PrZeOO8eSNbiRYQWRl9ezQH5dKxWjpWiRjwuCkiL3Xu2rdhlqY/RpMWcCljZBK+N1veTyD0
j3ydVVKdJgR6xcE6rBuLY2vG4yibU0BsQv1wfROK72bfeq/jv91gxDtPf8W+jczsH+mccVrpHFjr
eNwH95hfwX5l0XsiTpaMtFxD/O0YjxTR3x12IWXY7FqVZUHB9EyJMlFX3d2bniBReOu96qS4QEue
ySCB3zWGxKbUKn2OohDHtee5fLIsh6bUkzKzln0HpfVnZRfGu/Ph18zm/EKEkmLzp7D/w4vShJcA
TQZKE2CGDQNfTPDbKSGAHMkFlhV1U6ZrJEVBj6qyIzyoAjT8Or27BKHagSr2dWTtnofQjDb2TU5f
v8U3A8xI7HZu4ZerM3Qanrnq6s1Zz1591aYZ6v7HbkiBC+zJyiP3/vXIkZWoe/36J9evJ7BSRl1g
u9IhIwGRN0a4Fk1BHUoExosaGBJPGQo8Kbtq9dlXh6YuS5Xrn1rXOk+us6NRSUJnTVd9QKUuKHj8
xtfw50tKq6ZuCqw4EsoffA19gNwzqvzlXd1lvvWAbxrgIzqlJlU1sDXna5HoPC3aVW/XJW0Nr90A
5mZ90xydjrUi1eyermBQrXMVdM3ZBZIZ99pAXujwynX31HgWs9+izg1lpT1d/vKtUXk5RHlFZcID
aWkKt+Xqqg1yUdNctQfHTevnB2d2sx/B+OrRs+h1GO8geU/EbhvN/PPLWY6IrTKg14OijPRMnySr
ICkxT68QSNY3BmYogqLCrJwakchV4y+VyJfUlYfRTRm5zoBDJRbHmZ2WYF9ns8tbkpGVp9eVltS2
kXSGRwpR+6J5XeRsA8zVss6F0oW2oG2VdBUxU6++Ss0TjF8GtnQ/jiOayHk7QhUohdBAdRHvn12r
SV4RWNmmA7lSV05rG1QWEUWeCXKFdy1G+expTqxQHpfzgUDMAnhCEj9YiZfHs9hTjUuaunijZB7Y
qAoUiU0GQNeGYCwXE4E7J5ENaO+LHU2Vr/qK/tzI/jHoeQlm1KDd7Er0XyOfo53sGm4uWBnsgrlS
Lq6BmIHRWh0i0T+2ds08Ou3Mrq75TyAdEr7xBvtv9qsPPqBzpoLc9MMcGmNwsdDUawabp/FGW9iq
197FKrYRPToSR8eSWv3XMJbkujQGEkE0JJegtewfpWiplL0O5Uo96P6SUnY6Oabg7YPITY3/Hjld
ShEqEa3nKZHQUEK+8COPg572eJxYLfXYkySpkqAtxS61ylR2j3TqAmOqrlmRUi1LNS7Cfy/JKHre
1aOVhYufK84o2fLcQGpI1FJ2chO39u/A9rqZebSG7lRbv6usZOb9ZzV3LwGii19wdIBlLSD4jSKg
RsjVff2IlhaBDLv1dYpVZk9WTNcB1qlAlVlmlTSkpKZIUmVqOz5esulkWYsolDrw3JaStNLnvO0K
Taf3eXcO4FnNO4Z9qJb4EGQkwbTdahc5POBIzHxSp8T5shK/vbIyrdgpL2m21gsTFQaNWGM3In9F
ozWVqSpvYVIZhSiGbzDSvG/Ui0w4/lz/8YQ+pH9uTmgOemhoaGQ3Th35mDtP4aXiVvw0jWPokRrh
q1MEcUw0RvISK4laK3UzGxSKjXM15ZpNcc3xPTULTFXBbnerY5k7dZFqZ0PjsKqvL25tqHtLb52/
Vkxgg87ijfhbXh7dR1JFipgSp4EmW1aL10n+BNWKGBwRiZ5I7GREf5A+U6OWeBsa89xSPtOABcqK
tCnV7Luy5TUqZeNKaTBeqr1noHMFauYHyoKLVZIUdENZTVtRmSWnRG8ym5pKkuOrkltbGsvyy/uu
G5xR1IB6g/58wp8CXhhfi7thzXZYNUlWHSKHl5SuHV6apHqNIkKh0RatZIPlk/jrQ02eXssMh0Lp
q8yvDDQ2uWZYeu0Kub+CvUbWvGmJTN64ZUm4KT+/Kb25rLGlZEp6S0H+lPQpZU0hf/OHpDRcUTl9
OvClGYgg8amJ8oXGQJFjIMIKqr0MHpA9b5S9Lft9ekv6m7I3ZbJnZXes7ljzj44/o9/4Uyr8n3zi
LwdjbWNfRkXsR1wN87tRD3Ixqsi+gzTriURXwA+jYhceZRfBmLpRNV4IcVg5rylqUUkOipKQOYZU
+C44KMhFOSIXsV+RLWKIA8pFMCkJ5B8vDPJ9HneLRGCMM94sEmkkaolcJGBUCzxK5XDf7OWGoLI2
VDVNJrDlPihhjCJtjAwzwrKSJKlye7i7e6HQlBB3rFUh9Z1KLMG+8tziAnO2VlrPZ6QxCoVGb4xX
zvC5m6cMLls2panSbXOapgqwQqRRmWJTNPb25PzStt7ZbAdKzNHJu23BmuTZsjLCCyTEi3EK/mq8
3m0h9e65poAJ8eEDf7UJfuBux+j3TBh/A3Yzluchpxm07MKVL4xjlV3gg5YG9pG6I+OdGPPjBHTo
0UQz+9PBQ782JyLBfnT9n+PiD+659i/xcbeL3Lg2L7BYoQpVSuOyHWkyj3FbS+ccnWZPX1M3/ubT
g3ee/viuA59lvnztdSdfvP7al9l/FebPaZ7Ww6jivants9cunL15GuzbDnQ3YmHfFCROPycnMHoF
46EupRGxJU5ZQVewUS5fUTs1Xsb+I8Zd2JCjEgqEYretoA1/yb5QEeyrCcxoqLoTZdRXmMwJhiR7
NZGhbl43Oore4QmINyC2w2gl9sBo7b6+7PpgmW9v2d56CJmeffbECbh4ET+1GQ+hbaSOprUAaZa1
6Ie8OivbgraxP5+43Fkl/5w9cPKqL7ULAgiGGFKOJhER2CgvCGMmbK/WCralTEhqLJPuRtwBuhv7
2cefUFsyE1VCxVSrURCD+R6BFDO5BYutnh/XJA1ioyJObVTIGYHaETfJ5qzlK0w5SaEkaW5GrV4n
7Yp1mJ5B194L4iaSq+KUCalyPqz1IzyMQ/hlmhND1o9DMna/DL9cVgb8vQvdh57DL4EvhJgb6RUo
xU5PrMYtDXpO2rem2tC/purfMTlTKmPIB/aiknB4TThcitIKC9PTiorIXmWO/hnPx1LYKSXAinRd
EEPCEBcbsAQs78vfp581cvSTHHUdOxY4ejTA7g4E6J50ozT0FOiIkdIJfixy1hI9UQVXh3aJ2Q/F
L9XEiBIzHF5xiTTV2Vjpl0lD96IeV949JZmp+SU5ZY7C2rKyij00DkHJ6D6AmU4s0AXnpCTAt9Ia
dXQPibcbKBNlp2YUxQjsuakxcem5AkFcYlKG0CcuKkpwFoulfqtVJJ1X0ZakQUezcwocFm9OlinO
jpA9MbNQW55bmqyocJQ2F9t4kBzjaTibUVLe24wCpEciNfsj3rnDs5mu2ToawIsgFjHQ6JoRGjnN
IVVaolIQYVu313u0cUn1QZdTnxecXaetGuq3KpKfxG+zp/szXMWFQ4gZ+XzusqbGh8k55eguiPlo
X4BRSzSScZI6Gggk8/rUvgVqSUlLOAslSEtuLrt59c2r0Ft9MwtbMrXFP3/GJP38B043rue9zDuL
PFQ3YP/O6pp0yDM0RO/dM5qGyCkD+OcJB7k52OuccJDrRempQonFKhR50sWaRDXK5CdrEgWMTm1S
p/gLmSxLiosvTzZZTAaN0aCcCXBPwd7P5WrfpBhMbGNrSbCLVOmq0U4X9Se3gM35gtakjWN5jYhI
rHfCCe8t8iX1oZBcvvK6Jn+Md2ZYEuMuyAvjAKrt66+undVXhXJrqp35tdWcj8rjdaFr0P9w9gUZ
YbkOK/1ExfXEtgSCxM6g/+Hsy4lniX04ABN/oDmmEGyEkUbDSCtyRghnomKP8IOssxy9VnXqdvZV
bjXlxdnibGWp8nQMMpK8FJZ37de4j66RfZ99Ka+1NRP5ATLgYAooP8T0jIWCtlA8F9GMBooB/ZOi
vE3CfiB+GdTEDGoSUypNcrVSNTkS4SfBPDJlTGOKHL7asnL/HsITPjkrZvpAZzCsT80rpZ0hWoJ6
fGWCK9Ml+JKJfeWOLELT73ZPWPtI+Mp0zO5XqNHSf+A+yqoxBskvoXbJiUlAecloOmbo+bKN2iKI
ashRA45abhpFRnwmhv9RSN+o72mSeyoykxwiaUWZa4ZOiFsQHyXcEe6drxJ58rIceTL00OBgc3Gn
OzXBk1gypbxEI2HUgr6F66c5QlkpyZUptM+JnnMy/0XPORXnnHRqjSLHxNPOW9+1fDDxxBPfuz1v
0wQYz04GA8zIRBjbiEX56RwoVmJdOBjPMwcpDPU5MMBVkXahiWBQ+i3hBdvDr5wDaPe21tZtE+jZ
Q2ElnAeLSxFA70msCuw9B+y9BmdRiifHnGUz5hen5WVZcs/BsKLAoVGZnfDByR6HZ39k3ZpzVx4J
mybCfzsaQZ0DdQeNpsbhvUzhGUjddyLlY/YDIoiJXv2cBehQRn5MTN1U+AikIKNDwE8wmhx8Qfw5
GB8tzcwoLc3ILM2yGo0Wi9GUQu3L6I9ABKJnXrAWKxo/jSVpp9apFeNdaJOc/UMeSlSwf8pDSQr2
hjT282e+/bZi7Hj2ww9RAor0JA2MptFz6GJSj59gf93n2N9oq8B5p9NE6NEDiSJJso2aZm2COpNv
UZv5fJ3GoLUU3rA/4aLn1opO72vyzPNN91TF+7dccJit7lw3dp49wJzk4oGJJ9EQdzsuOI0mujC2
ZOYkVYQojFOTwAA1uADGY5x3HYNSwbnZCJxB5n6AozmfFqoKF4CSceowDuv+MV3gaLqH0qQ9D1pE
RC8A1z8W6Y8BvIcTUkobGmJe4HIDp9YpRZQ/rcP4neQPiYwxL5ADjOg60AvA0+hYRkv50DqsRCIV
+xMdXbbDS+H6YOzbzF0wNlJB1UbX2jp88Bdkeafo+Lvoyui60J3MnRS2NDJjbD2tw0FjwIj48EEn
3Xk1/HA0+SN9C3JeHD254foWMhF4LOoymEj/wi2+T16sr01M/svRL/z18tfyXpO/lh/pY0D7UXCo
79ADr6DWIOKN8oLsj9F+BsydXzPD4AnjJ55g2y4wPOecaaPPjXk+qys7Kdumz/E58jMtuecec98J
pkeZ6LSrSYZKz7uprOoh6r/IiTfZl4ufeqtAgCc5+kZvRW06h+PUpXGQ/bwojn9S+Z4MSSOV9CiO
IxRHwsXXQeXg4ku5/Zbw/B3hVyZDdHx7OLydN2E9wxSX4+K4zt+li6LFJmN+Kbdjhhxfei74isko
uGF83/gRGu6J8DTxolRE5PjiS66NKuhkKI9F/AkiOoVXoX9Q/eCabWnv7byMLw/5Dv01/cuDJYec
J3/revFF129POk9yfGoafZ/Zx8iAwsRINELiI5JPkl2I2Gox4kofYsQZcvx9qH1pXrYaEse7h0LB
9oGCXI0Zxdw9xLaj54u6trxuisfVbFnR1C1vmEz46dZ1eTf33HXa1bwq/5bphz8aOYi+ynps8/Vo
kNWmP75pG9Ujem4OcUkiiSgveXJO4pRLn55/Sq31JU7Q8UNjNovD++yV4AXhvzTebyIW/lKY06gu
RPEeBLypl8EbUYhLo0bX3tI2f3vbK5dGvjfiJmDfOfz76bptl6MgIqCXIcE97kYuRcS1EXnFXI8A
8D6GVuKjXQKEzxM6BYycWZnQL8B4IzwkfSmkN1tDqs7khIRr2xFF+nZE57TtVA2HY5e0NJuTYsWS
UkfG1NDqxL7CVd2u+EzaudOFz+zUxSfMdLn64hL1+7GWfStJXWF3VKiTKK21o2dxN/4O4rQ8gqss
coQylk7kIDfBJzQYC+gBEKlORmMeBaptV6WmOOYW9E5XGRYGquTq2/oDnXHTnHmSQGHVXKky09Gb
Jk30zpTK/OWNeSYDerWjy5qetXzqEqdssLZrAwo17kYfsF8FalGLrzorFZVMKa1qKDVXRp5dOItP
gQ6T3gHHFXUPEB26og6Cp4gqXbKLAB2O6FKUDuX/hg7Y6yui4xCnWpemJDniZ7heim8oHRlXREdE
x66IFFQTCU8uTczOcV3j6Pk9pcd9hfSc75iujLTfGgqKU1055kybMceXmZ2ZknsZKudxKQ7nrzg6
v4rsX+aV7WDENlwRfV+OWYhLU3VNxEREaWJMlKZc+mTOFXDvwtyJquKV8TB9LKcSBbmcKj7PLhDE
X4bmR7gkK8M3Mcmie89fgdN56TwviUVJ1wjmzolofw23lhwmuhiniO63INqCT0+SSUsJOcbmr2Dj
BcklRQlDvY25t05r6FeZakyWXfWFnc4ULDA+s6axT2OsMXbfsNZf9bNKPXv61JvJuXZn7170JboV
9TT31OX9u7gtXTMU6m+ouvpqX0tqSX2jbd3dgfK1a3a0dQ2g6es2dUzzV2xyd/dWZkd6rNJo747n
cjndWEePaLyjh+Z0NfEx4slzOu/8Qb3xubWRXp+pTcmRXp+ExszDiozz07l2xf4la+5e1FtejUrj
uA4g99RFhMe0L4eR0b6clMt25lDbd/nunINg+Sbv0EHXUYsXxau8UrzE1l0e7yZaMrkIZkkkZ4zg
BhtHcNsuiztq3y6PHmX+ggQSpy5CwDLOqvEj+L+KrN1++dVH7cTlSXjbFDQhAViJi9AwGM1NSX9E
kPbTTchNA7PrZydFvBbXXMeLjv0lrXVHx8J2kLGaMc8SKXxjUu9GDwJvz89NyfAt48YffxPJTQns
dZHzs/NyUzIla6LVixym8aK9MPfjL4GDxEuJ/Ig8Y2f0KiEQo4/lcA/kgFZB/ILGysigUr/+Vnos
v70t4HtPcmt/apI+9uSaVbtMsU8uz2s3xRjT2UfUM09cp1L1d8y4Hi8NeD1xybFxNr83p3J2x8C2
O/Evt1x9K3akJCZ42edR94arOzs2oQ0cj/Aa8FOGyNMMk3T8XOiYLtIDhN6cxBVN3haE3xh3QmPP
Yt4M+zqWi07WJUTUeLJOoYffgUz3/G4hdDcnCFHYysvABtmYDPZ1XCx6AfQkrqbJ9TZ9M57fTgY7
ooqTNjkVQWoLunchgh1j9R0Ox+/H89rJcZy/S5Oie8zIbVEWl9JmQkp7Aea55+wNP4L/q4k57aQc
jMj/ZHj/NJbNXoBta0Q5yDr/jnuwOKpTJAVBXosSwz/HdAEd+40c/SD/B/yGxYsWsa8HAlcvor6g
aPQTfBz7eFpePO2kdUZO6QnPI2fA0WzWFs1m5zSGQ0bDs1e1eJ1N7Y0mwzNXtzvZfcjjKOy+Qa1B
+9hX07w916s12De97eqV99oKe5qvgX/YpSicsL5n5o/sw/EbumdyOk37mkB2tfSkcJLOJhtxP5N1
N7F/fYezWpO0OH07Zsc4+MqLw89G4GYmhf/vMUs3CYbBiO3j+rK+Afhxk8N3RFzJZCgWjRvHSVC8
ywkxE8HxFV1D/EWwRN3FZGien2hQJ0H0NpUizPVdAa+oBEU7r4huj3dfraXedrwHi2mL8IH0Fj5J
c8tkevpJulXHHg3legvtE1oLjwazFHk7/RvWQ2S5ummeXpaD+epZvd3BBo0i1/n03teYR76pryq9
f+Wau+o81T+gD1DXhrLSGW3+yg2czeN6xL6itConUBvhwzjFD0YXP4HoJ6M+hfYM8n6gZ0tcjynp
guX6XxHtBH6F1kJ5fgw3wdOQ0rA2R9VRGfYeUt3pRHEK9ibvN+2FaB77ztz2BewXQeSgc+vgo5vr
79OCp4rMtt7aqmgtq3fPUsyqrUf1zkYnamT/6Av52Z3cczr83+GzIEl2ssuRSnS0a5KWwox+ZBEh
WgqLPG96MA8lKNgz3GmDSul9Ytbdj5rNCN8zsFelUqIh+c88007E/2+TYcfWLa/i/VzBur2tre/D
w3efntfc3hZk30WbHnti89Zjx8fyL/4yiGFTIXf30kiFKj4XqNgd50TgkaBlwqEtF30L+cvYBPns
Ft9gcmN+TVtnz4A876bWkp4CC+IbfrOxbbkqZc+s1RV1P6vV/Y9fr1L2dnfehP6CbhF0TGva9p8Z
i0rcU7JcPTVNYXtpQyhlzT2dgeI57d0LQQy2hsPb1xVXLp9D9Zs8C7OFuYNXxCv/Xz4NoyXNiCLr
//VDMY+EF2xre7nwf/tsDOMOh6/hbFM16LUH/xX8Us6VdqByNF9xIyr7CkfkZRpSkbS19Rpu77ka
035aY1JNrDJFFGtCpSkQjTvPKTbtH4/XyDMqC5lbeWICafwpFRu3iAseVmGXUG9eOPbQyq8pVZjo
H06HuI/CGe/yjDDjvGZPdpTY1JcLo02f+MsIv9HoH0Zz8R2gX+nUz1kZKs8QQtLjNNKES2pfIM4i
O2khFKI3Vks33eVIrxpI1cWapY4im1Z2ZI10i7EgvSxkEBukigJLjFIulgtkiC1hGxZkB0XVImO+
Ixk9X1Lda8ljfAjxzSKNUW2Wp4BNeBYvwqQXSUi6E6hXQCciHoALjWHMO3guXggyQZ6R5tb3Drce
/NfIHl2qBwjx3sdL8Cz8IbU7TsNY5vx+ZeKMWY4q3dJwdT/+MDc32+eisNBsSBBO0licixlOwqaS
mJv0ueXgBvQzYwJYpkjf1GQHrOi+CwoACUYTqQAwpslyfMR7YLSAPtkJ8mFxRo7xvSKu6QwjXa4l
IZERJMVrbOKUFGdejMBm1WtTtPE2eZ7CkxmXTdIN3nt4FW6GuE493tc6ofhTaHQWcZEaDaazLLnn
Bs2YdxpPw2vG+hm9RrDRRtHp36W8sRcuvGlv9u40uDh+A6vwWfw1PXF2R1SRK5vqYX9oxTTav0fa
TT5y5ukS3t3WtS5Lo1tee4fsR3HDeoM8tjMw/06TvqRI/KPMzxQ+OH//S30Hpi9+xMn4c7KPrwpu
m/7wpiVPZeT4ef9PeonIud4hbKO5Gkg+aW/TWoVgGj0aL2WcBV/b5tMJg1K9/9n4/vRg5qzY+mzs
nItuR2fYJ+a6k1egKSvY9+paUfIyeQF9Vm4K73ssG++760W/UrCtkXeEwD0+b8I95i7Fz72Re3/E
GaiBe66D6AFypPqy8Bny5hHEOwz3WiPvZwHpPzy/dgnOoC8lAX88+ivex7z59N0icC8H7rVy7yvB
vH/AvLfH3kUEUJ0EsstWlvUsXAQ6GYl5D04cp428UejBBTVLSuAimChAzHOP/gr1UFzck250nDsy
rjUyDGg6OroY9PXM2DtXaG8P2KjTtuPy48salh2TH7PhM69WjtyMF1e+ys3pgzlDMEcbnTPWpMvN
/ST5mOxYHVy2Bttx2fE6uJLxmYeq2C2Vr7xSia6qeoiD8yaSoAfQn0jWzaUUVDlRGGUVqBp6nDEx
IfSn8i5/eVZ2ObXtpAizkb7vhcu7YUWWyLVJ36TnjUY/hugPzBHxto1+yyd91lKQnGReJsQD1SRm
GnsXhnVCxxb3ZqIIIeNfCi72uiIGWdE2JF++l3tb0ZQasasvRF9W9GfFsr3NcSuvI68q6muUiN19
IeSf/AVGV418VnqF7y8quOgLjRBvGq8L2WnvWKQzdRrXjWqgnaiIV8Dr4o1G7tOesscnNJOBb9kI
g3ZxcmsFf7kVvVbBuujTSohXDDHKfZF3voiIpQDLwb3Vwkr12uMde/1L5E1XXOvvfRnqKX7fLKcE
eW3sH+SIsX2hMNm6c+aaVLoOX81CvUbRbSuXd9oq9HduqJmDbwpkFNX1uv21/p6CUFpyhybFX13Y
B3+uvK+Yizd+wiImB/JQC3kPBTG4fgS679VGzmYE1BQzItgfUhZ+N6lnY5tfxtQoO2I8scsr/bmK
pFGeUFmQ3zY/67exhpC15rakrUNTFflZlSKUsm3NzPqj71rbw5j56tFrlvVQPdqD0pjT9Hla0pOq
pf3nVi1jlSJL5LFgdKi1ce7fGluLar52zK1mTweXipFZvDSI0tAJ9hdoAUubctBS9no07HSyq/9/
2WQMuv49H4P/pu8uQpaURKQzjrtYlSfZoHe4XdyjeXDPaSng45FmoXjwF3cP+YqPzXnkX/9CM/99
h2ToplsGJUKs4qN5/LcUkqVXV0/5DJV+9tkB1dtKycASiep1YaTe9RNuYUphvyAf0DomvGqHi72d
nB6RlgxvdLFfK1v7B5ZbbU9tntGoNRzo8jdLkYAf19LSWIDrNlpENd7y5SqlE7/qLXn9+Re+29u/
5paqFF3c7qMjJQeXZgbXTW3m4mryUORO/APIu5LGXE6tyGZhcpCDPEJhkaAdHVdLRv6Nngsx8Zgv
qZe58AsjflD022JviDNsN9E9unv0NqYC/5HaRqvaqrbAZXVbmIplDezHDcvwAXz7zyyDyVVLxh8a
vQ0fhfFy8iywW4zcFr1Fr0V6Cz46chaZ2H+is+yaf7PfoofnutAQGvJU8tmH2AMM9+6r93APSiL6
R1KkTlLueI/rRb6kbl6qP/boaB/+mBkgPXuQujEih1drRoTrWvzx59VHmpTXbkdKjLDseWbgP/9E
f0vM9bKrBKUypY/pI/Z2N28P04B+Dzl7Du3f0eu4/AnDp9vloekTbJ5BAAGowMu9eMOoM9jAQGCR
mbwpxO2yMw29FblTi1NzQmnlPdNrPd35ifFeT1JV28ifkCI+XpcgNzPe+IycvCLIuI8hkyfRzRRX
p+UWlcBSgz3FlWlZadOr63orSywJ2drOZ0QqWYLMwq/SJ9cW5JV/kRhXxFS4arM85Zxe3To6Ff2d
2Uaf2BNRSdbrNHrdWKTsBZowEE8CZfR3ucqQoklVZFtq0uMVRpMZfo8120tTmNUeaWzmja3szR17
azyaQrkpZ7gDLQ1Pm5+UzunSVt4+iDxf4iXwCiMRXOTFI0TMIVEzC50FSYj7esK3AvLiuMak/LbE
/Cy/1ZJjsri6NQ5NOiSVIo1EpYjxZiUVhMnNau6eXWdn+CaJTq4VJ2Whkwn92tjUdFvcbGmMETaO
L2b4eHY8/dIeP1si1mOsEIj5DGnt4N3Gc+K12Brx03orXBby3kE32Gg3xN383MNP1rLs10Vp+Xcc
r/kRSb1YPdd5a/56zYL8W51r6Drv58WAHi3nPG42ctv0Ar3AaHFb8DY2A73LzkSHGNaCPp33leur
0lP41f0ujj8PwLwd0XlamOO2uW0I5j0CkzLQQXYWeo+1otN4OZn4Cn5l5C1iEnkvjr6FDzNq0Fvu
SUFGCymc3WEVihgttRj48Ntlb75dtmufLIYRyW++RcnwhXKwrkAIOsT2ovS4xPgE9kP2Has20cTR
0g4fSvrOtlgaPVrPecia+xPtO9AZPO9Z6y9m1z9Xr61Hn5IFTnjkeuRzvHEe99w2hWucBCp5r8Bk
MA/Y6ocvhPjqSML/AYCSJFMAAHjarVSxbhtHEJ2jSBmCDcN2YSROigmQdOelTqIAyWxM0jItQIgM
iUiTNEtySR54d0sfVxT4DWmSLoXt3oVbd0E+IkCafEOafEHe7o2jwIkQKAgXd/s4OztvZvfNEdGn
0VcUUfX7kl4Ljuh+9IngGm1GjwVv0GfRt4Lr8PlVcINatW8Eb9L92k+Cb9DxxkLwFu3Xm4Jv0sf1
l4Jv0+cNEnyHHjS+FnyXbjW+E3wP9p/BHtW38O9lyMTjiGL6TXCNbkU7gjeoG/UF1ymO3gpu0Cz6
XfAmxbXvBd+gH2q/CN6ixcaPgm/STn0m+DY9q78TfIdajS8E36WPGivB92B/RT2ytKA1lZTSlGbk
iOkNnoQOMHaR83vcCniHtjESoA6NsXdIBvgMEZbYayjHzHREBY2wWiK2f+uwNiaFNb8zw2A6/ZNz
Gf4ZzAbeK/Glnl2sy3Q6c/yGk4OD3di/WzHvbG8n3BnboeGz9dKZfMlHxciWC1tqZ8aKuZNlfOp3
LvnULE25gpWQ1gAF+wRWSKkIxfaBStBVZTggpi7N4TzocWelC8d9XY7B5Mbc9XY4aeSfokI6cjpL
MSdI1x/LPrUR/QkiHAJVfJdsl1wV08PAdIJDzBBCbSf77c6T7mEb1IE5EIP3YXd+MszoevGuCnKC
IE/DrV6m/BwBWG5WydwO2ijDwVRWBT14ew7aOewWpBNY/VkMg08LT0J7iLkHosFTrop6fsa4MYWn
3bOl8Va1m7RzPTfWTVSWDhPVUsne/t7/VOO/XXQ/5D4Ld8h4e/1pPC5odRx07L3nsFnUWCnaBXUW
Qc0p7EXQAYNrDZ0b+GnE8/F7H2i/8lZ/F1Xfulk64nTJml2pxybX5ZztBHp2piy0S22hMx6sF2ai
R4Z7InKYEe1ZSGgIwmM6x1zJsgiNOgBlHlLRkrRvLr9yKBo3sE6xLw0pxh+09Puiqq7QKG4CQlMO
+fh8CNEXMQ9szj2NLJcm5kN0hymm56l2sfSmzxptoyfY6bvcIeAjamJchKHCWVeEKnwvcqw5IaaZ
c4tHzebFxYXSPp4a2bzpEPO/RGviaAzK9Uekwv7cC+hKjmZmpjpTM5dfW06VTq+6aqiUcPgWw6ur
EnJKL3ARKKxr7Zwh4fTFubne94r/0hP/8N3yQekPIT9gZAAAeNptzWVw1wUABuDntw3GhoCUpAgS
UsL2J2Qo4AqUUCnpGGzInxTYRKVGN4pIKibtiUoqiAoopdRJt6CETcyvc3D7yHv33vPlvXtFkJuT
LXezkPslN6+BCJGiFFBQtEJixCrsAUUUVcyDiiuhpFJKe0gZZZVTXgUVPaySR1RWxaOqqqa6Gh5T
Uy211VHX4+qpL0583ncDDTXS2BOaSNDUk57STHMtPC1RkmQpUrXUyjOe1VobbbXznOe9oL0OOuqk
sxd10VU33fXQUy+99dFXWhDhY1NMtcMi100zz2zLrbUiiDTLGZMtcMttcy02w24X3PSedXLc8Z+P
fGq/vdbrp783pftRhn0OOOwnBx1ywwA/O+Koz7zkX/OdcMxxA/3hLzMNEjbYUEMM84HhRnjZSKNk
yfSK0X73qte9ZoxxxvrShyYYL9tEf/rbNidddsXnvvCr32x31TWrnPJLEOWsc8675LSLQYGgoHds
sNEWW31vk81+MMku031ij2986+sgOihkjveDGEusscxS/wSxQWErveVdq73hbQt95Ts7o7OGhePi
EuPyTblnKDnhng0S801KjkrNGjk8Jm1AONw4PtQkISZjVGZ4aFpmRvrdQSgU3yjfhP8BtYGSIAAA
AAAB//8AAnjaHctBDoAgDETRD5qAGw7lvTRyV/AUaPzSZtI3ixKAYnb+iWQWEsGbbRuHPrl0penu
Rm6Gfnj1Ov/4AOUhCRh42o2TzytEURTHv+e+Z2ZI4o0ZmiZJsrCw0CQLWUiiFL2wlBeN1DTEzIqQ
v0D+An+EpYW/QrGm3trej+8991JjTFnMPfec8znfe+55dyAAelDBFaSWNOrI0ZONzXgUJeDzE13M
CwxCu6MvCJBJkloDE9XjZBdTtYP9BBVd5w6P9+pYOGkenWCZdUZrXb31AqpYz61OOcPzihjBBGYw
jyVsYRtV1H3dDmusvSIHVlzjAan0y6zTkHVvd1xejuRG7uTR+HNNyeWN582tj9+zmyLv+oJTNNBE
DWf6E8YGMIgCs+OYxiJixvo1HuAJz3jj3kZsXyGpMrlJf8+s5vJ63wjpj2dXywdULmHM07k/6XbO
qQ62cEP/5AodueIvPeFetKcQ78ysanylJf7B+JqPBzrBss4Cqiyc1ncHdg24Dmu9O7fbM0bvWda+
/iLiFsKw83HV66Ri/YGOZNxGGhLZtu+ebfvqVWr28l2usyLDW75yAhGV8rpLdRfy9UY623PSEedo
bUp7oX5BbUprNfpw6alLT9l/U54n268xonN2XE65vNr05w0ZnmZ8v8Z2+QXiMEkdAAAAeNq9WFtM
XFUUXXdgoFDolGeBAfriWbVoq/b5UROLVJtaW6u0VaOJjR8aP4yffvmjpjEmShtRYgOl9BFBFGIm
1baCCO3UkDYE0jjYMQ2EWImNwWgbo9t19p1hmJEyU2YiK/vcc+4958zea+/z2MACkI5S3A3rlRde
fxULkMw3EIH5Yr184DXzDnaL3xx8OpBu1cGyirWvC1VYQ2xBLbbjObyIw7iEa5i0UqwMK5+9fXIQ
VylJSGI5Ks/CT7HY6tSynfO0yG84RmmjtFMs1v5EBt+PoJVyjNImv+A4n6ekF59S2lnvpngoZ2UI
52UKi6gDOMrLUV6O8nKUl6O8HOXlKC9HedHBPp9ROuHEl9TCw3fJ7DnMHkNsDXG+MWrukS7W+pGC
FvZupRyjtFGOU3rFTz19Us+etmX1as9Bli5a60IWSshtNdZiHTZgIzZjG3wYhR+OxWOGvcwR1/O4
iz0gt+QWEvonwzIqVwLoEj/RRBmUZjkqR+c14+8yOcdXn/ji1vlGWGucuJZQTv6yS4MEzThFXI57
FlopN2VQ619LLyPxzsb/Gs6crVnI6lBshd7Gpe+grStr/oCfTHyNxzHjVtkpp6dbk3akzRVvUWdM
/IqihXLljkf9fLv4TohOf0S0rxO+SA6iMRE7z8FVHm2tB3r9qOXlKPvUsP2Mxr6WFylntNZA+Z67
WSd38NlHjP+/npExW8cEzjgxU8dIX/HreKy2zr6Ktbyku9hI0BezRfjcUT/nqTARz64w64z3yXre
GaZZtnmOi+3UeYzJQu4cOnaENGRrRH6wn1r/iXEyAfdtV4UzqJXcNC3ehhLJ3vUZp/lUgj0zmWhf
R56S9m0g2p0gwLYd3ce1PDf97QN5l7ehwH4o7bafTBnaReQLGZCLcka6YzwV/DPXfQLsbJO2sBU0
YT+j3UTMWjarmc+BiG8HiKbp1iE5ZHY/U87o4zERKf327hpVx7Bdl56/Ecs5Eug1NdsJIoeJweC9
jB7o0xjtC/es2Q/NbWMerI7b0Rk9Rs1uF8s5H/R7PN6Xk3Ji5olk7/eRu374bTX4e4E9uyui7xtE
83SrURr1VtAYekN5T2v90iOnY7vRzC9jSOSMscWluRP8581LwXiThtAqiOjTGuSS2VJT+AkZ858D
D5ksF6tQRlgoJ5JQQThRSaQw06tGGr+vwkLcQ2RiNeFCDbFY8+hcZotrkY/7iSV4gCjEg4SbOeQ6
5pPriVJmkxuwjBnlRqzAJqKMueVm/s5WwsFMvJbZZR2RyoxzGzP4R4l0PEZkYAexCDuJLDxBZGMX
kYPdRB72EAV4iijC00Qx9hJLsY9Yjv3ESjxDlONNvEUb3yGceJ9IQQM+pP4fEbn4GJ9QzyNEBZqJ
IpwkknEK7dSqi8hGNzz83dNEDs4R5fiGcKCHKMe3xGJ8R+Sin8jBAOHGeaIIF4gKZtM+VDGjHiWv
V4lK/I1/aK8DW8iqi+MNVtDSLM3GSzhvKVGhHspW3ySpP5KVfafynqKMVynjqcp4mjKeroxnKOPF
yngmHiaWKOMleIQoVd4LlPdC5X2p8p6D7USRsp+Lx4k85d2tvFfiSWKZsr9S2S9T9pejnligPrDU
BwvVB/nqAwd98DatMD5IUvadyr5T2U9T9jOV/UK04AT1ND4oUR8UoAOfUx/jA7f6wI2vcJa/ZTxh
+8CBXqIUfUSeesKpnnCrJ6rUE2XqiUz1gQt+YpH6oJCjC3U1gH0qqX01WXYy5mvI6Rpyl07majlv
HdkpUF6KGZO7qd8etXwvLSzTKKtSC1drlNWonffSyiNcG820ZBNjycNZjA07qHsPuTWxs4v6XuB8
5j8u9Rod+1Sz/f8CFrXRpwAAAAEAAAAIAAAABAAOAAJpZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEA
AgAIAAwAAf9WAAEAAHjaY2BgYGQAgmOp20+B6B0dS0JhNABPZgcgAAA=) format('woff'), url('ITCAvantGardeStd-BkObl.ttf')  format('truetype'), url('ITCAvantGardeStd-BkObl.svg#ITCAvantGardeStd-BkObl') format('svg');
  font-weight: normal;
  font-style: normal;
}


